$COLOR_PB_LCD_DARK     : #90b068;
$COLOR_PB_LCD_LIGHT    : #b0c86e;

$COLOR_PB_KEY_TOP      : #F7F5EA;
$COLOR_PB_KEY_EDGE     : #C3B5AB #755E4E #59483B #C7B9B0;
$COLOR_PB_KEY_TOP_DARK : #e9e8e2;

$COLOR_PB_KEY_RED_TOP  : #F24E1B;
$COLOR_PB_KEY_RED_EDGE : #f70 #930 #930 #f60;

$COLOR_PB_KEY_BLK_TOP  : #232323;
$COLOR_PB_KEY_BLK_EDGE : #6C6C6C #000 #000 #676767;