/* //_{+hard-reset */
    $Option_hard-reset            : true;
/* //_}+hard-reset */
    $Option_hard-reset            : false !default;
    
/* //_{+is-web-doc-base-website */
    $Option_is_webdocbase_website : true;
/* //_}+is-web-doc-base-website */
    $Option_is_webdocbase_website : false !default;


/* //_{+enable-pbFont */
    $OPTION_USE_PBFONT          : false;
/* //_}+enable-pbFont */
    $OPTION_USE_PBFONT          : true !default;

/* //_{+enable-pbList */
    $OPTION_USE_PBLIST          : false;
/* //_}+enable-pbList */
    $OPTION_USE_PBLIST          : true !default;

/* //_{+nouse-webfont-fallback */
    $OPTION_USE_WEBFONT_FALLBACK : false;
/* //_}+nouse-webfont-fallback */
    $OPTION_USE_WEBFONT_FALLBACK : true !default;

/* //_{+enable-pbKey */
    $OPTION_USE_PBKEY            : false;
/* //_}+enable-pbKey */
    $OPTION_USE_PBKEY            : true !default;

/*
 * 3. Option
 *  //+nouse-pbchr
 *  //+nouse-pblcd
 */

/* //_{+nouse-pbchr */
    $OPTION_USE_PBCHR : false;
/* //_}+nouse-pbchr */
    $OPTION_USE_PBCHR : true !default;
    
/* //_{+nouse-pblcd */
    $OPTION_USE_PBLCD : false;
/* //_}+nouse-pblcd */
    $OPTION_USE_PBLCD : true !default;
