$ASSET_PATH_PBLCD : 'pbLCD/' !default;

$ASSET_PATH_PBFONT : 'pbFont/' !default;

$HAS_PAINT_BUG_AROUND_CSSP : $IS_LTE_GECKO09 or $UA_Gecko12 or $UA_Gecko13;

// Gecko ~0.8.1 では何故か border-box を設定しない方が良い
$PBCHRBASE_IS_BORDER_BOX : $BORDER_BOX_ALLWAYS or ( $OPTION_USE_PBCHR and ( $UA_Gecko09 or $UA_Gecko12 or $UA_Gecko13 or $UA_Gecko19 ) );

$IS_GECKO_USE_MOZ_OPACITY : $UA_Gecko09 or $UA_Gecko12 or $IS_GECKO13_TO_19;

/* ハイコントラストモードの white-on-black で Edge, IE8~11 で空白が四角になる https://twitter.com/pbrocky/status/1223672870749949952 */
$PATCH_FOR_PBCHR_SPACE : $IS_IE8_OR_9 or $UA_Modern;
