
/* pbKey
--------------------------------------------------------------------------------------*/
    kbd.pbKey, kbd.pbKeyBlk, kbd.pbKeyS, kbd.pbKeyRed {
        margin         : 0.5em 0.3em 0;
        top            : -0.2em;
        text-transform : uppercase;

    /* //_{^+is-web-doc-base-website */
        /* //_{#can-inline-block */
        display        : inline-block;
        /* //_}#can-inline-block */
        border         : 1px solid;
        cursor         : pointer;
        letter-spacing : -1;
        /* //_{@modern */
        -webkit-border-radius : 3px;
           -moz-border-radius : 3px;
             -o-border-radius : 3px;
        /* //_}@modern */
        /* //_{@ie9,@modern */
                border-radius : 3px;
        /* //_}@ie9,@modern */
        /* //_{#can-hover-pseudo-class */
        position       : relative;
        /* //_}#can-hover-pseudo-class */
    /* //_}^+is-web-doc-base-website */

    /* //_{#can-hover-pseudo-class */
        &:hover {
            top : -0.1em;
        }
    /* //_}#can-hover-pseudo-class */

    /* //_{^#ie7-win */
        line-height    : #{$BASE_LINE_HEIGHT - .5}; /* global な line-height から -0.5 */
    /* //_}^#ie7-win */

    /* //_{#ie7-win */
        height         : #{$BASE_LINE_HEIGHT + .5}em;
        line-height    : #{$BASE_LINE_HEIGHT + .5};
    /* //_}#ie7-win */
    }

    kbd.pbKey, kbd.pbKeyS {
        background     : #F7F5EA;
        padding        : 0.3em 1em 0.2em;
    /* //_{#ie7-win */
        padding        : 0 1em;
    /* //_}#ie7-win */
        border-color   : #C3B5AB #755E4E #59483B #C7B9B0;

    /* //_{@modern */
    /* //_{+is-web-doc-base-website */ /* web-doc-base サイトに埋め込む場合は dark_theme を使用するが、単独で使用する場合は不適 */
        @include media(dark_theme) {
    /* //_}+is-web-doc-base-website */
            /* //_{^+is-web-doc-base-website */
            @media only screen and (prefers-color-scheme:dark) {
            /* //_}^+is-web-doc-base-website */
                background : #e9e8e2;
            }
        /* //_{ */
        }
        /* //_} */
    /* //_}@modern */
    }

    kbd.pbKey {
        font-weight    : bold;
        color          : #111;
    }
    kbd.pbKeyS {
        color          : red;
        font-weight    : bold;
    }

    kbd.pbKeyRed {
        border-color   : #f70 #930 #930 #f60;
        background     : #F24E1B;
    }
    kbd.pbKeyBlk {
        border-color   : #6C6C6C #000 #000 #676767;
        background     : #232323;
    }
    kbd.pbKeyBlk, kbd.pbKeyRed {
        font-weight    : bold;
        color          : #fff;
        padding        : 0.3em 1em 0.2em;
    /* //_{#ie7-win */
        padding        : 0 1em;
    /* //_}#ie7-win */
    }