
/* pbKey
--------------------------------------------------------------------------------------*/
@if( $OPTION_USE_PBKEY ){
    kbd.pbKey, kbd.pbKeyS, kbd.pbKeyF, kbd.pbKeyBlk, kbd.pbKeyRed {
        margin         : 0.5em 0.3em 0;
        top            : -0.2em;
        font-family    : sans-serif;
        text-transform : uppercase;
        font-weight    : bold;

        @if( $Option_is_webdocbase_website == false ){
            @if( $IS_OLD_GECKO == false or $UA_Gecko19 ){
                @include inline-block;
            }
            border         : 1px solid;
            cursor         : pointer;
            letter-spacing : -1px;
            @if( $UA_Modern ){
                -webkit-border-radius : 3px;
                   -moz-border-radius : 3px;
                     -o-border-radius : 3px;
            }
            @if( $UA_Modern or $UA_IE9 ){
                border-radius : 3px;
            }
        }

        &:hover {
            @if( $CANUSE_HOVER_PSEUDO_CLASS ){
                position : relative; // https://twitter.com/pbrocky/status/1306510215806816258
                top      : -0.1em;
            }
        }

        @if( $IS_LTE_WIN_IE7 ){
            padding     : 0 1em;
            height      : #{$PARAGRAPH_LINE_HEIGHT + .5em};
            line-height : #{$PARAGRAPH_LINE_HEIGHT + .5};
            @if( $UA_IE7 ){
                zoom           : 1;
                vertical-align : baseline;
            }
        } @else {
            padding     : 0.3em 1em 0.2em;
            line-height : #{$PARAGRAPH_LINE_HEIGHT - .5}; /* global な line-height から -0.5 */
        }
    }

    kbd.pbKey, kbd.pbKeyS, kbd.pbKeyF {
        background   : $COLOR_PB_KEY_TOP;
        border-color : $COLOR_PB_KEY_EDGE;

        @if( $UA_Modern ){
            @if( $Option_is_webdocbase_website ){ /* web-doc-base サイトに埋め込む場合は dark_theme を使用するが、単独で使用する場合は不適 */
                @include media(dark_theme) {
                    background : $COLOR_PB_KEY_TOP_DARK;
                }
            } @else {
                @media only screen and (prefers-color-scheme:dark) {
                    background : $COLOR_PB_KEY_TOP_DARK;
                }
            };
        };
    }

    kbd.pbKey {
        color : #111;
        @if( $IS_LTE_WIN_IE7 ){
            sub {
                font-size   : 1em;
                line-height : #{$PARAGRAPH_LINE_HEIGHT + 1.1};
            }
        }
    }
    kbd.pbKeyS {
        color : #c00;
    }
    kbd.pbKeyF {
        color : #029;
    }

    kbd.pbKeyRed {
        color        : #fff;
        border-color : $COLOR_PB_KEY_RED_EDGE;
        background   : $COLOR_PB_KEY_RED_TOP;
    }
    kbd.pbKeyBlk {
        color        : #fff;
        border-color : $COLOR_PB_KEY_BLK_EDGE;
        background   : $COLOR_PB_KEY_BLK_TOP;
    }
}