/*
 * 1.Build Targets
 *  //@ie5win
 *  //@ie5mac
 *  //@ie55
 *  //@ie6
 *  //@ie7
 *  //@ie8
 *  //@ie9
 *  //@modern
 * 
 * 2.Group
 *  //#ie55-[@ie5win,@ie5mac,@ie55]
 *  //#ie6-win[@ie5win,@ie55,@ie6]
 *  //#ie7-win[@ie5win,@ie55,@ie6,@ie7]
 *  //#ie8-win[@ie5win,@ie55,@ie6,@ie7,@ie8]
 *  //#ie89[@ie8,@ie9]
 *  //#ie8-[@ie5mac,#ie8-win]
 *
 *  //#can-mq[@modern,@ie9]
 *  //#can-content[@modern,@ie9,@ie8]
 *  //#can-or-fix[@modern]
 *  //#content-fix[@ie5mac,#ie7-win,@modern]
 */

$COLOR_PB_LCD_BG    : #030D31;

$COLOR_TIP_0_BORDER   : #999;
$COLOR_TIP_0_BG       : #ccc;
$COLOR_TIP_0_BG_FOCUS : #eee;
$COLOR_TIP_0_BG_HOVER : #fff;

$COLOR_TIP_1_BORDER   : #c33;
$COLOR_TIP_1_BG       : #f66;
$COLOR_TIP_1_BG_FOCUS : #f22;
$COLOR_TIP_1_BG_HOVER : #f44;

$COLOR_TIP_2_BORDER   : #c33;
$COLOR_TIP_2_BG       : #f66;
$COLOR_TIP_2_BG_FOCUS : #f22;
$COLOR_TIP_2_BG_HOVER : #f44;

$COLOR_TIP_3_BORDER   : #3a3;
$COLOR_TIP_3_BG       : #6c6;
$COLOR_TIP_3_BG_FOCUS : #2c2;
$COLOR_TIP_3_BG_HOVER : #4c4;

$COLOR_TIP_4_BORDER   : #04c;
$COLOR_TIP_4_BG       : #08f;
$COLOR_TIP_4_BG_FOCUS : #04f;
$COLOR_TIP_4_BG_HOVER : #06f;

$COLOR_TIP_5_BORDER   : #c4c;
$COLOR_TIP_5_BG       : #f8f;
$COLOR_TIP_5_BG_FOCUS : #f4f;
$COLOR_TIP_5_BG_HOVER : #f6f;

$COLOR_TIP_6_BORDER   : #884;
$COLOR_TIP_6_BG       : #aa8;
$COLOR_TIP_6_BG_FOCUS : #aa4;
$COLOR_TIP_6_BG_HOVER : #aa6;

$COLOR_TIP_7_BORDER   : #c80;
$COLOR_TIP_7_BG       : #f80;
$COLOR_TIP_7_BG_FOCUS : #f70;
$COLOR_TIP_7_BG_HOVER : #f60;

$COLOR_TIP_8_BORDER   : #80c;
$COLOR_TIP_8_BG       : #80f;
$COLOR_TIP_8_BG_FOCUS : #60d;
$COLOR_TIP_8_BG_HOVER : #40b;

$COLOR_TIP_9_BORDER   : #480;
$COLOR_TIP_9_BG       : #4a0;
$COLOR_TIP_9_BG_FOCUS : #2a0;
$COLOR_TIP_9_BG_HOVER : #0a0;

$COLOR_TIP_A_BORDER   : #222;
$COLOR_TIP_A_BG       : #555;
$COLOR_TIP_A_BG_FOCUS : #444;
$COLOR_TIP_A_BG_HOVER : #333;

$COLOR_TIP_B_BORDER   : #2ff;
$COLOR_TIP_B_BG       : #8ff;
$COLOR_TIP_B_BG_FOCUS : #6ff;
$COLOR_TIP_B_BG_HOVER : #4ff;

$POSITION_TOOLTIP_TOP : 58px;
$POSITION_TOOLTIP_BTM : 37px;
