/*
 * pbLCD.css
 *
 * <pre class="pbLCD"><samp class="PB-100"><small><span class="pbShift">S</span> <span class="pbRUN">RUN</span> <span class="pbDEG">DEG</span></small>
 *  <a href="#hello" class="pbRng1 pbColor0" title="Hello" pbTip="_ c" hidefocus="true">
 *   <b class="pbChr01 pbCsr1 pbAph7" pbGhos="t2C">+</b>
 *  </a>
 *  &#32;
 *  <b class="pbChr02 pbCsrB pbAlp9">-</b>
 * </samp></pre>
 */

/*  Reset
--------------------------------------------------------------------------------------*/
/* //_{^+weak-reset */
    .pbLCD {
        white-space   : pre !important;
        margin-top    : 30px;
        margin-bottom : 30px;
    }
    .pbLCD :link, .pbLCD :visited {
        outline : 0 !important;
    }
/* //_}^+weak-reset */

/* //_{+weak-reset */
    .pbLCD {
        white-space : pre;
    }
/* //_}+weak-reset */

    /* reset */
    .pbLCD :link, .pbLCD :visited {
        text-decoration : none !important;
    }

/*  Container
--------------------------------------------------------------------------------------*/
    .pbLCD {
        width             : 200px;
        height            : 70px;
        position          : relative;
        background-color  : $COLOR_PB_LCD_BG;
        /* //_{@modern */
            @include highContrastForIE10ToEdge {
                & {
                    background-color : $COLOR_PB_LCD_BG;
                }
            }
        /* //_}@modern */
        @include unbreak-inside;

        /* //_{@modern */
        -webkit-border-radius : 7px;
           -moz-border-radius : 7px;
        /* //_}@modern */
        /* //_{@ie9,@modern */
                border-radius : 7px;
        /* //_}@ie9,@modern */
    }

    .pbLCD samp, .pbLCD small, .pbLCD small *
    /* //_{^#ie6-win */
    , .pbLCD a
    /* //_}^#ie6-win */
    /* //_{#ie6-win */
    , .pbLCD :link, .pbLCD :visited
    /* //_}#ie6-win */
    /* //_{#can-content */
    , [pbGhos]:before
    /* //_}#can-content */
    , .pbLCD b {
        position          : absolute;
        display           : block;
        padding           : 0;
        margin            : 0;
        border-width      : 0;
        /* //_{^#can-content */
        background-repeat : no-repeat;
        /* //_}^#can-content */
    }

    /* //_{#can-content */
    [pbGhos]:before,
    /* //_}#can-content */
    .pbLCD b {
        background-color  : none; /* pbChr の緑の背景色を消すので必要 */
        background-color  : transparent;
        /* //_{@modern */
            @include highContrastForIE10ToEdge {
                & {
                    background-color  : transparent;
                }
            }
        /* //_}@modern */
    }

    .pbLCD samp {
        width               : 100%;
        height              : 52px;
        @include createPosition( 8, -19 );
        top                 : 9px;
        left                : 0;
    /* //_{#can-content */
        &:before {
            clip        : rect( 19px 184px 71px 0 );
        }
    /* //_}#can-content */
    }

/*  bg image
--------------------------------------------------------------------------------------*/
    .pbLCD samp, .pbLCD small * {
    /* //_{#can-content */
        &:before {
            content     : url(#{ $ASSET_PATH_PBLCD + 'bg.png' });
            width       : 184px;
            height      : 71px;
            position    : absolute;
        }
    /* //_}#can-content */

    /* //_{^#can-content */
        background-image  : url(#{ $ASSET_PATH_PBLCD + 'bg.png' });
    /* //_}^#can-content */
    }

/*  PB Display:main
--------------------------------------------------------------------------------------*/
    .pbLCD a {
        top            : 23px;
        height         : 27px;
        /* //_{^+weak-reset */
        border-style   : solid;
        /* //_}^+weak-reset */
    }
    .pbLCD b {
        top    : 26px;
    }
    .pbLCD a b {
        top      : 3px;
    }