/*
 * pbLCD.css
 *
 * <pre class="pbLCD"><samp class="PB-100"><small class="EXT_S_RUN_DEG_TR_PRT_STOP">EXT S run DEG TR PRT stop</small>
 *  <a href="#" class="pbRng0B pbColor0" title="Hello" pbTip="_ c" hidefocus="true">
 *   <b class="pbChr01 pbCsr1 pbAph7" pbGhos="t2C">+</b>
 *   <!--b class="pbChr00 pbCsr2"> </b-->
 *  </a>
 *  &#32;
 *  <b class="pbChr02 pbCsrB pbAlp9">-</b>
 * </samp></pre>
 */

/*  CSS2.1 content
--------------------------------------------------------------------------------------*/
	#pbLCD-test {
		position   : static;
		top        : 0;
		left       : 0;
	}
	/* //_{#can-content */
	#pbLCD-test:after {
		content    : attr(title);
	}
	/* //_}#can-content */


/*  Reset
--------------------------------------------------------------------------------------*/
/* //_{^+weak-reset */
	.pbLCD {
		white-space       : pre !important;
	}
	.pbLCD a:link, .pbLCD a:visited {
		outline           : 0;
	}
/* //_}^+weak-reset */

/* //_{+weak-reset */
	.pbLCD {
		white-space       : pre;
	}
/* //_}+weak-reset */

	/* reset */
	.pbLCD a:link, .pbLCD a:visited {
		text-decoration  : none !important;
	}

/*  Container
--------------------------------------------------------------------------------------*/
	.pbLCD {
		width             : 202px;
		height            : 71px;
		margin-bottom     : 29px;
		position          : relative;
		background-color  : $COLOR_PB_LCD_BG;
		break-inside      : avoid;
		page-break-inside : avoid;

		/* //_{@modern */
		-webkit-border-radius : 7px;
		   -moz-border-radius : 7px;
		/* //_}@modern */
		/* //_{@ie9,@modern */
		        border-radius : 7px;
		/* //_}@ie9,@modern */
	}

	.pbLCD samp, .pbLCD small
	/* //_{^#ie6-win */
	, .pbLCD a
	/* //_}^#ie6-win */
	/* //_{#ie6-win */
	, .pbLCD a:link, .pbLCD a:visited
	/* //_}#ie6-win */
	/* //_{#can-content */
	, [pbGhos]:before
	/* //_}#can-content */
	, .pbLCD b {
		position          : absolute;
		display           : block;
		padding           : 0;
		border-width      : 0;
		margin            : 0;
		background-repeat :	no-repeat;
		background-color  : none !important; /* pbChr の緑の背景色を消すので必要 */

		background-color  : transparent !important; /* ie11 ie5モードで効いてる模様... */
	}

	.pbLCD samp {
		width               : 100%;
		height              : 67px;
		background-position : 9px 9px;
		top                 : 0;
		left                : 0;
	}

		.pbLCD small, .pbLCD b {
			text-indent : -999px;
		}

/*  bg image
--------------------------------------------------------------------------------------*/
	.pbLCD samp, .pbLCD small {
		background-image : url(pbLCD/bg.png); /* 10,216 png8 */
	}

/*  PB Display:main
--------------------------------------------------------------------------------------*/
	.pbLCD a {
		top            : 34px;
		height         : 27px;
		border-width   : 0;
		border-style   : solid;
	}
	.pbLCD b {
		top    : 37px;
	}
	/* //_{#can-content */
	[pbGhos]:before {
		content : ".";
		speech  : none;
		top     : 0;
		left    : 0;
	}
	/* //_}#can-content */
	.pbLCD a b {
		top      : 3px;
	}
	
	/* positions */
	.pbCsr0 {left: 17px}
	.pbCsr1 {left: 31px}
	.pbCsr2 {left: 45px}
	.pbCsr3 {left: 59px}
	.pbCsr4 {left: 73px}
	.pbCsr5 {left: 87px}
	.pbCsr6 {left:101px}
	.pbCsr7 {left:115px}
	.pbCsr8 {left:129px}
	.pbCsr9 {left:143px}
	.pbCsrA {left:157px}
	.pbCsrB {left:171px}
