/*
 * pbLCD.css
 *
 * <pre class="pbLCD"><samp class="PB-100"><small class="EXT_S_RUN_DEG_TR_PRT_STOP">EXT S run DEG TR PRT stop</small>
 *  <a href="#" class="pbRng0B pbColor0" title="Hello" pbTip="_ c" hidefocus="true">
 *   <b class="pbChr01 pbCsr1 pbAph7" pbGhos="t2C">+</b>
 *   <!--b class="pbChr00 pbCsr2"> </b-->
 *  </a>
 *  &#32;
 *  <b class="pbChr02 pbCsrB pbAlp9">-</b>
 * </samp></pre>
 */

/*  CSS2.1 content
--------------------------------------------------------------------------------------*/
    #pbLCD-test {
        position   : static;
        top        : 0;
        left       : 0;
    }
    /* //_{#can-content */
    #pbLCD-test:after {
        content    : attr(title);
    }
    /* //_}#can-content */


/*  Reset
--------------------------------------------------------------------------------------*/
/* //_{^+weak-reset */
    .pbLCD {
        white-space : pre !important;
    }
    .pbLCD :link, .pbLCD :visited {
        outline : 0 !important;
    }
/* //_}^+weak-reset */

/* //_{+weak-reset */
    .pbLCD {
        white-space : pre;
    }
/* //_}+weak-reset */

    /* reset */
    .pbLCD :link, .pbLCD :visited {
        text-decoration : none !important;
    }

/*  Container
--------------------------------------------------------------------------------------*/
    .pbLCD {
        width             : 200px;
        height            : 70px;
        margin-bottom     : 30px;
        position          : relative;
        background-color  : $COLOR_PB_LCD_BG;
        @include unbreak-inside;

        /* //_{@modern */
        -webkit-border-radius : 7px;
           -moz-border-radius : 7px;
        /* //_}@modern */
        /* //_{@ie9,@modern */
                border-radius : 7px;
        /* //_}@ie9,@modern */
    }

    .pbLCD samp, .pbLCD small, .pbLCD small *
    /* //_{^#ie6-win */
    , .pbLCD a
    /* //_}^#ie6-win */
    /* //_{#ie6-win */
    , .pbLCD :link, .pbLCD :visited
    /* //_}#ie6-win */
    /* //_{#can-content */
    , [pbGhos]:before
    /* //_}#can-content */
    , .pbLCD b {
        position          : absolute;
        display           : block;
        padding           : 0;
        margin            : 0;
        border-width      : 0;
        background-repeat : no-repeat;
    }

    /* //_{#can-content */
    [pbGhos]:before,
    /* //_}#can-content */
    .pbLCD b {
        background-color  : none; /* pbChr の緑の背景色を消すので必要 */
        background-color  : transparent; /* ie11 ie5モードで効いてる模様 -> border-color:transparent は ie7 から */
    }

    .pbLCD samp {
        width               : 100%;
        height              : 52px;
        background-position : 8px -19px;
        top                 : 9px;
        left                : 0;
    }

/*  bg image
--------------------------------------------------------------------------------------*/
    .pbLCD samp, .pbLCD small * {
        background-image : url(pbLCD/bg.png); /* 6,793 png8 */
    }

/*  PB Display:main
--------------------------------------------------------------------------------------*/
    .pbLCD a {
        top            : 23px;
        height         : 27px;
        border-style   : solid;
    }
    .pbLCD b {
        top    : 26px;
    }
    /* //_{#can-content */
    [pbGhos]:before {
        @include createPusedoBlock;
        /* TODO: content:attr(pbGhos) */
        top     : 0;
        left    : 0;
    }
    /* //_}#can-content */
    .pbLCD a b {
        top      : 3px;
    }
    
    /* positions */
    .pbCsr0 { left : #{$POSITION_LCD_SEG_OFFSET + 17}px}
    .pbCsr1 { left : #{$POSITION_LCD_SEG_OFFSET + 31}px}
    .pbCsr2 { left : #{$POSITION_LCD_SEG_OFFSET + 45}px}
    .pbCsr3 { left : #{$POSITION_LCD_SEG_OFFSET + 59}px}
    .pbCsr4 { left : #{$POSITION_LCD_SEG_OFFSET + 73}px}
    .pbCsr5 { left : #{$POSITION_LCD_SEG_OFFSET + 87}px}
    .pbCsr6 { left : #{$POSITION_LCD_SEG_OFFSET + 101}px}
    .pbCsr7 { left : #{$POSITION_LCD_SEG_OFFSET + 115}px}
    .pbCsr8 { left : #{$POSITION_LCD_SEG_OFFSET + 129}px}
    .pbCsr9 { left : #{$POSITION_LCD_SEG_OFFSET + 143}px}
    .pbCsrA { left : #{$POSITION_LCD_SEG_OFFSET + 157}px}
    .pbCsrB { left : #{$POSITION_LCD_SEG_OFFSET + 171}px}
