/*  PB Display:Conditions
--------------------------------------------------------------------------------------*/
    .pbLCD small {
        width        : 100%;
        text-indent  : -200px;
        overflow     : hidden;
        height       : 13px;
        line-height  :  1;
        top          :  6px;
        left         :  0;
    }

    /* runmode ext + stop */
/*  PB Display:Conditions
--------------------------------------------------------------------------------------*/
.pbEXT,
.pbShift,
.pbFNC,
.pbRUN,
.pbWRT,
.pbDEG,
.pbRAD,
.pbGRA,
.pbTR,
.pbPRT,
.pbSTOP {
    display           : block;
    /* //_{@ie5mac */
    width             : 1px;
    /* //_}@ie5mac */
    height            : 13px;
    line-height       : 1;    
    background-repeat : no-repeat;
    background-color  : transparent;
    position          : absolute;
    top               : 0;    
}
/* //_{@modern */
    @include highContrastForIE10ToEdge {
        .pbLCD small * {
            background-color  : transparent;
        }
    }
/* //_}@modern */
    .pbEXT {
        width               : 11px;
        left                : 15px;
        background-position : 0 0;
    }
    .pbShift,
    .pbFNC {width: 7px;left:28px;}
        .pbShift {background-position:-13px 0;}
        .pbFNC {background-position:-23px 0;}
    .pbRUN,
    .pbWRT {width: 14px;left: 35px;    }
        .pbRUN {background-position:-31px 0;}
        .pbWRT {background-position:-47px 0;}
    .pbDEG,
    .pbRAD,
    .pbGRA {width: 13px;}
        .pbDEG {background-position:-63px 0;left: 51px;}
        .pbRAD {background-position:-78px 0;left: 63px;}
        .pbGRA {background-position:-93px 0;left: 75px;}
    .pbTR {
        width: 8px;
        background-position:-108px 0;
        left: 90px;
    }
    .pbPRT {
        width: 12px;
        background-position:-118px 0;
        left: 144px;
    }
    .pbSTOP {
        width: 17px;
        background-position:-132px 0;
        left: 160px;
    }
