/*  PB Display:Conditions
--------------------------------------------------------------------------------------*/
    .pbLCD small {
        width        : 100%;
        height       : 13px;
        line-height  : 13px;
        top          :  6px;
        left         :  0;
    }

    /* runmode ext + stop */
/*  PB Display:Conditions
--------------------------------------------------------------------------------------*/
.pbLCD .ext,
.pbLCD .shift,
.pbLCD .function,
.pbLCD .run,
.pbLCD .wrt,
.pbLCD .deg,
.pbLCD .rad,
.pbLCD .gra,
.pbLCD .trace,
.pbLCD .prt,
.pbLCD .stop {
    display           :    block;
    /* //_{@ie5mac */
    width            :    1px;
    /* //_}@ie5mac */
    height            :    13px;
    line-height       : 13px;    
    background-repeat :    no-repeat;
    background-color  :    transparent;
    position          :    absolute;
    top               :    0;    
}
    .pbLCD .ext {
        width               : 11px;
        left                : 15px;
        background-position : 0 0;
    }
    .pbLCD .shift,
    .pbLCD .function {width: 7px;left:28px;}
        .pbLCD .shift {background-position:-13px 0;}
        .pbLCD .function {background-position:-23px 0;}
    .pbLCD .run,
    .pbLCD .wrt {width: 14px;left: 35px;    }
        .pbLCD .run {background-position:-31px 0;}
        .pbLCD .wrt {background-position:-47px 0;}
    .pbLCD .deg,
    .pbLCD .rad,
    .pbLCD .gra {width: 13px;}
        .pbLCD .deg {background-position:-63px 0;left: 51px;}
        .pbLCD .rad {background-position:-78px 0;left: 63px;}
        .pbLCD .gra {background-position:-93px 0;left: 75px;}
    .pbLCD .trace {
        width: 8px;
        background-position:-108px 0;
        left: 90px;
    }
    .pbLCD .prt {
        width: 12px;
        background-position:-118px 0;
        left: 144px;
    }
    .pbLCD .stop {
        width: 17px;
        background-position:-132px 0;
        left: 160px;
    }
