/*  color:common
--------------------------------------------------------------------------------------*/
/* //_{@modern */
    [pbTip]:after,
    .pbTail, .pbTailBtm {
            border-left-color   : transparent;
            border-right-color  : transparent;
        }
    @include highContrastForIE10ToEdge {
        [pbTip]:after {
            border-left-color  : transparent;
            border-right-color : transparent;
            background         : transparent;
        }
    }
/* //_}@modern */

    .pbColor0, .pbColor1, .pbColor2,
    .pbColor3, .pbColor4, .pbColor5,
    .pbColor6, .pbColor7, .pbColor8,
    .pbColor9, .pbColorA, .pbColorB {
        border-width : 0 0 2px !important;
        /* //_{^#ie55- */
        height       : 25px !important;
        /* //_}^#ie55- */
    }

/*  color:none
--------------------------------------------------------------------------------------*/
    /* //_{#can-content */
    [pbTip]:before { background : $COLOR_TIP_0_BG; border-color : $COLOR_TIP_0_BORDER; color : #111; }
    /* //_}#can-content */
    /* //_{#content-fix */
    .pbTip, .pbTipBtm { background : $COLOR_TIP_0_BG; border-color : $COLOR_TIP_0_BORDER; color : #111; }
    /* //_}#content-fix */

    /* //_{#can-content */
    [pbTip]:after
    /* //_}#can-content */
    /* //_{#can-or-fix */
        ,
    /* //_}#can-or-fix */
    /* //_{#content-fix */
    .pbTail, .pbTailBtm
    /* //_}#content-fix */
        {
            /* //_{@modern */
            border-top-color    : $COLOR_TIP_0_BORDER;
            border-bottom-color : $COLOR_TIP_0_BORDER;
            /* //_}@modern */
            /* //_{@ie7,@ie8,@ie9 */
            border-color        : $COLOR_TIP_0_BORDER transparent;
            /* //_}@ie7,@ie8,@ie9 */
            /* //_{#ie6-win,@ie5mac */
            border-color        : $COLOR_TIP_0_BORDER $COLOR_PB_LCD_BG;
            /* //_}#ie6-win,@ie5mac */
        }
/* //_{#weak-reset */
    /* //_{#can-content */
    [pbTip]:active:before , [pbTip]:focus:before { color : #111 }
    /* //_}#can-content */
    /* //_{#content-fix */
    a:active .pbTip, a:active .pbTipBtm
    /* //_{#can-focus-pseudo-class */
    , a:focus .pbTip, a:focus .pbTipBtm
    /* //_}#can-focus-pseudo-class */
        { color : #111 }
    /* //_}#content-fix */
/* //_}#weak-reset */

    /* //_{#can-content */
    [pbTip]:active:before , [pbTip]:focus:before { background : $COLOR_TIP_0_BG_FOCUS; }
    /* //_}#can-content */
    /* //_{#content-fix */
    a:active .pbTip, a:active .pbTipBtm
    /* //_{#can-focus-pseudo-class */
    , a:focus .pbTip, a:focus .pbTipBtm
    /* //_}#can-focus-pseudo-class */
        { background : $COLOR_TIP_0_BG_FOCUS; }
    /* //_}#content-fix */

/* //_{#can-attr-selector */
    [pbTip]:hover, [pbTip]:active
    /* //_{#can-focus-pseudo-class */
    , [pbTip]:focus
    /* //_}#can-focus-pseudo-class */
        { background : $COLOR_TIP_0_BG; }
/* //_}#can-attr-selector */

/* //_{^#can-attr-selector */
    .pbLCD :hover, .pbLCD :active { background : $COLOR_TIP_0_BG; }
/* //_}^#can-attr-selector */

    /* //_{#can-content */
    [pbTip]:hover:before { background : $COLOR_TIP_0_BG_HOVER; }
    /* //_}#can-content */
    /* //_{#content-fix */
    a:hover .pbTip, a:hover .pbTipBtm { background : $COLOR_TIP_0_BG_HOVER; }
    /* //_}#content-fix */

    /* //_{@modern */
    @include highContrastForIE10ToEdge {
        [pbTip] {
            background : transparent !important;
        }
    }
/* //_}@modern */

@mixin pbColor( $COLOR_NUM, $COLOR_TIP_BG, $COLOR_TIP_BG_FOCUS, $COLOR_TIP_BG_HOVER, $COLOR_TIP_BORDER ){
    .pbColor#{ $COLOR_NUM } {
        border-color : $COLOR_TIP_BG;

        /* //_{#can-content */
        &:before { background : $COLOR_TIP_BG; border-color : $COLOR_TIP_BORDER; color : #fff; }
        /* //_}#can-content */
        /* //_{#content-fix */
        & .pbTip, & .pbTipBtm { background : $COLOR_TIP_BG; border-color : $COLOR_TIP_BORDER; color : #fff; }
        /* //_}#content-fix */

        /* //_{#can-content */
        &:after
        /* //_}#can-content */
        /* //_{#can-or-fix */
            ,
        /* //_}#can-or-fix */
        /* //_{#content-fix */
        & .pbTail, & .pbTailBtm
        /* //_}#content-fix */
            {
                /* //_{@modern */
                border-top-color    : $COLOR_TIP_BORDER;
                border-bottom-color : $COLOR_TIP_BORDER;
                /* //_}@modern */
                /* //_{@ie7,@ie8,@ie9 */
                border-color        : $COLOR_TIP_BORDER transparent;
                /* //_}@ie7,@ie8,@ie9 */
                /* //_{#ie6-win,@ie5mac */
                border-color        : $COLOR_TIP_BORDER $COLOR_PB_LCD_BG;
                /* //_}#ie6-win,@ie5mac */
            }

        &:active
        /* //_{#can-focus-pseudo-class */
        , &:focus
        /* //_}#can-focus-pseudo-class */
        {
            background   : $COLOR_TIP_BG;
            border-color : $COLOR_TIP_BG_FOCUS;

            /* //_{#can-content */
            &:before { background : $COLOR_TIP_BG_FOCUS; }
            /* //_}#can-content */
            /* //_{#content-fix */
            & .pbTip,
            & .pbTipBtm { background : $COLOR_TIP_BG_FOCUS; }
            /* //_}#content-fix */
        }

        &:hover {
            background : $COLOR_TIP_BG;
            /* //_{#can-content */
            &:before { background : $COLOR_TIP_BG_HOVER; }
            /* //_}#can-content */
            /* //_{#content-fix */
            & .pbTip, & .pbTipBtm { background : $COLOR_TIP_BG_HOVER; }
            /* //_}#content-fix */
        }
    }
}
/* //_{@modern */
    @include highContrastForIE10ToEdge {
        [class^=pbColor], [class*=" pbColor"] {
            background : transparent !important;
        }
    }
/* //_}@modern */

@include pbColor( '1', $COLOR_TIP_1_BG, $COLOR_TIP_1_BG_FOCUS, $COLOR_TIP_1_BG_HOVER, $COLOR_TIP_1_BORDER );
@include pbColor( '2', $COLOR_TIP_2_BG, $COLOR_TIP_2_BG_FOCUS, $COLOR_TIP_2_BG_HOVER, $COLOR_TIP_2_BORDER );
@include pbColor( '3', $COLOR_TIP_3_BG, $COLOR_TIP_3_BG_FOCUS, $COLOR_TIP_3_BG_HOVER, $COLOR_TIP_3_BORDER );
@include pbColor( '4', $COLOR_TIP_4_BG, $COLOR_TIP_4_BG_FOCUS, $COLOR_TIP_4_BG_HOVER, $COLOR_TIP_4_BORDER );
@include pbColor( '5', $COLOR_TIP_5_BG, $COLOR_TIP_5_BG_FOCUS, $COLOR_TIP_5_BG_HOVER, $COLOR_TIP_5_BORDER );
@include pbColor( '6', $COLOR_TIP_6_BG, $COLOR_TIP_6_BG_FOCUS, $COLOR_TIP_6_BG_HOVER, $COLOR_TIP_6_BORDER );
@include pbColor( '7', $COLOR_TIP_7_BG, $COLOR_TIP_7_BG_FOCUS, $COLOR_TIP_7_BG_HOVER, $COLOR_TIP_7_BORDER );
@include pbColor( '8', $COLOR_TIP_8_BG, $COLOR_TIP_8_BG_FOCUS, $COLOR_TIP_8_BG_HOVER, $COLOR_TIP_8_BORDER );
@include pbColor( '9', $COLOR_TIP_9_BG, $COLOR_TIP_9_BG_FOCUS, $COLOR_TIP_9_BG_HOVER, $COLOR_TIP_9_BORDER );
@include pbColor( 'A', $COLOR_TIP_A_BG, $COLOR_TIP_A_BG_FOCUS, $COLOR_TIP_A_BG_HOVER, $COLOR_TIP_A_BORDER );
@include pbColor( 'B', $COLOR_TIP_B_BG, $COLOR_TIP_B_BG_FOCUS, $COLOR_TIP_B_BG_HOVER, $COLOR_TIP_B_BORDER );
