$TO_HEX : '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B' !default;

@for $i from 1 through 12 {
    .pbRng#{nth($TO_HEX, $i)} {
        left : #{$POSITION_LCD_SEG_OFFSET + 1 + ( 14 * $i )}px;

        .pbCsr#{nth($TO_HEX, $i)} {left : 2px}
    }
    @if $i < 12 {
        @for $j from $i + 1 through 12 {
            .pbRng#{nth($TO_HEX, $i) + nth($TO_HEX, $j)} {
                left : #{$POSITION_LCD_SEG_OFFSET + 1 + ( 14 * $i )}px;
    
                @for $k from $i through $j {
                    .pbCsr#{nth($TO_HEX, $k)} {
                        left : #{2 + 14 * ( $k - $i )}px;
                    }
                }
            }
        }
    }
}

.pbRng0 , .pbRng1 , .pbRng2 , .pbRng3 , .pbRng4 , .pbRng5 , .pbRng6 , .pbRng7 , .pbRng8 , .pbRng9 , .pbRngA , .pbRngB {width: 14px;}
.pbRng01, .pbRng12, .pbRng23, .pbRng34, .pbRng45, .pbRng56, .pbRng67, .pbRng78, .pbRng89, .pbRng9A, .pbRngAB {width: 28px;}
.pbRng02, .pbRng13, .pbRng24, .pbRng35, .pbRng46, .pbRng57, .pbRng68, .pbRng79, .pbRng8A, .pbRng9B {width: #{14*3}px;}
.pbRng03, .pbRng14, .pbRng25, .pbRng36, .pbRng47, .pbRng58, .pbRng69, .pbRng7A, .pbRng8B {width: #{14*4}px;}
.pbRng04, .pbRng15, .pbRng26, .pbRng37, .pbRng48, .pbRng59, .pbRng6A, .pbRng7B {width: #{14*5}px;}
.pbRng05, .pbRng16, .pbRng27, .pbRng38, .pbRng49, .pbRng5A, .pbRng6B {width: #{14*6}px;}
.pbRng06, .pbRng17, .pbRng28, .pbRng39, .pbRng4A, .pbRng5B {width: #{14*7}px;}
.pbRng07, .pbRng18, .pbRng29, .pbRng3A, .pbRng4B {width: #{14*8}px;}
.pbRng08, .pbRng19, .pbRng2A, .pbRng3B {width: #{14*9}px;}
.pbRng09, .pbRng1A, .pbRng2B {width: #{14*10}px;}
.pbRng0A, .pbRng1B {width: #{14*11}px;}
.pbRng0B {width: #{14*12}px;}