/**
 * Opera 7.2- does not support transparent png of background-image.
 * So create <img src="XXX.png"> under <b>.
 *
 * <b><img src="..a10.png" title="A"></b>
 */

/* //_{@modern */
    .pbLCD img {
        position : absolute;
        top      : 0;
        left     : -14px;
    }
/* //_}@modern */