/*  gif である cursol を奥へ
--------------------------------------------------------------------------------------*/
/* //_{@ie7,@ie8 */
	.pbLCD b {
		z-index             : 2;
	}
	.pbLCD .pbChrCS { /* ie7,8 */
		/* //_{@ie8 */
		z-index             : 0;
		/* //_}@ie8 */
		/* //_{@ie7 */
		z-index             : -1;
		/* //_}@ie7 */
	}

/*  Opacity
--------------------------------------------------------------------------------------*/
	.pbLCD .op1 {
		background-position-x : -178px;
	}
	.pbLCD .op2 {
		background-position-x : -158px;
	}
	.pbLCD .op3 {
		background-position-x : -138px;
	}
	.pbLCD .op4 {
		background-position-x : -118px;
	}
	.pbLCD .op5 {
		background-position-x : -98px;
	}
	.pbLCD .op6 {
		background-position-x : -78px;
	}
	.pbLCD .op7 {
		background-position-x : -58px;
	}
	.pbLCD .op8 {
		background-position-x : -38px;
	}
	.pbLCD .op9 {
		background-position-x : -18px;
	}
/* //_}@ie7,@ie8 */

/*  Balloon
--------------------------------------------------------------------------------------*/
/* //_{@ie8 */
	/* interaction balloon */
	.pbLCD a:focus:before,
	.pbLCD a:active:before { bottom : 58px; }
	.pbLCD a:hover:before  { bottom : 59px; }

	/* override */
	.pbLCD a[dwtip]:focus:before,
	.pbLCD a[dwtip]:active:before { top    : 36px; bottom : auto; }
	.pbLCD a[dwtip]:hover:before  { top    : 35px; bottom : auto; }

	/* interaction tail */
	.pbLCD a:focus:after,
	.pbLCD a:active:after { bottom : 54px; }
	.pbLCD a:hover:after  { bottom : 55px; }

	.pbLCD a[dwtip]:focus:after,
	.pbLCD a[dwtip]:active:after { top    : 32px; bottom : auto; }
	.pbLCD a[dwtip]:hover:after  { top    : 31px; bottom : auto; }
/* //_}@ie8 */

/* //_{@ie7 */
	/* interaction balloon */
	.pbLCD .pbTipTop:focus  .pbTip,
	.pbLCD .pbTipTop:active .pbTip { bottom : 58px; }
	.pbLCD .pbTipTop:hover  .pbTip { bottom : 59px; }

	/* override */
	.pbLCD .pbTipBtm:focus  .pbTip,
	.pbLCD .pbTipBtm:active .pbTip { top    : 36px; bottom : auto; }
	.pbLCD .pbTipBtm:hover  .pbTip { top    : 35px; bottom : auto; }

	/* interaction tail */
	.pbLCD .pbTipTop:focus  .pbTail,
	.pbLCD .pbTipTop:active .pbTail { bottom : 54px; }
	.pbLCD .pbTipTop:hover  .pbTail { bottom : 55px; }

	.pbLCD .pbTipBtm:focus  .pbTail,
	.pbLCD .pbTipBtm:active .pbTail { top    : 32px; bottom : auto; }
	.pbLCD .pbTipBtm:hover  .pbTail { top    : 31px; bottom : auto; }
/* //_}@ie7 */
