/*
 * pbLCD.css
 *
 * <pre class="pbLCD"><samp class="PB-100"><small><span class="pbShift">S</span> <span class="pbRUN">RUN</span> <span class="pbDEG">DEG</span></small>
 *  <a href="#hello" class="pbRng1 pbColor0" title="Hello" pbTip="_ c" hidefocus="true">
 *   <b class="pbChr01 pbCsr1 pbAph7" pbGhst="2C">+</b>
 *  </a>
 *  &#32;
 *  <b class="pbChr02 pbCsrB pbAlp9">-</b>
 * </samp></pre>
 */

/*  Reset
--------------------------------------------------------------------------------------*/
/* //_{+hard-reset */
    .pbLCD {
        white-space : pre !important;
    }
    .pbLCD :link, .pbLCD :visited {
        outline : 0 !important;
    }
/* //_}+hard-reset */

/* //_{^+is-web-doc-base-website */
    .pbLCD {
        margin-top    : 30px;
        margin-bottom : 30px;
    }
/* //_}^+is-web-doc-base-website */

/* //_{+is-web-doc-base-website */
    .pbLCD {
        white-space : pre;
    }
/* //_}+is-web-doc-base-website */

    /* reset */
    .pbLCD :link, .pbLCD :visited {
        text-decoration : none !important;
    }

/*  Container
--------------------------------------------------------------------------------------*/
    .pbLCD {
        width            : 200px;
        height           : 70px;
        position         : relative;
        background-color : $COLOR_PB_LCD_BG;
        @include highContrastForIE10ToEdge {
            & {
                background-color : $COLOR_PB_LCD_BG;
            }
        }
        @include unbreak-inside;

        /* //_{@modern */
        -webkit-border-radius : 7px;
           -moz-border-radius : 7px;
        /* //_}@modern */
        /* //_{@ie9,@modern */
                border-radius : 7px;
        /* //_}@ie9,@modern */
    }

    .pbLCD samp, .pbLCD small, .pbLCD small *
    /* //_{^#ie6-win */
    , .pbLCD a
    /* //_}^#ie6-win */
    /* //_{#ie6-win */
    , .pbLCD :link, .pbLCD :visited
    /* //_}#ie6-win */
    {
        position          : absolute;
        display           : block;
        padding           : 0;
        margin            : 0;
        border-width      : 0;
        /* //_{^#good-css-generated-content */
        background-repeat : no-repeat;
        /* //_}^#good-css-generated-content */
    }

    .pbLCD samp {
        width               : 100%;
        height              : 52px;
        @include createPosition( 8, -19 );
        top                 : 9px;
        left                : 0;
        @include highContrastForIE10ToEdge {
            & {
                font-size : 0; // Edge18 で空白文字が白塗りで画面に残る問題の回避 https://twitter.com/pbrocky/status/1223579247081476096
            }
        }
    /* //_{#good-css-generated-content */
        &:before {
            clip : rect( 19px 184px 71px 0 );
        }
    /* //_}#good-css-generated-content */
    }

/*  bg image
--------------------------------------------------------------------------------------*/
    .pbLCD samp, .pbLCD small * {
    /* //_{#good-css-generated-content */
        &:before {
            content     : url(#{ $ASSET_PATH_PBLCD + 'bg.png' });
            width       : 184px;
            height      : 71px;
            position    : absolute;
        }
    /* //_}#good-css-generated-content */

    /* //_{^#good-css-generated-content */
        background-image : url(#{ $ASSET_PATH_PBLCD + 'bg.png' });
    /* //_}^#good-css-generated-content */
    }

/*  PB Display:main
--------------------------------------------------------------------------------------*/
    .pbLCD a {
        top            : 23px;
        height         : 27px;
        /* //_{^+is-web-doc-base-website */
        border-style   : solid;
        /* //_}^+is-web-doc-base-website */
    }
    .pbLCD b {
        position         : absolute;
        top              : 26px;
        display          : block;
    /* //_{#ie55- */
        width            : 10px;
        height           : 21px;
    /* //_}#ie55- */

    /* //_{^+nouse-pbchr */
        /* //_{@legacy */
        /* override Gecko ~1.8.1 */
        @media \0 all {
            width  : 10px;
            height : 21px;
        }
        /* //_}@legacy */

        margin           : 0; /* pbChr reset */
        border-width     : 0; /* pbChr reset */
        background-color : transparent; /* pbChr reset */
        /* //_{#good-css-generated-content */
            &:before {
                border-width : 0; /* pbChr reset */
            }
        /* //_}#good-css-generated-content */
    /* //_}^+nouse-pbchr */

        /* //_{@legacy */
        background-image : none;
        &:before {
            content  : ".";
            display  : block;
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 10px;
            height   : 239px;
        }
        /* //_}@legacy */
    }
    .pbLCD a b {
        top : 3px;
    }

/* //_{#good-css-generated-content */
    /* //_{@ie9 */
    samp /* 9 だけ詳細度を上げる */
    /* //_}@ie9 */
    [pbGhst]:before {
        text-indent : 0;
        /* //_{@ie9,@modern */
        @include createPbChrUrl( 'x3.gif', 1582px, 21px );
        /* //_}@ie9,@modern */
        /* //_{@ie8 */
        @include createPbChrUrl( 'x3_x10.png', 1572px, 239px );
        /* //_}@ie8 */
    }
/* //_}#good-css-generated-content */

    /* //_{@ie8 */
    samp /* 8 だけ詳細度を上げる */
    [pbGhst=CS]:before {
        @include createPbChrUrl( 'x3_csr.gif', 12px, 239px );
    }
    /* //_}@ie8 */

    /* //_{@legacy */
    .pbLCD b:before,
    .pbLCD [pbGhst] {
        background-image : url(#{ $ASSET_PATH_PBLCD + 'x3_x10.png' });
    }
    .pbLCD .pbChrCS:before, // Opera ~8.54 何故かここで指定しないと上書きされない!
    .pbLCD [pbGhst=CS] {
        background-image : url(#{ $ASSET_PATH_PBLCD + 'x3_csr.gif' });
    }
    /*  Fallback for Opera lt 7.20
    --------------------------------------------------------------------------------------*/
    .operaLt720 {
        .pbLCD b {
            background-image : url(#{ $ASSET_PATH_PBLCD + 'x3_x10.png' });
        }
        .pbLCD .pbChrCS {
            background-image : url(#{ $ASSET_PATH_PBLCD + 'x3_csr.gif' });
        }
        .pbLCD b:before {
            background-image : none !important;
        }
    }
    /* //_}@legacy */

/* //_{@ie5mac,@ie7,@ie8 */
    .pbLCD b {
        z-index : 2;
    }
    .pbLCD .pbChrCS {
        /* //_{@ie5mac,@ie8 */
        z-index : 0;
        /* //_}@ie5mac,@ie8 */
        /* //_{@ie7 */
        z-index : -1;
        /* //_}@ie7 */
    }
/* //_}@ie5mac,@ie7,@ie8 */