/*
 * pbLCD.css
 *
 * <pre class="pbLCD"><samp class="PB-100"><small><span class="pbShift">S</span> <span class="pbRUN">RUN</span> <span class="pbDEG">DEG</span></small>
 *  <a href="#hello" class="pbRng1 pbColor0" title="Hello" pbTip="_ c" hidefocus="true">
 *   <b class="pbChr01 pbCsr1 pbAph7" pbGhst="2C">+</b>
 *  </a>
 *  &#32;
 *  <b class="pbChr02 pbCsrB pbAlp9">-</b>
 * </samp></pre>
 */

/*  Reset
--------------------------------------------------------------------------------------*/
@if( $Option_hard-reset ){
    .pbLCD {
        white-space : pre !important;
    }
    .pbLCD :link, .pbLCD :visited {
        outline : 0 !important;
    }
}

@if( $Option_is_webdocbase_website ){
    .pbLCD {
        white-space : pre;
    }
} @else {
    .pbLCD {
        margin-top    : 30px;
        margin-bottom : 30px;
    }
}

    /* reset */
    .pbLCD :link, .pbLCD :visited {
        text-decoration : none !important;
    }

/*  Container
--------------------------------------------------------------------------------------*/
    .pbLCD {
        width            : 200px;
        height           : 70px;
        position         : relative;
        background-color : $COLOR_PB_LCD_BG;
        @include highContrastForIE10ToEdge {
            & {
                background-color : $COLOR_PB_LCD_BG;
            }
        }
        @include unbreak-inside;

        @if( $UA_Modern ){
            -webkit-border-radius : 7px;
               -moz-border-radius : 7px;
        }
        @if( $UA_Modern or $UA_IE9 ){
             border-radius : 7px;
        }
    }

    .pbLCD samp, .pbLCD small, .pbLCD small *
    /* //_{^#ie6-win */
    , .pbLCD a
    /* //_}^#ie6-win */
    /* //_{#ie6-win */
    , .pbLCD :link, .pbLCD :visited
    /* //_}#ie6-win */
    {
        position          : absolute;
        display           : block;
        padding           : 0;
        margin            : 0;
        border-width      : 0;
        @if( $CANUSE_GOOD_CSS_GENERATED_CONTENT == false ){
            background-repeat : no-repeat;
        }
    }

    .pbLCD samp {
        width               : 100%;
        height              : 52px;
        @include createPosition( 8, -19 );
        top                 : 9px;
        left                : 0;
        @include highContrastForIE10ToEdge {
            & {
                font-size : 0; // Edge18 で空白文字が白塗りで画面に残る問題の回避 https://twitter.com/pbrocky/status/1223579247081476096
            }
        }
        @if( $CANUSE_GOOD_CSS_GENERATED_CONTENT ){
            &:before {
                clip : rect( 19px 184px 71px 0 );
            }
        }
    }

/*  bg image
--------------------------------------------------------------------------------------*/
    .pbLCD samp, .pbLCD small * {
        @if( $CANUSE_GOOD_CSS_GENERATED_CONTENT ){
            &:before {
                content     : url(#{ $ASSET_PATH_PBLCD + 'bg.png' });
                width       : 184px;
                height      : 71px;
                position    : absolute;
            }
        } @else {
            background-image : url(#{ $ASSET_PATH_PBLCD + 'bg.png' });
        }
    }