/*
 * pbLCD.css
 *
 * <pre class="pbLCD"><samp class="PB-100"><small><span class="pbShift">S</span> <span class="pbRUN">RUN</span> <span class="pbDEG">DEG</span></small>
 *  <a href="#hello" class="pbRng1 pbColor0" title="Hello" pbTip="_ c" hidefocus="true">
 *   <b class="pbChr01 pbCsr1 pbAph7" pbGhst="2C">+</b>
 *  </a>
 *  &#32;
 *  <b class="pbChr02 pbCsrB pbAlp9">-</b>
 * </samp></pre>
 */

/*  Reset
--------------------------------------------------------------------------------------*/
/* //_{+hard-reset */
    .pbLCD {
        white-space : pre !important;
    }
    .pbLCD :link, .pbLCD :visited {
        outline : 0 !important;
    }
/* //_}+hard-reset */

/* //_{^+is-web-doc-base-website */
    .pbLCD {
        margin-top    : 30px;
        margin-bottom : 30px;
    }
/* //_}^+is-web-doc-base-website */

/* //_{+is-web-doc-base-website */
    .pbLCD {
        white-space : pre;
    }
/* //_}+is-web-doc-base-website */

    /* reset */
    .pbLCD :link, .pbLCD :visited {
        text-decoration : none !important;
    }

/*  Container
--------------------------------------------------------------------------------------*/
    .pbLCD {
        width            : 200px;
        height           : 70px;
        position         : relative;
        background-color : $COLOR_PB_LCD_BG;
        @include highContrastForIE10ToEdge {
            & {
                background-color : $COLOR_PB_LCD_BG;
            }
        }
        @include unbreak-inside;

        /* //_{@modern */
        -webkit-border-radius : 7px;
           -moz-border-radius : 7px;
        /* //_}@modern */
        /* //_{@ie9,@modern */
                border-radius : 7px;
        /* //_}@ie9,@modern */
    }

    .pbLCD samp, .pbLCD small, .pbLCD small *
    /* //_{^#ie6-win */
    , .pbLCD a
    /* //_}^#ie6-win */
    /* //_{#ie6-win */
    , .pbLCD :link, .pbLCD :visited
    /* //_}#ie6-win */
    {
        position          : absolute;
        display           : block;
        padding           : 0;
        margin            : 0;
        border-width      : 0;
        /* //_{^#can-content */
        background-repeat : no-repeat;
        /* //_}^#can-content */
    }

    .pbLCD samp {
        width               : 100%;
        height              : 52px;
        @include createPosition( 8, -19 );
        top                 : 9px;
        left                : 0;
        @include highContrastForIE10ToEdge {
            & {
                font-size : 0; // Edge18 で空白文字が白塗りで画面に残る問題の回避 https://twitter.com/pbrocky/status/1223579247081476096
            }
        }
    /* //_{#can-content */
        &:before {
            clip        : rect( 19px 184px 71px 0 );
        }
    /* //_}#can-content */
    }

/*  bg image
--------------------------------------------------------------------------------------*/
    .pbLCD samp, .pbLCD small * {
    /* //_{#can-content */
        &:before {
            content     : url(#{ $ASSET_PATH_PBLCD + 'bg.png' });
            width       : 184px;
            height      : 71px;
            position    : absolute;
        }
    /* //_}#can-content */

    /* //_{^#can-content */
        background-image  : url(#{ $ASSET_PATH_PBLCD + 'bg.png' });
    /* //_}^#can-content */
    }

/*  PB Display:main
--------------------------------------------------------------------------------------*/
    .pbLCD a {
        top            : 23px;
        height         : 27px;
        /* //_{^+is-web-doc-base-website */
        border-style   : solid;
        /* //_}^+is-web-doc-base-website */
    }
    .pbLCD b {
        position          : absolute;
        top               : 26px;
        display           : block;

    /* //_{^+nouse-pbchr */
        margin            : 0; /* pbChr reset */
        border-width      : 0; /* pbChr reset */
        background-color  : transparent; /* pbChr reset */
        /* //_{#can-content */
            &:before {
                border-width      : 0; /* pbChr reset */
            }
        /* //_}#can-content */
    /* //_}^+nouse-pbchr */
    }
    .pbLCD a b {
        top      : 3px;
    }

/* //_{#can-content */
    /* //_{@ie9 */
    samp /* 9 だけ詳細度を上げる */
    /* //_}@ie9 */
    [pbGhst]:before {
        text-indent : 0;
        /* //_{@ie9,@modern */
        @include createPbChrUrl( 'x3.gif', 26px, 1793px );
        /* //_}@ie9,@modern */
        /* //_{@ie8 */
        @include createPbChrUrl( 'x3_x10.png', 190px, 3720px );
        /* //_}@ie8 */
    }
/* //_}#can-content */

    /* //_{@ie8 */
    samp /* 8 だけ詳細度を上げる */
    [pbGhst=CS]:before {
        @include createPbChrUrl( 'x3_csr.gif', 190px, 3px );
    }
    /* //_}@ie8 */

/* //_{@ie5mac,@ie7,@ie8 */
    .pbLCD b {
        z-index : 2;
    }
    .pbLCD .pbChrCS {
        /* //_{@ie5mac,@ie8 */
        z-index : 0;
        /* //_}@ie5mac,@ie8 */
        /* //_{@ie7 */
        z-index : -1;
        /* //_}@ie7 */
    }
/* //_}@ie5mac,@ie7,@ie8 */