/*
 * pbLCD.css
 *
 * <pre class="pbLCD"><samp class="PB-100"><small><span class="pbShift">S</span> <span class="pbRUN">RUN</span> <span class="pbDEG">DEG</span></small>
 *  <a href="#hello" class="pbRng1 pbColor0" title="Hello" pbTip="_ c">
 *   <b class="pbChr01 pbCsr1 pbAph7" pbGhst="2C">+</b>
 *  </a>
 *  &#32;
 *  <b class="pbChr02 pbCsrB pbAlp9">-</b>
 * </samp></pre>
 */

/*  Reset
--------------------------------------------------------------------------------------*/
@if( $Option_hard-reset ){
    .pbLCD {
        white-space : pre !important;
    }
    .pbLCD :link, .pbLCD :visited {
        @if( $CANUSE_OUTLINE ){
            outline : 0 !important;
        }
    }
}

@if( $Option_is_webdocbase_website ){
    .pbLCD {
        @if( $Option_hard-reset == false ){
            white-space : pre;
        }
        padding : 0;
    }
} @else {
    .pbLCD {
        @if( $HAS_PAINT_BUG_AROUND_CSSP == false ){
            margin-top    : $PBLCD_MARGIN;
            margin-bottom : $PBLCD_MARGIN;
        }
    }
}

    /* reset */
    .pbLCD :link, .pbLCD :visited {
        text-decoration : none !important;
    }

/*  Container
--------------------------------------------------------------------------------------*/
    .pbLCD {
        @include unbreak-column-inside;
        @include unbreak-page-inside;
        width    : 200px;
        position : relative;

        @if( $HAS_PAINT_BUG_AROUND_CSSP ){
            height : 70px + $PBLCD_MARGIN * 2;
        } @else {
            height           : 70px;
            background-color : $COLOR_PB_LCD_BG;
        }
        @if( $UA_Modern ){
            -webkit-border-radius : 7px;
               -moz-border-radius : 7px;
        }
        @if( $UA_Modern or $UA_IE9 ){
             border-radius : 7px;
        }
    }
    /*  Forced colors
    --------------------------------------------------------------------------------------*/
    @include forced-colors(native_or_ms){
        .pbLCD {
            border : 1px solid currentColor;
        }
    }
    @if( $FORCED_COLORS_SUPPORT ){
        @include forced-colors(fallback){
            .pbLCD {
                border : 1px solid red;
            }
        }
    }

    %ResetPBLCDElement {
        position     : absolute;
        display      : block;
        padding      : 0;
        margin       : 0;
        border-width : 0;
    }

    .pbLCD samp, .pbLCD small, .pbLCD small * { @extend %ResetPBLCDElement; }
    @if( $IS_LTE_WIN_IE6 ){
        .pbLCD :link, .pbLCD :visited { @extend %ResetPBLCDElement; }
    } @else {
        .pbLCD a { @extend %ResetPBLCDElement; }
    }

    .pbLCD samp {
        width  : 100%;
        left   : 0;
        @if( $HAS_PAINT_BUG_AROUND_CSSP ){
            top    : 0;
            height : 100%;
        } @else {
            @extend %PBLCDBackgroundImage;
            @include createPosition( 8, -19 );
            top    : 9px;
            height : 52px;
        }
        @if( $CANUSE_CSS_GENERATED_BLOCK ){
            &:before {
                clip : rect( 19px 184px 71px 0 );
            }
        }
    }
    /*  Forced colors
    --------------------------------------------------------------------------------------*/
    @include forced-colors(ms){
        .pbLCD samp {
            font-size : 0; // Edge18 で空白文字が白塗りで画面に残る問題の回避 https://twitter.com/pbrocky/status/1223579247081476096
        }
    }
