/*  PB Display tooltip and LCD segment
--------------------------------------------------------------------------------------*/
.pbLCD a {
    top    : 23px;
    height : 27px;
    @if( $Option_is_webdocbase_website == false ){
        border-style : solid;
    }
}
.pbLCD b {
    position : absolute;
    top      : 26px;
    display  : block;

    @if( $IS_LTE_IE55 ){
        width  : 10px;
        height : 21px;
    }

    @if( $OPTION_USE_PBCHR ){
        @if( $IS_OLD_GECKO ){
            width  : 10px;
            height : 21px;
        }

        margin           : 0; /* pbChr reset */
        border-width     : 0; /* pbChr reset */
        background-color : transparent; /* pbChr reset */
    } @else {
        @extend %PBChrBase;
    }
    
    &:before {
        @if( $CANUSE_GOOD_CSS_GENERATED_BLOCK ){
            top : 0;
            @if( $OPTION_USE_PBCHR ){
                border-width : 0; /* pbChr reset */
            } @else {
                display  : block;
                position : absolute;
            }
        }
    }
}
.pbLCD a b {
    top : 3px;
}

/*  Ghost
--------------------------------------------------------------------------------------*/
@if( $CANUSE_GOOD_CSS_GENERATED_BLOCK ){
    @if( $UA_IE8 ){
        .pbLCD [pbGhst]:before {
            text-indent : 0;
            @include createPbChrUrl( 'x3_x10.png', 1572px, 239px );
        }

        .pbLCD /* 8 だけ詳細度を上げる */
        [pbGhst=CS]:before {
            @include createPbChrUrl( 'x3_csr.gif', 12px, 239px );
        }
    } @else { // ie9, modern
        .pbLCD /* 9だけ詳細度を上げる */ [class^=pbChr]:after { // modern も forced-colors 用に詳細度を上げておく
            content : url(#{ $ASSET_PATH_PBLCD + 'x3.gif' });
        }
        .pbLCD /* 9だけ詳細度を上げる */ [pbGhst]:before { // modern も forced-colors 用に詳細度を上げておく
            text-indent : 0;
            @include createPbChrUrl( 'x3.gif', 1582px, 21px );
        }
    }
} @else if( $CANUSE_CSS_GENERATED_BLOCK ){ // Opera 7.2, 8, 9
    .pbLCD b {
        @if( $OPTION_USE_PBCHR ){
            background-image : none; /* pbChr reset  pbChr は bg-image で表示, pbLCD は content:url() で表示 */
        }
        &:after,
        &:before {
            position    : absolute;
            top         : 0;
            text-indent : 0;
            @if( $UA_Opera9 ){
                @include createPbChrUrl( 'x3.gif', 1582px, 21px, 1 );
            } @else {
                @include createPbChrUrl( 'x3_x10.png', 1572px, 239px, 1 );
            }
        }
    }
    @if( $UA_Opera72 or $UA_Opera8 ){
        .pbLCD .pbChrCS:after, // TODO ? -> Opera ~8.54 何故かここで指定しないと上書きされない!
        .pbLCD [pbGhst=CS]:before {
            @include createPbChrUrl( 'x3_csr.gif', 12px, 239px, 1 );
        }
    }
}

/*  patch
--------------------------------------------------------------------------------------*/
@if( $UA_IE8 or $UA_IE7 or $UA_MacIE5 ){
    .pbLCD b {
        z-index : 2;
    }
    .pbLCD .pbChrCS {
        @if( $UA_IE7 ){
            z-index : -1;
        } @else {
            z-index : 0;
        }
    }
}