/*  PB Display:Conditions
--------------------------------------------------------------------------------------*/
    .pbLCD small {
        width       : 100%;
        text-indent : -200px;
        overflow    : hidden;
        line-height :  1;
        left        :  0;
        @if( $HAS_PAINT_BUG_AROUND_CSSP ){
            @extend %PBLCDBackgroundImage;
            @include createPosition( 8, -18 );
            border-top       : 8px solid $COLOR_PB_LCD_BG;
            background-color : $COLOR_PB_LCD_BG;
            top              : $PBLCD_MARGIN;
            height           : 62px;
        } @else {
            top    : 6px;
            height : 13px;
        }
    }
    .pbLCD small * {
        @extend %PBLCDBackgroundImage;
        /*  Forced colors
        --------------------------------------------------------------------------------------*/
        @include forced-colors(ms){
            background-color : transparent;
        }
    }

/*  PB Display:Conditions
--------------------------------------------------------------------------------------*/
.pbEXT,
.pbShift,
.pbFNC,
.pbRUN,
.pbWRT,
.pbDEG,
.pbRAD,
.pbGRA,
.pbTR,
.pbPRT,
.pbSTOP {
    @if( $UA_MacIE5 ){
        width : 1px;
    }
    height      : 13px;
    line-height : 1;
    @if( $HAS_PAINT_BUG_AROUND_CSSP ){
        top : 6px;
    } @else {
        top : 0;
    }

    @if( $CANUSE_CSS_GENERATED_BLOCK ){
        overflow : hidden;
        &:before { text-indent : 0; }
    }
}

    .pbEXT {
        width : 11px;
        left  : 15px;
        @include createPosition( 0, 0 );
    }
    .pbShift,
    .pbFNC { width: 7px; left:28px; }
        .pbShift { @include createPosition( -13, 0 ); }
        .pbFNC { @include createPosition( -23, 0 ); }
    .pbRUN,
    .pbWRT { width: 14px; left: 35px; }
        .pbRUN { @include createPosition( -31, 0 ); }
        .pbWRT { @include createPosition( -47, 0 ); }
    .pbDEG,
    .pbRAD,
    .pbGRA { width: 13px; }
        .pbDEG { @include createPosition( -63, 0 ); left: 51px; }
        .pbRAD { @include createPosition( -75, 0 ); left: 63px; }
        .pbGRA { @include createPosition( -93, 0 ); left: 75px; }
    .pbTR {
        @include createPosition( -108, 0 );
        width : 8px;
        left  : 90px;
    }
    .pbPRT {
        @include createPosition( -118, 0 );
        width : 12px;
        left  : 144px;
    }
    .pbSTOP {
        @include createPosition( -132, 0 );
        width : 17px;
        left  : 160px;
    }
