/*  balloon
--------------------------------------------------------------------------------------*/
    @if( $CANUSE_GOOD_CSS_GENERATED_CONTENT or $IS_OLD_OPERA ){
        [pbTip]:before, [pbTip]:after { position : absolute; }
        [pbTip]:before { display : block; }
    }
        @if( $FALLBACK_CSS_GENERATED_CONTENT or $UA_IE8 ){
            .pbLCD div { position : absolute; }
        }

        /* //_{#can-focus-pseudo-class */
        .pbLCD :focus,
        /* //_}#can-focus-pseudo-class */
        .pbLCD :active { z-index : 998; }
        /* //_{#can-target-pseudo-class */
        .pbLCD :target,
        /* //_}#can-target-pseudo-class */
        .pbLCD a:hover { z-index : 999; }

        .pbLCD a:hover b {
            @if( $UA_IE5 or $UA_IE55 ){
                top : 3px;
            }
        }

/* tip body */
        /* //_{#good-css-generated-content,@opr7,@opr8,@opr9 */
        [pbTip]:before {
            content : attr(title);
        }
        [pbTip]:before
        /* //_}#good-css-generated-content,@opr7,@opr8,@opr9 */
        /* //_{@opr7 */
            ,
        /* //_}@opr7 */
        /* //_{#fallback-css-generated-content */
        .pbTip, .pbTipBtm
        /* //_}#fallback-css-generated-content */
            {
                font-size    : 12px;
                line-height  : 1em;
                padding      : 7px 5px; /* 5px * 2 + 1px * 2 = 12px = 1em -> boxModelFix */
                @if( $Option_is_webdocbase_website == false ){
                    border-style : solid;
                }
                border-width : 1px;
                text-align   : center;
            }
        @if( $CANUSE_ATTR_SELECTOR and $UA_IE7 == false ){
            [pbTip] { cursor : pointer; }
        } @else {
            .pbLCD a { cursor : pointer; }
        }

/* tail */
    /* //_{#good-css-generated-content,@opr7,@opr8,@opr9 */
        [pbTip]:after
    /* //_}#good-css-generated-content,@opr7,@opr8,@opr9 */
    /* //_{@opr7,@ie8 */
        ,
    /* //_}@opr7,@ie8 */
    /* //_{#fallback-css-generated-content,@ie8 */
        .pbTail, .pbTailBtm
    /* //_}#fallback-css-generated-content,@ie8 */
        {
            width               : 0; 
            height              : 0;
            @if( $Option_is_webdocbase_website == false ){
                border-style        : solid;
            }
            @if( $IS_LTE_WIN_IE6 or $UA_MacIE5 ){
                font-size   : 0;
                line-height : 0;
            }
        }

    @if( $CANUSE_GOOD_CSS_GENERATED_CONTENT or $IS_OLD_OPERA ){
        [pbTip]:after {
            @include createPseudoBlock;
            @if( $UA_Modern ){
                font-size : 0; /* Edge のハイコントラストモードで必要 */
            }
        }
    }
    @if( $CANUSE_GOOD_CSS_GENERATED_CONTENT or $UA_Opera9 ){
        [pbTip]:after    { border-width : 5px 4px 0; }
    }
    @if( $FALLBACK_CSS_GENERATED_CONTENT or $UA_IE8 ){
        .pbTail          { border-width : 5px 4px 0; }
    }

    @if( $CANUSE_GOOD_CSS_GENERATED_CONTENT or $UA_Opera9 ){
        [pbTip~=_]:after { border-width : 0 4px 5px; }
    }
    @if( $FALLBACK_CSS_GENERATED_CONTENT or $UA_IE8 ){
        .pbTailBtm       { border-width : 0 4px 5px; }
    }

/*  CSS3
--------------------------------------------------------------------------------------*/
@if( $UA_Modern or $UA_IE9 ){
    [pbTip]:before {
        @if( $UA_Modern ){
            -webkit-border-radius : 5px;
               -moz-border-radius : 5px;
        }
                    border-radius : 5px;
        @if( $UA_Modern ){
            -webkit-box-shadow : 1px 1px 2px $COLOR_PB_LCD_BG;
               -moz-box-shadow : 1px 1px 2px $COLOR_PB_LCD_BG;
        }
                    box-shadow : 1px 1px 2px $COLOR_PB_LCD_BG;
    }
    [pbTip]:target:before,
    [pbTip]:hover:before,
    [pbTip]:focus:before,
    [pbTip]:active:before {
        @if( $UA_Modern ){
            -webkit-box-shadow : 2px 1px 4px $COLOR_PB_LCD_BG;
               -moz-box-shadow : 2px 1px 4px $COLOR_PB_LCD_BG;
        }
                    box-shadow : 2px 1px 4px $COLOR_PB_LCD_BG;
    }
}

/*  interaction balloon
--------------------------------------------------------------------------------------*/
@if( $UA_Modern or $IS_IE8_OR_9 or $IS_LEGACY ){
    [pbTip]:before        { bottom : $POSITION_TOOLTIP_TOP; }
    [pbTip]:focus:before,
    [pbTip]:active:before { bottom : $POSITION_TOOLTIP_TOP + 1px; }
    /* //_{#can-target-pseudo-class */
    [pbTip]:target:before,
    /* //_}#can-target-pseudo-class */
    [pbTip]:hover:before  { bottom : $POSITION_TOOLTIP_TOP + 2px; }

    [pbTip~=_]:before        { top : $POSITION_TOOLTIP_BTM; bottom : auto; }
    [pbTip~=_]:focus:before,
    [pbTip~=_]:active:before { top : $POSITION_TOOLTIP_BTM + 1px; bottom : auto; }
    /* //_{#can-target-pseudo-class */
    [pbTip~=_]:target:before,
    /* //_}#can-target-pseudo-class */
    [pbTip~=_]:hover:before  { top : $POSITION_TOOLTIP_BTM + 2px; bottom : auto; }

    /* interaction tail */
    [pbTip]:after        { bottom : $POSITION_TOOLTIP_TOP - 4px; }/* bottom 基準 */
    [pbTip]:focus:after,
    [pbTip]:active:after { bottom : $POSITION_TOOLTIP_TOP - 3px; }
    /* //_{#can-target-pseudo-class */
    [pbTip]:target:after,
    /* //_}#can-target-pseudo-class */
    [pbTip]:hover:after  { bottom : $POSITION_TOOLTIP_TOP - 2px; }

    /*  Opera 7.20-8.54 には border 関連の指定のバグがあり、色と width を同時に指定する
    --------------------------------------------------------------------------------------*/
    @if( $UA_Opera7 or $UA_Opera8 ){
        [pbTip]:after
        /* //_{@opr7 */
        , .pbTail, .pbTailBtm
        /* //_}@opr7 */
        {
            border-left  : 4px solid transparent;
            border-right : 4px solid transparent;
        }
        [pbTip]:after
        /* //_{@opr7 */
        , .pbTail
        /* //_}@opr7 */
        {
            border-bottom-style : none;
            border-top          : 5px solid $COLOR_TIP_0_BORDER;
        }
        [pbTip~=_]:after
        /* //_{@opr7 */
        , .pbTailBtm
        /* //_}@opr7 */
        {
            border-top-style : none;
            border-bottom    : 5px solid $COLOR_TIP_0_BORDER;
        }
    }

    [pbTip~=_]:after        { top : $POSITION_TOOLTIP_BTM - 4px; bottom : auto; } 
    [pbTip~=_]:focus:after,
    [pbTip~=_]:active:after { top : $POSITION_TOOLTIP_BTM - 3px; }
    /* //_{#can-target-pseudo-class */
    [pbTip~=_]:target:after,
    /* //_}#can-target-pseudo-class */
    [pbTip~=_]:hover:after  { top : $POSITION_TOOLTIP_BTM - 2px; }

    .pbColor0, .pbColor1, .pbColor2,
    .pbColor3, .pbColor4, .pbColor5,
    .pbColor6, .pbColor7, .pbColor8,
    .pbColor9, .pbColorA, .pbColorB {
        &[pbTip]:before        { bottom : $POSITION_TOOLTIP_TOP - 2px; }
        &[pbTip]:focus:before,
        &[pbTip]:active:before { bottom : $POSITION_TOOLTIP_TOP - 1px; }
        /* //_{#can-target-pseudo-class */
        &[pbTip]:target:before,
        /* //_}#can-target-pseudo-class */
        &[pbTip]:hover:before  { bottom : $POSITION_TOOLTIP_TOP - 0; }
        
        &[pbTip]:after         { bottom : $POSITION_TOOLTIP_TOP - 6px; }
        &[pbTip]:focus:after,
        &[pbTip]:active:after  { bottom : $POSITION_TOOLTIP_TOP - 5px; }
        /* //_{#can-target-pseudo-class */
        &[pbTip]:target:after,
        /* //_}#can-target-pseudo-class */
        &[pbTip]:hover:after   { bottom : $POSITION_TOOLTIP_TOP - 4px; }

        &[pbTip~=_]:before { bottom : auto !important; }
    }
}

@if( $IS_LEGACY or $UA_IE7 ){
            .pbTip { bottom : $POSITION_TOOLTIP_TOP; }
    /* //_{#can-focus-pseudo-class */
    :focus  .pbTip,
    /* //_}#can-focus-pseudo-class */
    :active .pbTip { bottom : $POSITION_TOOLTIP_TOP + 1px; }
    /* //_{#can-target-pseudo-class */
    :target .pbTip,
    /* //_}#can-target-pseudo-class */
    a:hover .pbTip { bottom : $POSITION_TOOLTIP_TOP + 2px; }

            .pbTipBtm { top : $POSITION_TOOLTIP_BTM; }
    /* //_{#can-focus-pseudo-class */
    :focus  .pbTipBtm,
    /* //_}#can-focus-pseudo-class */
    :active .pbTipBtm { top : $POSITION_TOOLTIP_BTM + 1px; }
    /* //_{#can-target-pseudo-class */
    :target .pbTipBtm,
    /* //_}#can-target-pseudo-class */
    a:hover .pbTipBtm { top : $POSITION_TOOLTIP_BTM + 2px; }

            .pbTail { bottom : $POSITION_TOOLTIP_TOP - 4px; }
    /* //_{#can-focus-pseudo-class */
    :focus  .pbTail,
    /* //_}#can-focus-pseudo-class */
    :active .pbTail { bottom : $POSITION_TOOLTIP_TOP - 3px; }
    /* //_{#can-target-pseudo-class */
    :target .pbTail,
    /* //_}#can-target-pseudo-class */
    a:hover .pbTail { bottom : $POSITION_TOOLTIP_TOP - 2px; }

            .pbTailBtm { top : $POSITION_TOOLTIP_BTM - 4px; }
    /* //_{#can-focus-pseudo-class */
    :focus  .pbTailBtm,
    /* //_}#can-focus-pseudo-class */
    :active .pbTailBtm { top : $POSITION_TOOLTIP_BTM - 3px; }
    /* //_{#can-target-pseudo-class */
    :target .pbTailBtm,
    /* //_}#can-target-pseudo-class */
    a:hover .pbTailBtm { top : $POSITION_TOOLTIP_BTM - 2px; }

    .pbColor0, .pbColor1, .pbColor2,
    .pbColor3, .pbColor4, .pbColor5,
    .pbColor6, .pbColor7, .pbColor8,
    .pbColor9, .pbColorA, .pbColorB {
        .pbTip           { bottom : $POSITION_TOOLTIP_TOP - 2px; }
        &:focus  .pbTip,
        &:active .pbTip  { bottom : $POSITION_TOOLTIP_TOP - 1px; }
        &:hover  .pbTip  { bottom : $POSITION_TOOLTIP_TOP - 0; }
    
        .pbTail          { bottom : $POSITION_TOOLTIP_TOP - 6px; }
        &:focus  .pbTail,
        &:active .pbTail { bottom : $POSITION_TOOLTIP_TOP - 5px; }
        &:hover  .pbTail { bottom : $POSITION_TOOLTIP_TOP - 4px; }
    }
}

@if( $UA_IE8 ){
            .pbTail { bottom : $POSITION_TOOLTIP_TOP - 4px; }
    :focus  .pbTail,
    :active .pbTail { bottom : $POSITION_TOOLTIP_TOP - 3px; }
    a:hover .pbTail { bottom : $POSITION_TOOLTIP_TOP - 2px; }

            .pbTailBtm { top : $POSITION_TOOLTIP_BTM - 5px; }
    :focus  .pbTailBtm,
    :active .pbTailBtm { top : $POSITION_TOOLTIP_BTM - 4px; }
    a:hover .pbTailBtm { top : $POSITION_TOOLTIP_BTM - 3px; }
}

@if( $IS_LTE_WIN_IE6 ){
    @if( $UA_IE6 ){
                .pbTip { bottom : 55px; }
        :active .pbTip { bottom : 56px; }
        :hover  .pbTip { bottom : 57px; }

        .pbColor0, .pbColor1, .pbColor2,
        .pbColor3, .pbColor4, .pbColor5,
        .pbColor6, .pbColor7, .pbColor8,
        .pbColor9, .pbColorA, .pbColorB {
            .pbTip { bottom : 53px; }
            &:active .pbTip { bottom : 54px; }
            &:hover  .pbTip { bottom : 55px; }
        }
        /* interaction tail */
        .pbTail { top : -30px; }
        :active .pbTail { top : -31px; }
        :hover  .pbTail { top : -32px; }
    }
    @if( $UA_IE5 or $UA_IE55 ){
                .pbTip { bottom : 58px; }
        :active .pbTip { bottom : 57px; }
        :hover  .pbTip { bottom : 56px; }

        .pbColor0, .pbColor1, .pbColor2,
        .pbColor3, .pbColor4, .pbColor5,
        .pbColor6, .pbColor7, .pbColor8,
        .pbColor9, .pbColorA, .pbColorB {
            .pbTip { bottom : 56px; }
            &:active .pbTip { bottom : 55px; }
            &:hover  .pbTip { bottom : 54px; }
        }
        /* interaction tail */
        /* 2020/4/19, Win2k IE5 で上側が吹き出しが、下側は尻尾の位置が更新されない… */
        /* IE5.5- では tail のサイズが太るため上にいく tail は top 基準、下にくる tail は bottom 基準 */
                .pbTail { top : -32px; }
        :active .pbTail { top : -31px; }
        :hover  .pbTail { top : -30px; }
    }

                .pbTipBtm { top : 37px; }
        :active .pbTipBtm { top : 36px; }
        :hover  .pbTipBtm { top : 35px; } /* bottom で配置しないと IE5 で座標が更新され無いんですけど...*/

                .pbTailBtm { bottom : -11px; }
        :active .pbTailBtm { bottom : -10px; }
        :hover  .pbTailBtm { bottom :  -9px; }

        .pbColor0, .pbColor1, .pbColor2,
        .pbColor3, .pbColor4, .pbColor5,
        .pbColor6, .pbColor7, .pbColor8,
        .pbColor9, .pbColorA, .pbColorB {
            .pbTailBtm { bottom : -13px; }
            &:active .pbTailBtm { bottom : -12px; }
            &:hover  .pbTailBtm { bottom : -11px; }
        }
}

/* positon
--------------------------------------------------------------------------------------*/
@if( $CANUSE_GOOD_CSS_GENERATED_CONTENT or $IS_OLD_OPERA ){
    [pbTip~=a]:before {left: -5px} [pbTip~=b]:before {left:  2px}
    [pbTip~=c]:before {left:  9px} [pbTip~=d]:before {left: 16px}
    [pbTip~=e]:before {left: 23px} [pbTip~=f]:before {left: 30px}
    [pbTip~=g]:before {left: 37px} [pbTip~=h]:before {left: 44px}
    [pbTip~=i]:before {left: 51px} [pbTip~=j]:before {left: 58px}
    [pbTip~=k]:before {left: 65px} [pbTip~=l]:before {left: 72px}
    [pbTip~=m]:before {left: 79px} [pbTip~=n]:before {left: 86px}
    [pbTip~=o]:before {left: 93px} [pbTip~=p]:before {left:100px}
    [pbTip~=q]:before {left:107px} [pbTip~=r]:before {left:114px}
    [pbTip~=s]:before {left:121px} [pbTip~=t]:before {left:128px}
    [pbTip~=u]:before {left:135px} [pbTip~=v]:before {left:142px}
    [pbTip~=w]:before {left:149px}

    [pbTip~=a]:after {left:  3px} [pbTip~=b]:after {left: 10px}
    [pbTip~=c]:after {left: 17px} [pbTip~=d]:after {left: 24px}
    [pbTip~=e]:after {left: 31px} [pbTip~=f]:after {left: 38px}
    [pbTip~=g]:after {left: 45px} [pbTip~=f]:after {left: 52px}
    [pbTip~=i]:after {left: 59px} [pbTip~=j]:after {left: 66px}
    [pbTip~=k]:after {left: 73px} [pbTip~=l]:after {left: 80px}
    [pbTip~=m]:after {left: 87px} [pbTip~=n]:after {left: 94px}
    [pbTip~=o]:after {left:101px} [pbTip~=p]:after {left:108px}
    [pbTip~=q]:after {left:115px} [pbTip~=r]:after {left:122px}
    [pbTip~=s]:after {left:129px} [pbTip~=t]:after {left:136px}
    [pbTip~=u]:after {left:143px} [pbTip~=v]:after {left:150px}
    [pbTip~=w]:after {left:157px}
}

@if( $FALLBACK_CSS_GENERATED_CONTENT ){
    .pbTipPosA { .pbTip, .pbTipBtm  {left: -5px} } .pbTipPosB { .pbTip, .pbTipBtm  {left:  2px} }
    .pbTipPosC { .pbTip, .pbTipBtm  {left:  9px} } .pbTipPosD { .pbTip, .pbTipBtm  {left: 16px} }
    .pbTipPosE { .pbTip, .pbTipBtm  {left: 23px} } .pbTipPosF { .pbTip, .pbTipBtm  {left: 30px} }
    .pbTipPosG { .pbTip, .pbTipBtm  {left: 37px} } .pbTipPosH { .pbTip, .pbTipBtm  {left: 44px} }
    .pbTipPosI { .pbTip, .pbTipBtm  {left: 51px} } .pbTipPosJ { .pbTip, .pbTipBtm  {left: 58px} }
    .pbTipPosK { .pbTip, .pbTipBtm  {left: 65px} } .pbTipPosL { .pbTip, .pbTipBtm  {left: 72px} }
    .pbTipPosM { .pbTip, .pbTipBtm  {left: 79px} } .pbTipPosN { .pbTip, .pbTipBtm  {left: 86px} }
    .pbTipPosO { .pbTip, .pbTipBtm  {left: 93px} } .pbTipPosP { .pbTip, .pbTipBtm  {left:100px} }
    .pbTipPosQ { .pbTip, .pbTipBtm  {left:107px} } .pbTipPosR { .pbTip, .pbTipBtm  {left:114px} }
    .pbTipPosS { .pbTip, .pbTipBtm  {left:121px} } .pbTipPosT { .pbTip, .pbTipBtm  {left:128px} }
    .pbTipPosU { .pbTip, .pbTipBtm  {left:135px} } .pbTipPosV { .pbTip, .pbTipBtm  {left:142px} }
    .pbTipPosW { .pbTip, .pbTipBtm  {left:149px} }

    .pbTipPosA { .pbTail, .pbTailBtm { left:  3px} } .pbTipPosB { .pbTail, .pbTailBtm { left: 10px} }
    .pbTipPosC { .pbTail, .pbTailBtm { left: 17px} } .pbTipPosD { .pbTail, .pbTailBtm { left: 24px} }
    .pbTipPosG { .pbTail, .pbTailBtm { left: 45px} } .pbTipPosF { .pbTail, .pbTailBtm { left: 52px} }
    .pbTipPosI { .pbTail, .pbTailBtm { left: 59px} } .pbTipPosJ { .pbTail, .pbTailBtm { left: 66px} }
    .pbTipPosK { .pbTail, .pbTailBtm { left: 73px} } .pbTipPosL { .pbTail, .pbTailBtm { left: 80px} }
    .pbTipPosM { .pbTail, .pbTailBtm { left: 87px} } .pbTipPosN { .pbTail, .pbTailBtm { left: 94px} }
    .pbTipPosO { .pbTail, .pbTailBtm { left:101px} } .pbTipPosP { .pbTail, .pbTailBtm { left:108px} }
    .pbTipPosQ { .pbTail, .pbTailBtm { left:115px} } .pbTipPosR { .pbTail, .pbTailBtm { left:122px} }
    .pbTipPosS { .pbTail, .pbTailBtm { left:129px} } .pbTipPosT { .pbTail, .pbTailBtm { left:136px} }
    .pbTipPosU { .pbTail, .pbTailBtm { left:143px} } .pbTipPosV { .pbTail, .pbTailBtm { left:150px} }
    .pbTipPosW { .pbTail, .pbTailBtm { left:157px} }
}