/*  Opacity
-----------------------------------------------------------------------------*/
@mixin opacity( $opacity ){
    @if( $UA_Opera72 or $UA_Opera8 or $UA_IE8 ){
        top : #{ ( 1 - $opacity ) * -240px }
    }
    @if( $UA_Opera72 or $UA_Opera8 ){
        top : #{ ( 1 - $opacity ) * -240px } !important;
    }
    @if( $IS_LTE_WIN_IE7 ){
        background-position-y : #{ ( 1 - $opacity ) * -240px };
    }

    @if( $UA_Modern ){
        -khtml-opacity : $opacity;
    }
    @if( $IS_OLD_GECKO ){
        @if( $IS_GECKO_USE_MOZ_OPACITY ){
            -moz-opacity : $opacity;
        }
    }
    @if( $UA_Modern or $UA_IE9 or $UA_Opera9 ){
        opacity : $opacity;
    }
    @if( $IS_LTE_WIN_IE6 ){
        .pbLCD-AX & {
            filter : alpha(opacity=#{$opacity * 100});
        }
    }
}

@if( $CANUSE_CSS_GENERATED_BLOCK ){
    .pbAlp1:after, .pbAlp9[pbGhst]:before {
        @include opacity(0.1);
    }
    .pbAlp2:after, .pbAlp8[pbGhst]:before {
        @include opacity(0.2);
    }
    .pbAlp3:after, .pbAlp7[pbGhst]:before {
        @include opacity(0.3);
    }
    .pbAlp4:after, .pbAlp6[pbGhst]:before {
        @include opacity(0.4);
    }
    .pbAlp6:after {
        @include opacity(0.6);
    }
    .pbAlp7:after {
        @include opacity(0.7);
    }
    .pbAlp8:after {
        @include opacity(0.8);
    }
    .pbAlp9:after {
        @include opacity(0.9);
    }
} @else if( $UA_MacIE5 ){
    .pbChrCS.pbAlp1 { background-position: -180px 18px }
    .pbChrCS.pbAlp2 { background-position: -160px 18px }
    .pbChrCS.pbAlp3 { background-position: -140px 18px }
    .pbChrCS.pbAlp4 { background-position: -120px 18px }
    // .pbChrCS.pbAlp5 { background-position: -100px 18px }
    .pbChrCS.pbAlp6 { background-position:  -80px 18px }
    .pbChrCS.pbAlp7 { background-position:  -60px 18px }
    .pbChrCS.pbAlp8 { background-position:  -40px 18px }
    .pbChrCS.pbAlp9 { background-position:  -20px 18px }
} @else {
    .pbAlp1 {
        @include opacity(0.1);
    }
    .pbAlp2 {
        @include opacity(0.2);
    }
    .pbAlp3 {
        @include opacity(0.3);
    }
    .pbAlp4 {
        @include opacity(0.4);
    }
    .pbAlp6 {
        @include opacity(0.6);
    }
    .pbAlp7 {
        @include opacity(0.7);
    }
    .pbAlp8 {
        @include opacity(0.8);
    }
    .pbAlp9 {
        @include opacity(0.9);
    }
}

@if( $IS_LTE_WIN_IE6 ){
/* 薄い要素を後ろに
-----------------------------------------------------------------------------*/
    .pbAlp6, .pbAlp7, .pbAlp8, .pbAlp9 {
        z-index : 1;
    }
/*  if ActiveX filter enabled
* fallback 処理に対して、どうせ働かないからと filter を指定するのは NG
*  -> .pbLCD-AX 新しいcssの適用が無視される挙動に遭遇(IETester IE5.5)
* MultipleIEs IE5 で filter が効かない...
-----------------------------------------------------------------------------*/
    .pbLCD-AX .pbLCD b {
        background-position-y : 0;
    }
}