/*  Tooltip
--------------------------------------------------------------------------------------*/
    @if( $CANUSE_CSS_GENERATED_BLOCK ){
        [pbTip]:before, [pbTip]:after { position : absolute; }
        [pbTip]:before {
            display : block;
            content : attr(title);
        }
    }

    .pbLCD {
        @if( $CANUSE_CSS_GENERATED_BLOCK == false or $UA_IE8 ){
            div { position : absolute; }
        }
        @if( $HOVER_PSEUDO_CLASS_ONLY_LINK ){
            :hover {
                z-index : 999;
                b {
                    @if( $UA_IE5 or $UA_IE55 ){ top : 3px; }
                }
            }
        } @else if( $CANUSE_HOVER_PSEUDO_CLASS ){
            a:hover { z-index : 999; }
        }

        * {
            @include active-focus-pseudo-class {
                z-index : 998;
            }
        }

        @if( $CANUSE_TARGET_PSEUDO_CLASS ){
            :target { z-index : 997; }
        }
    }

    @if( $CANUSE_CUSTOM_ATTRIBUTE_SELECTOR and $UA_IE7 == false ){
        [pbTip] { cursor : pointer; }
    } @else {
        .pbLCD a { cursor : pointer; }
    }

/* Tooltip body */
        @include tooltip-body {
            @if( $UA_Gck-097 ){
                height : 12px; // この指定が無いと CSS-P の位置が他のブラウザと異なる!
            }
            font-size    : 12px;
            line-height  : 1;
            text-align   : center;
            padding      : 7px 5px; /* 5px * 2 + 1px * 2 = 12px = 1em -> boxModelFix */
            border-width : 1px;
            @if( $Option_is_webdocbase_website == false or $CANUSE_CSS_GENERATED_BLOCK ){
                border-style : solid;
            }
        }

/* Tooltip tail */
        @include tooltip-tail {
            width  : 0; 
            height : 0;
            @if( $Option_is_webdocbase_website == false or $CANUSE_CSS_GENERATED_BLOCK ){
                @if( $UA_Opera8 == false and $IS_Opera7x == false ){
                    border-style : solid;
                }
            }
            @if( $IS_LTE_WIN_IE6 or $UA_MacIE5 ){
                font-size   : 0;
                line-height : 0;
            }
        }

    @if( $CANUSE_CSS_GENERATED_BLOCK ){
        [pbTip]:after {
            @include create-CSS-generated-block;
            @if( $UA_Modern ){
                font-size : 0; /* Edge のハイコントラストモードで必要 */
            }
        }
        @if( $UA_Opera8 == false and $IS_Opera7x == false ){
            [pbTip]:after    { border-width : 5px 4px 0; }
            [pbTip~=_]:after { border-width : 0 4px 5px; }
        }
    }
    @if( $CANUSE_CSS_GENERATED_BLOCK == false or $UA_IE8 ){
        @if( $UA_Opera8 == false and $IS_Opera7x == false ){
            .pbTail { border-width : 5px 4px 0; }
            .pbTailBtm { border-width : 0 4px 5px; }
        }
    }

/*  CSS3
--------------------------------------------------------------------------------------*/
@if( $UA_Modern or $UA_IE9 ){
    [pbTip]:before {
        @if( $UA_Modern ){
            -webkit-border-radius : 5px;
               -moz-border-radius : 5px;
        }
                    border-radius : 5px;
        @if( $UA_Modern ){
            -webkit-box-shadow : 1px 1px 2px $COLOR_PB_LCD_BG;
               -moz-box-shadow : 1px 1px 2px $COLOR_PB_LCD_BG;
        }
                    box-shadow : 1px 1px 2px $COLOR_PB_LCD_BG;
    }
    [pbTip]:target:before,
    [pbTip]:hover:before,
    [pbTip]:focus:before,
    [pbTip]:active:before {
        @if( $UA_Modern ){
            -webkit-box-shadow : 2px 1px 4px $COLOR_PB_LCD_BG;
               -moz-box-shadow : 2px 1px 4px $COLOR_PB_LCD_BG;
        }
                    box-shadow : 2px 1px 4px $COLOR_PB_LCD_BG;
    }
}

/*  Interactions
--------------------------------------------------------------------------------------*/
@mixin positons-from-bottom( $from, $isElement : false ){
    bottom : $from;
    @if( $CANUSE_CSS_GENERATED_BLOCK and $isElement == false ){
        @if( $CANUSE_HOVER_PSEUDO_CLASS or $HOVER_PSEUDO_CLASS_ONLY_LINK ){
            &:hover { bottom : $from + 2px; }
        }
        @if( $CANUSE_ACTIVE_PSEUDO_CLASS or $ACTIVE_PSEUDO_CLASS_ONLY_LINK ){
            &:active { bottom : $from + 1px; }
        }
        @if( $CANUSE_FOCUS_PSEUDO_CLASS or $FOCUS_PSEUDO_CLASS_ONLY_LINK ){
            &:focus { bottom : $from + 1px; }
        }
        @if( $CANUSE_TARGET_PSEUDO_CLASS ){
            &:target { bottom : $from + 2px; }
        }
    } @else {
        @if( $HOVER_PSEUDO_CLASS_ONLY_LINK ){
            :hover & { bottom : $from + 2px; }
        } @else if( $CANUSE_HOVER_PSEUDO_CLASS ){
            a:hover & { bottom : $from + 2px; }
        }
        @if( $CANUSE_ACTIVE_PSEUDO_CLASS or $ACTIVE_PSEUDO_CLASS_ONLY_LINK ){
            :active & { bottom : $from + 1px; }
        }
        @if( $CANUSE_FOCUS_PSEUDO_CLASS or $FOCUS_PSEUDO_CLASS_ONLY_LINK ){
            :focus & { bottom : $from + 1px; }
        }
    }
}

@mixin positons-from-top( $from, $all : false, $isElement : false ){
    @content;
    top : $from;
    @if( $CANUSE_CSS_GENERATED_BLOCK and ( $isElement == false ) ){
        @if( $CANUSE_HOVER_PSEUDO_CLASS or $HOVER_PSEUDO_CLASS_ONLY_LINK ){
            &:hover { top : $from + 2px; @if( $all ){ @content; } }
        }
        @if( $CANUSE_ACTIVE_PSEUDO_CLASS or $ACTIVE_PSEUDO_CLASS_ONLY_LINK ){
            &:active { top : $from + 1px; @if( $all ){ @content; } }
        }
        @if( $CANUSE_FOCUS_PSEUDO_CLASS or $FOCUS_PSEUDO_CLASS_ONLY_LINK ){
            &:focus { top : $from + 1px; @if( $all ){ @content; } }
        }
        @if( $CANUSE_TARGET_PSEUDO_CLASS ){
            &:target { top : $from + 2px; @if( $all ){ @content; } }
        }
    } @else {
        @if( $HOVER_PSEUDO_CLASS_ONLY_LINK ){
            :hover & { top : $from + 2px; }
        } @else if( $CANUSE_HOVER_PSEUDO_CLASS ){
            a:hover & { top : $from + 2px; }
        }
        @if( $CANUSE_ACTIVE_PSEUDO_CLASS or $ACTIVE_PSEUDO_CLASS_ONLY_LINK ){
            :active & { top : $from + 1px; }
        }
        @if( $CANUSE_FOCUS_PSEUDO_CLASS or $FOCUS_PSEUDO_CLASS_ONLY_LINK ){
            :focus & { top : $from + 1px; }
        }
    }
}

@mixin colored-tooltip-positons-from-bottom( $tooltipfrom, $tailfrom ){
    & .pbTip { bottom : $tooltipfrom; }
    @if( $CANUSE_HOVER_PSEUDO_CLASS or $HOVER_PSEUDO_CLASS_ONLY_LINK ){
        &:hover .pbTip { bottom : $tooltipfrom + 2px; }
    }
    @if( $CANUSE_ACTIVE_PSEUDO_CLASS or $ACTIVE_PSEUDO_CLASS_ONLY_LINK ){
        &:active .pbTip { bottom : $tooltipfrom + 1px; }
    }
    @if( $CANUSE_FOCUS_PSEUDO_CLASS or $FOCUS_PSEUDO_CLASS_ONLY_LINK ){
        &:focus .pbTip { bottom : $tooltipfrom + 1px; }
    }

    @include colored-tooltip-tail-positons-from-bottom( $tailfrom );
}
@mixin colored-tooltip-tail-positons-from-bottom( $tailfrom ){
    & .pbTail { bottom : $tailfrom; }
    @if( $CANUSE_HOVER_PSEUDO_CLASS or $HOVER_PSEUDO_CLASS_ONLY_LINK ){
        &:hover .pbTail { bottom : $tailfrom + 2px; }
    }
    @if( $CANUSE_ACTIVE_PSEUDO_CLASS ){
        &:active .pbTail { bottom : $tailfrom + 1px; }
    }
    @if( $CANUSE_FOCUS_PSEUDO_CLASS ){
        &:focus .pbTail { bottom : $tailfrom + 1px; }
    }
}


@if( $CANUSE_CSS_GENERATED_BLOCK ){
/* Tooltip body above */
    [pbTip]:before {
        @include positons-from-bottom( $POSITION_TOOLTIP_TOP );
    }
/* Tooltip body under */
    [pbTip~=_]:before {
        @include positons-from-top( $POSITION_TOOLTIP_BTM ){
            bottom : auto !important;
        }
    }
/* Tooltip tail above */
    [pbTip]:after {
        @include positons-from-bottom( $POSITION_TOOLTIP_TOP - 4px );
    }
/* Tooltip tail under */
    [pbTip~=_]:after {
        @include positons-from-top( $POSITION_TOOLTIP_BTM - 4px ){
            bottom : auto !important;
        }
    }

    @if( $UA_IE8 ){
        /* Tooltip tail above */
        .pbTail {
            @include positons-from-bottom( $POSITION_TOOLTIP_TOP - 4px, true );
        }
        /* Tooltip body under */
        .pbTailBtm {
            @include positons-from-top( $POSITION_TOOLTIP_BTM - 4px, false, true );
        }
    }

    %tooltip-positions-for-modern {
    /* Colored Tooltip body above */
        &[pbTip]:before {
            @include positons-from-bottom( $POSITION_TOOLTIP_TOP - 2px );
        }
    /* Colored Tooltip tail above */
        &[pbTip]:after {
            @include positons-from-bottom( $POSITION_TOOLTIP_TOP - 6px );
        }

        @if( $UA_IE8 ){
            @include colored-tooltip-tail-positons-from-bottom( $POSITION_TOOLTIP_TOP - 6px );
        }
    }

    @if( $CANUSE_ALL_ATTRIBUTE_SELECTORS ){
        [class*=pbColor] { @extend %tooltip-positions-for-modern; }
    } @else {
        .pbColor0, .pbColor1, .pbColor2,
        .pbColor3, .pbColor4, .pbColor5,
        .pbColor6, .pbColor7, .pbColor8,
        .pbColor9, .pbColorA, .pbColorB { @extend %tooltip-positions-for-modern; }
    }
} @else if( $HAS_PAINT_BUG_AROUND_CSSP ){
    .pbTip {
        bottom : 69px + $PBLCD_MARGIN;
        a:hover & { bottom : 71px + $PBLCD_MARGIN; }
        :focus  & { bottom : 70px + $PBLCD_MARGIN; }
    }
    .pbTipBtm {
        top : 70px + $PBLCD_MARGIN;
        a:hover & { top : 72px + $PBLCD_MARGIN; }
        :focus  & { top : 71px + $PBLCD_MARGIN; }
    }
    .pbTail {
        bottom : 65px + $PBLCD_MARGIN;
        a:hover & { bottom : 67px + $PBLCD_MARGIN; }
        :focus  & { bottom : 66px + $PBLCD_MARGIN; }
    }
    .pbTailBtm {
        top : 65px + $PBLCD_MARGIN;
        a:hover & { top : 67px + $PBLCD_MARGIN; }
        :focus  & { top : 66px + $PBLCD_MARGIN; }
    }
} @else if( $UA_Opera70 or $UA_Gck130-190 or $UA_IE7 ){
/* Tooltip body above */
    .pbTip {
        @include positons-from-bottom( $POSITION_TOOLTIP_TOP );
    }
/* Tooltip body under */
    .pbTipBtm {
        @include positons-from-top( $POSITION_TOOLTIP_BTM );
    }
/* Tooltip tail above */
    .pbTail {
        @include positons-from-bottom( $POSITION_TOOLTIP_TOP - 4px );
    }
/* Tooltip body under */
    .pbTailBtm {
        @include positons-from-top( $POSITION_TOOLTIP_BTM - 4px );
    }

    %tooltip-positions-for-legacy {
        @include colored-tooltip-positons-from-bottom( $POSITION_TOOLTIP_TOP - 2px, $POSITION_TOOLTIP_TOP - 6px );
    }

    @if( $CANUSE_ALL_ATTRIBUTE_SELECTORS ){
        [class*=pbColor] { @extend %tooltip-positions-for-legacy; }
    } @else {
        .pbColor0, .pbColor1, .pbColor2,
        .pbColor3, .pbColor4, .pbColor5,
        .pbColor6, .pbColor7, .pbColor8,
        .pbColor9, .pbColorA, .pbColorB { @extend %tooltip-positions-for-legacy; }
    }
}

@if( $IS_LTE_WIN_IE6 ){
    @if( $UA_IE6 ){
        /* Tooltip body above */
        .pbTip {
            @include positons-from-bottom( 55px );
        }

        .pbColor0, .pbColor1, .pbColor2,
        .pbColor3, .pbColor4, .pbColor5,
        .pbColor6, .pbColor7, .pbColor8,
        .pbColor9, .pbColorA, .pbColorB {
            .pbTip { bottom : 53px; }
            &:active .pbTip { bottom : 54px; }
            &:hover  .pbTip { bottom : 55px; }
        }
        /* interaction tail */
        .pbTail { top : -30px; }
        :active .pbTail { top : -31px; }
        :hover  .pbTail { top : -32px; }
    }
    @if( $UA_IE5 or $UA_IE55 ){
                .pbTip { bottom : 58px; }
        :active .pbTip { bottom : 57px; }
        :hover  .pbTip { bottom : 56px; }

        .pbColor0, .pbColor1, .pbColor2,
        .pbColor3, .pbColor4, .pbColor5,
        .pbColor6, .pbColor7, .pbColor8,
        .pbColor9, .pbColorA, .pbColorB {
            .pbTip { bottom : 56px; }
            &:active .pbTip { bottom : 55px; }
            &:hover  .pbTip { bottom : 54px; }
        }
        /* interaction tail */
        /* 2020/4/19, Win2k IE5 で上側が吹き出しが、下側は尻尾の位置が更新されない… */
        /* IE5.5- では tail のサイズが太るため上にいく tail は top 基準、下にくる tail は bottom 基準 */
                .pbTail { top : -32px; }
        :active .pbTail { top : -31px; }
        :hover  .pbTail { top : -30px; }
    }

                .pbTipBtm { top : 37px; }
        :active .pbTipBtm { top : 36px; }
        :hover  .pbTipBtm { top : 35px; } /* bottom で配置しないと IE5 で座標が更新され無いんですけど...*/

                .pbTailBtm { bottom : -11px; }
        :active .pbTailBtm { bottom : -10px; }
        :hover  .pbTailBtm { bottom :  -9px; }

        .pbColor0, .pbColor1, .pbColor2,
        .pbColor3, .pbColor4, .pbColor5,
        .pbColor6, .pbColor7, .pbColor8,
        .pbColor9, .pbColorA, .pbColorB {
            .pbTailBtm { bottom : -13px; }
            &:active .pbTailBtm { bottom : -12px; }
            &:hover  .pbTailBtm { bottom : -11px; }
        }
}

/*  Opera 7.0-8.54 には border 関連の指定のバグがあり、色と width を同時に指定する
--------------------------------------------------------------------------------------*/
    @if( $UA_Opera72 or $UA_Opera8 ){
        [pbTip]:after {
            border-left  : 4px solid transparent;
            border-right : 4px solid transparent;
        }
        [pbTip]:after {
            border-top : 5px solid $COLOR_TIP_0_BORDER;
        }
        [pbTip~=_]:after {
            border-top-style : none;
            border-bottom    : 5px solid $COLOR_TIP_0_BORDER;
        }
    }
    @if( $UA_Opera70 ){
        .pbTail, .pbTailBtm {
            border-style : solid; /* 尻尾が消える問題の回避 https://twitter.com/pbrocky/status/1451443129182081030 必要! */
            border-left  : 4px solid transparent;
            border-right : 4px solid transparent;
        }
        .pbTail {
            border-bottom-style : none;
            border-top          : 5px solid $COLOR_TIP_0_BORDER;
        }
        .pbTailBtm {
            border-top-style : none;
            border-bottom    : 5px solid $COLOR_TIP_0_BORDER;
        }
    }

/* positon
--------------------------------------------------------------------------------------*/
@if( $CANUSE_CSS_GENERATED_BLOCK ){
    [pbTip~=a]:before {left: -5px} [pbTip~=b]:before {left:  2px}
    [pbTip~=c]:before {left:  9px} [pbTip~=d]:before {left: 16px}
    [pbTip~=e]:before {left: 23px} [pbTip~=f]:before {left: 30px}
    [pbTip~=g]:before {left: 37px} [pbTip~=h]:before {left: 44px}
    [pbTip~=i]:before {left: 51px} [pbTip~=j]:before {left: 58px}
    [pbTip~=k]:before {left: 65px} [pbTip~=l]:before {left: 72px}
    [pbTip~=m]:before {left: 79px} [pbTip~=n]:before {left: 86px}
    [pbTip~=o]:before {left: 93px} [pbTip~=p]:before {left:100px}
    [pbTip~=q]:before {left:107px} [pbTip~=r]:before {left:114px}
    [pbTip~=s]:before {left:121px} [pbTip~=t]:before {left:128px}
    [pbTip~=u]:before {left:135px} [pbTip~=v]:before {left:142px}
    [pbTip~=w]:before {left:149px}

    [pbTip~=a]:after {left:  3px} [pbTip~=b]:after {left: 10px}
    [pbTip~=c]:after {left: 17px} [pbTip~=d]:after {left: 24px}
    [pbTip~=e]:after {left: 31px} [pbTip~=f]:after {left: 38px}
    [pbTip~=g]:after {left: 45px} [pbTip~=f]:after {left: 52px}
    [pbTip~=i]:after {left: 59px} [pbTip~=j]:after {left: 66px}
    [pbTip~=k]:after {left: 73px} [pbTip~=l]:after {left: 80px}
    [pbTip~=m]:after {left: 87px} [pbTip~=n]:after {left: 94px}
    [pbTip~=o]:after {left:101px} [pbTip~=p]:after {left:108px}
    [pbTip~=q]:after {left:115px} [pbTip~=r]:after {left:122px}
    [pbTip~=s]:after {left:129px} [pbTip~=t]:after {left:136px}
    [pbTip~=u]:after {left:143px} [pbTip~=v]:after {left:150px}
    [pbTip~=w]:after {left:157px}
} @else {
    .pbTipPosA { .pbTip, .pbTipBtm  {left: -5px} } .pbTipPosB { .pbTip, .pbTipBtm  {left:  2px} }
    .pbTipPosC { .pbTip, .pbTipBtm  {left:  9px} } .pbTipPosD { .pbTip, .pbTipBtm  {left: 16px} }
    .pbTipPosE { .pbTip, .pbTipBtm  {left: 23px} } .pbTipPosF { .pbTip, .pbTipBtm  {left: 30px} }
    .pbTipPosG { .pbTip, .pbTipBtm  {left: 37px} } .pbTipPosH { .pbTip, .pbTipBtm  {left: 44px} }
    .pbTipPosI { .pbTip, .pbTipBtm  {left: 51px} } .pbTipPosJ { .pbTip, .pbTipBtm  {left: 58px} }
    .pbTipPosK { .pbTip, .pbTipBtm  {left: 65px} } .pbTipPosL { .pbTip, .pbTipBtm  {left: 72px} }
    .pbTipPosM { .pbTip, .pbTipBtm  {left: 79px} } .pbTipPosN { .pbTip, .pbTipBtm  {left: 86px} }
    .pbTipPosO { .pbTip, .pbTipBtm  {left: 93px} } .pbTipPosP { .pbTip, .pbTipBtm  {left:100px} }
    .pbTipPosQ { .pbTip, .pbTipBtm  {left:107px} } .pbTipPosR { .pbTip, .pbTipBtm  {left:114px} }
    .pbTipPosS { .pbTip, .pbTipBtm  {left:121px} } .pbTipPosT { .pbTip, .pbTipBtm  {left:128px} }
    .pbTipPosU { .pbTip, .pbTipBtm  {left:135px} } .pbTipPosV { .pbTip, .pbTipBtm  {left:142px} }
    .pbTipPosW { .pbTip, .pbTipBtm  {left:149px} }

    .pbTipPosA { .pbTail, .pbTailBtm { left:  3px} } .pbTipPosB { .pbTail, .pbTailBtm { left: 10px} }
    .pbTipPosC { .pbTail, .pbTailBtm { left: 17px} } .pbTipPosD { .pbTail, .pbTailBtm { left: 24px} }
    .pbTipPosG { .pbTail, .pbTailBtm { left: 45px} } .pbTipPosF { .pbTail, .pbTailBtm { left: 52px} }
    .pbTipPosI { .pbTail, .pbTailBtm { left: 59px} } .pbTipPosJ { .pbTail, .pbTailBtm { left: 66px} }
    .pbTipPosK { .pbTail, .pbTailBtm { left: 73px} } .pbTipPosL { .pbTail, .pbTailBtm { left: 80px} }
    .pbTipPosM { .pbTail, .pbTailBtm { left: 87px} } .pbTipPosN { .pbTail, .pbTailBtm { left: 94px} }
    .pbTipPosO { .pbTail, .pbTailBtm { left:101px} } .pbTipPosP { .pbTail, .pbTailBtm { left:108px} }
    .pbTipPosQ { .pbTail, .pbTailBtm { left:115px} } .pbTipPosR { .pbTail, .pbTailBtm { left:122px} }
    .pbTipPosS { .pbTail, .pbTailBtm { left:129px} } .pbTipPosT { .pbTail, .pbTailBtm { left:136px} }
    .pbTipPosU { .pbTail, .pbTailBtm { left:143px} } .pbTipPosV { .pbTail, .pbTailBtm { left:150px} }
    .pbTipPosW { .pbTail, .pbTailBtm { left:157px} }
}