@mixin reset-tooltip {
    @if( $CANUSE_OUTLINE ){
        outline : 0;
        b { outline: $FORCED_COLORS_FOCUS_BORDER_WIDTH solid; }
    }
}

@mixin tooltip-tail-forced-colors-common {
    background : red;
    width      : 3px;
    height     : 3px;
    @if( $UA_Modern ){
        -moz-transform : rotate(-45deg);
        transform      : rotate(-45deg);
    } @else {
        -ms-transform : rotate(-45deg);
    }
    @if( $UA_IE7 or $UA_IE6 or $UA_IE55 or $UA_IE8 ){
        filter : progid:DXImageTransform.Microsoft.Matrix(M11=1,M22=1,M12=1,M21=-1,sizingMethod="auto expand");
    }
}

@mixin forced-color-style {
    @if( $CANUSE_CSS_GENERATED_BLOCK ){
        @if( $UA_IE8 ){
            [pbTip]:after {
                display : none;
            }
            .pbTail, .pbTailBtm {
                @include tooltip-tail-forced-colors-common;
                display : block;
                @if( $Option_is_webdocbase_website == false ){
                    border-style : solid;
                }
            }
            .pbTail {
                border-width : 0 0 1px 1px;
            }
            .pbTailBtm {
                border-width : 1px 1px 0 0;
            }
        } @else { // ie9, modern
            [pbTip]:after {
                @include tooltip-tail-forced-colors-common;
                border-width : 0 0 1px 1px;
            }
            [pbTip~=_]:after {
                border-width : 1px 1px 0 0;
            }
        }
        @if( $CANUSE_ACTIVE_PSEUDO_CLASS or $ACTIVE_PSEUDO_CLASS_ONLY_LINK ){
            [pbTip]:active { @include reset-tooltip; }
        }
        @if( $CANUSE_FOCUS_PSEUDO_CLASS or $FOCUS_PSEUDO_CLASS_ONLY_LINK ){
            [pbTip]:focus { @include reset-tooltip; }
        }
    } @else { // ie5.5, 6, 7, Gecko 1.8+
        .pbTail, .pbTailBtm {
            @include tooltip-tail-forced-colors-common;
        }
        .pbTail {
            border-width : 0 0 1px 1px;
        }
        .pbTailBtm {
            border-width : 1px 1px 0 0;
        }
        .pbLCD a {
            @if( $CANUSE_ACTIVE_PSEUDO_CLASS or $ACTIVE_PSEUDO_CLASS_ONLY_LINK ){
                &:active { @include reset-tooltip; }
            }
            @if( $CANUSE_FOCUS_PSEUDO_CLASS or $FOCUS_PSEUDO_CLASS_ONLY_LINK ){
                &:focus { @include reset-tooltip; }
            }
        }
    }
}

@if( $FORCED_COLORS_SUPPORT ){
    @if( $UA_IE8 ){
        .pbTail, .pbTailBtm {
            display : none;
        }
    }

    @if( $UA_IE5 == false ){
        .jsCanRotate {
            @if( $Option_is_webdocbase_website ){ /* web-doc-base サイトに埋め込む場合は forced_colors_fallback を使用するが、単独で使用する場合は不適 */
                @include media(forced_colors_fallback) {
                    @include forced-color-style;
                }
            } @else {
                @include forced-color-style;
            }
        }
    }

    @if( $UA_Modern ){
        @include media(forced_colors_native_or_ms) {
            @if( $CANUSE_ACTIVE_PSEUDO_CLASS or $ACTIVE_PSEUDO_CLASS_ONLY_LINK ){
                [pbTip]:active { @include reset-tooltip; }
            }
            @if( $CANUSE_FOCUS_PSEUDO_CLASS or $FOCUS_PSEUDO_CLASS_ONLY_LINK ){
                [pbTip]:focus { @include reset-tooltip; }
            }
        }

        /* Chromium Edge
        --------------------------------------------------------------------------------------*/
        @include media(forced_colors_native){
            .pbLCD b:after {
                // height             : 21px;
                border-width       : 0;
                -webkit-mask-image : none;
                        mask-image : none;
            }
            [pbTip] {
                @if( $UA_Modern ){
                    background-color : transparent !important; // Firefox 98 + forced-colors で不要なハイライトを消す
                }
            }
        }

        /* Firefox, Goanna
        --------------------------------------------------------------------------------------*/
        .jsHcmBow .pbLCD [class^=pbChr]:after {
            // filter : invert(0);
        }
    }
}