@mixin reset-tooltip {
    @if( $CANUSE_OUTLINE ){
        @if( $Option_hard-reset == false ){
            outline : 0;
        }
        b { outline: $FORCED_COLORS_FOCUS_BORDER_WIDTH solid; }
    }
}

@mixin tooltip-tail-forced-colors-common {
    background : red;
    @if( $IS_LTE_WIN_IE8 ){
        width  : 3px;
        height : 3px;
    } @else {
        width  : 4px;
        height : 4px;
    }
    @if( $UA_Modern ){
        -moz-transform : rotate(-45deg);
        transform      : rotate(-45deg);
    } @else if( $UA_IE9 ){
        -ms-transform : rotate(-45deg);
    }
    @if( $UA_IE7 or $UA_IE6 or $UA_IE55 or $UA_IE8 ){
        filter : progid:DXImageTransform.Microsoft.Matrix(M11=1,M22=1,M12=1,M21=-1,sizingMethod="auto expand");
    }
}

@mixin forced-color-style {
    @if( $CANUSE_CSS_GENERATED_BLOCK ){
        @if( $UA_IE8 ){
            [pbTip]:after {
                display : none;
            }
            [pbTip] div {
                border-width : 0 0 1px 1px;
                margin       : 0 0 3px; // (A)
                display      : block;
                @include tooltip-tail-forced-colors-common;
                @if( $Option_is_webdocbase_website == false ){
                    border-style : solid;
                }
            }
            [pbTip~=_] div {
                border-width : 1px 1px 0 0;
                margin       : 0; /* override (A) */
            }
        } @else { // ie9, modern
            [pbTip]:after {
                @include tooltip-tail-forced-colors-common;
                border-width : 0 0 1px 1px;
                margin       : 0 0 1px;
            }
            [pbTip~=_]:after {
                border-width : 1px 1px 0 0;
                margin       : 0;
            }
        }
        @if( $CANUSE_ACTIVE_PSEUDO_CLASS or $ACTIVE_PSEUDO_CLASS_ONLY_LINK ){
            [pbTip]:active { @include reset-tooltip; }
        }
        @if( $CANUSE_FOCUS_PSEUDO_CLASS or $FOCUS_PSEUDO_CLASS_ONLY_LINK ){
            [pbTip]:focus { @include reset-tooltip; }
        }
    } @else { // ie5.5, 6, 7, Gecko 1.8+
        .pbTip div, .pbTipBtm div {
            @include tooltip-tail-forced-colors-common;
        }
        .pbTip div {
            border-width : 0 0 1px 1px;
        }
        .pbTipBtm div {
            border-width : 1px 1px 0 0;
        }
        .pbLCD a {
            @if( $CANUSE_ACTIVE_PSEUDO_CLASS or $ACTIVE_PSEUDO_CLASS_ONLY_LINK ){
                &:active { @include reset-tooltip; }
            }
            @if( $CANUSE_FOCUS_PSEUDO_CLASS or $FOCUS_PSEUDO_CLASS_ONLY_LINK ){
                &:focus { @include reset-tooltip; }
            }
        }
    }
}

@if( $FORCED_COLORS_SUPPORT ){
    @if( $UA_IE8 ){
        [pbTip] div { display : none; }
    }
    @if( $IS_IE8_OR_9 ){
        @include forced-colors(fallback, lod){
            [pbTip] {
                background-color : transparent !important; // forced-colors で不要なハイライトを消す
            }
        }
    }

    @if( $UA_IE5 == false ){
        @if( $Option_is_webdocbase_website ){ /* web-doc-base サイトに埋め込む場合は forced_colors_fallback を使用するが、単独で使用する場合は不適 */
            @include forced-colors(fallback){
                .jsCanRotate { @include forced-color-style };
            }
        } @else {
            .jsCanRotate { @include forced-color-style; }
        }
    }

    @if( $UA_Modern ){
        @include forced-colors(native_or_ms) {
            [pbTip]:active { @include reset-tooltip; }
            [pbTip]:focus { @include reset-tooltip; }
        }

        @include forced-colors(native_or_fallback){
            [pbTip] {
                background-color : transparent !important; // Firefox 98 + forced-colors で不要なハイライトを消す
            }
        }
    }
}