/*
 * 2.Group
 *  //#ie8-[@ie5mac,#ie8-win]
 *  //#good-css-generated-content[@ie8,@ie9,@modern]
 *
 * 3. Option
 *  //+nouse-pbchr
 *  //+nouse-pblcd
 */
$CANUSE_GOOD_CSS_GENERATED_CONTENT : $UA_Modern or $IS_IE8_OR_9;

/* //_{+nouse-pbchr */
$Option_nouse-pbchr : true;
/* //_}+nouse-pbchr */
$Option_nouse-pbchr : false !default;

/* //_{+nouse-pblcd */
$Option_nouse-pblcd : true;
/* //_}+nouse-pblcd */
$Option_nouse-pblcd : false !default;

$ASSET_PATH_PBLCD : 'pbLCD/' !default;

@mixin createPbChrUrl( $url, $width, $height, $pbLCD:0 ){
    @if( $CANUSE_GOOD_CSS_GENERATED_CONTENT or $pbLCD == 1 and ( $UA_Opera72 or $UA_Opera8 or $UA_Opera9 ) ){
        content     : url(#{ $ASSET_PATH_PBLCD + $url });
        width       : $width;
        height      : $height;
        @if( $CANUSE_GOOD_CSS_GENERATED_CONTENT ){
            top : 0;
        }
    } @else {
        background-image  : url(#{ $ASSET_PATH_PBLCD + $url });
        background-repeat : no-repeat;
    }

    /* //_{@ie8,@ie9 */
        // data uri で x1 フォントを埋め込む
        // -ms-interpolation-mode : nearest-neighbor; /* ie7+ */
    /* //_}@ie8,@ie9 */
}

@mixin createPbChrPosition( $charCode, $left ){
    @if( $CANUSE_GOOD_CSS_GENERATED_CONTENT ){
        .pbChr#{ $charCode }:after
        /* //_{^+nouse-pblcd */
        , [pbGhst="#{ $charCode }"]:before
        /* //_}^+nouse-pblcd */
        {
            left : #{ ($left - 1) * -12 }px;
        }
    } @else {
        @if( $Option_nouse-pbchr == false or $UA_Opera70 or $IS_OLD_GECKO or $UA_MacIE5 ){
            .pbChr#{ $charCode } {
                background-position : #{ ($left - 1) * -12 }px 0;
            }
        }

        @if( $Option_nouse-pblcd == false ){
            @if( $UA_Opera9 ){
                .pbChr#{ $charCode }:after, [pbGhst="#{ $charCode }"]:before {
                    left : #{ ($left - 1) * -12 }px;
                }
            }
            @if( $UA_Opera72 or $UA_Opera8 ){
                .pbChr#{ $charCode }:after, [pbGhst="#{ $charCode }"]:before {
                    left : #{ ($left - 1) * -12 }px;
                }
            }
            @if( $UA_MacIE5 and $charCode != '00' ){
                .pbChr#{ $charCode }.pbAlp9 {
                    background-position : #{ ($left - 1) * -12 }px -24px;
                }
                .pbChr#{ $charCode }.pbAlp8 {
                    background-position : #{ ($left - 1) * -12 }px -48px;
                }
                .pbChr#{ $charCode }.pbAlp7 {
                    background-position : #{ ($left - 1) * -12 }px -72px;
                }
                .pbChr#{ $charCode }.pbAlp6 {
                    background-position : #{ ($left - 1) * -12 }px -96px;
                }
                .pbChr#{ $charCode }.pbAlp4 {
                    background-position : #{ ($left - 1) * -12 }px -144px;
                }
                .pbChr#{ $charCode }.pbAlp3 {
                    background-position : #{ ($left - 1) * -12 }px -168px;
                }
                .pbChr#{ $charCode }.pbAlp2 {
                    background-position : #{ ($left - 1) * -12 }px -192px;
                }
                .pbChr#{ $charCode }.pbAlp1 {
                    background-position : #{ ($left - 1) * -12 }px -216px;
                }
            }
        }
    }
}

@mixin createPosition( $left, $top ){
    @if( $CANUSE_GOOD_CSS_GENERATED_CONTENT ){
        &:before {
            left : #{ $left }px;
            top  : #{ $top  }px;
        }
    } @else {
        background-position : #{ $left }px #{ $top }px;
    }
}