/*  pbChr common
--------------------------------------------------------------------------------------*/

/*  Fill for image-disabled print media
--------------------------------------------------------------------------------------*/
@if( $CANUSE_GOOD_CSS_GENERATED_BLOCK and $Option_nouse-pbchr == false ){
    [class^=pbChr]:before {
        display    : block;
        position   : absolute;
        width      : 14px;
        height     : 0;
        border-top : 25px solid $COLOR_PB_LCD_DARK;
        top        : -2px;
        left       : -2px;
    }
}

/*  main
--------------------------------------------------------------------------------------*/
    %PBChrBase{
        @include inline-block;

        @if( $CANUSE_GOOD_CSS_GENERATED_BLOCK ){
            position : relative;
        }
        @if( $Option_enable_pbList and $Option_nouse-webfont-fallback == false ){
            visibility : visible !important; /* ハイコントラストモードの white-on-black で Edge, IE8~11 で空白が四角になる https://twitter.com/pbrocky/status/1223672870749949952 */
        }
        padding          : 0;
        width            : 10px;
        height           : 21px;
        overflow         : hidden;
        font-size        : 21px;
        line-height      : 1;
        font-family      : monospace;
        font-style       : normal;

        @if( $UA_IE5 or $UA_IE55 ){
            @include line-height( 21px, 0 );
            width            : 14px;
            height           : 27px; 
        }

        @if( $UA_Gck-097 or $UA_Gck101-121 ){
            vertical-align   : text-bottom; // Gecko ~1.2.1, pbChr, pbList の行番号に関係
        }

        @if( $Option_nouse-pbchr == false ){
            /* override Gecko ~1.8.1 */
            @if( $IS_OLD_GECKO ){
                width           : 14px;
                height          : 27px;
                -moz-box-sizing : border-box;
            }
        }

    // https://twitter.com/pbrocky/status/1319304571659776000
    //   特に理由も無さそうなので、モダンブラウザは負数としてみる
        @if( $IS_IE8_OR_9 ){
            text-indent : 21px;
        }
        @if( $IS_NOT_IE or $IS_LTE_WIN_IE7 ){
            text-indent : -42px;
        }
        
        @if( $UA_IE7 or $UA_IE6 ){
            zoom : 1; /*　この指定が無いと ie6 は横幅が文字のサイズで拡大する */
        }

/*  画像置換
--------------------------------------------------------------------------------------*/
        @if( $CANUSE_GOOD_CSS_GENERATED_BLOCK ){ // $UA_Modern or $UA_IE9 or $UA_IE8
            &:after {
                position    : absolute;
                text-indent : 0;
                top         : 0;
                @if( $UA_Modern or $UA_IE9 ){
                    @include createPbChrUrl( 'x3.gif', 1582px, 21px );
                } @else {
                    @include createPbChrUrl( 'x3_x10.png', 1572px, 239px );
                }
            }
        } @else {
            @if( $UA_Opera9 ){
                &:after, /* for pbLCD */
                &:before {
                    left : 12px; /* space */
                }
                @include createPbChrUrl( 'x3.gif', 1582px, 21px );
            } @else if( $IS_OLD_GECKO ){
                @include createPbChrUrl( 'x3.gif', 1582px, 21px );
            } @else if( $UA_Opera72 or $UA_Opera8 ){
                &:after, /* for pbLCD */
                &:before {
                    left : 12px; /* space */
                }
                @include createPbChrUrl( 'x3_x10.png', 1572px, 239px );
            } @else if( $UA_IE7 or $UA_MacIE5 or $UA_Opera70 ){
                @include createPbChrUrl( 'x3_x10.png', 1572px, 239px );
            } @else {
                @include createPbChrUrl( 'x3_x10_8.png', 1570px, 237px );
            }
            @if( $Option_nouse-pbchr == false or $CANUSE_CSS_GENERATED_BLOCK == false ){
                background-repeat : no-repeat;
            }
        }

/*  bg colors
--------------------------------------------------------------------------------------*/
        @if( $Option_nouse-pbchr == false ){
            background-color : $COLOR_PB_LCD_DARK;

            margin           : 0 0.2em;
            border-style     : solid;
            border-color     : $COLOR_PB_LCD_LIGHT;
            border-width     : 3px 2px;
        }
    }

/*  apply
--------------------------------------------------------------------------------------*/
@if( $CANUSE_ATTRIBUTE_SELECTOR == false or $IS_Opera7x or $UA_Opera8 ){
    .pbChr00,.pbChr01,.pbChr02,.pbChr03,.pbChr04,.pbChr05,.pbChr06,.pbChr07,.pbChr08,.pbChr09,.pbChr0A,.pbChr0B,.pbChr0C,.pbChr0D,.pbChr0E,.pbChr0F,
    .pbChr10,.pbChr11,.pbChr12,.pbChr13,.pbChr14,.pbChr15,.pbChr16,.pbChr17,.pbChr18,.pbChr19,.pbChr1A,.pbChr1B,.pbChr1C,.pbChr1D,.pbChr1E,.pbChr1F,
    .pbChr20,.pbChr21,.pbChr22,.pbChr23,.pbChr24,.pbChr25,.pbChr26,.pbChr27,.pbChr28,.pbChr29,.pbChr2A,.pbChr2B,.pbChr2C,.pbChr2D,.pbChr2E,.pbChr2F,
    .pbChr30,.pbChr31,.pbChr32,.pbChr33,.pbChr34,.pbChr35,.pbChr36,.pbChr37,.pbChr38,.pbChr39,.pbChr3A,.pbChr3B,.pbChr3C,.pbChr3D,.pbChr3E,.pbChr3F,
    .pbChr40,.pbChr41,.pbChr42,.pbChr43,.pbChr44,.pbChr45,.pbChr46,.pbChr47,.pbChr48,.pbChr49,.pbChr4A,.pbChr4B,.pbChr4C,.pbChr4D,.pbChr4E,.pbChr4F,
    .pbChr50,.pbChr51,.pbChr52,.pbChr53,.pbChr54,.pbChr55,.pbChr56,.pbChr57,.pbChr58,.pbChr59,.pbChr5C,.pbChr5D,.pbChr5E,.pbChr5F,.pbChr5E,.pbChr5F,
    .pbChr60,.pbChr61,.pbChr62,.pbChr63,.pbChr64,.pbChr65,.pbChr66,.pbChr67,.pbChr68,.pbChr69,.pbChr6A,.pbChr6B,.pbChr6C,.pbChr6D,.pbChr6E,.pbChr6F,
    .pbChr70,.pbChr71,.pbChr72,.pbChr73,.pbChr74,.pbChr75,.pbChr76,.pbChr77,.pbChr78,.pbChr79,.pbChr7A,.pbChr7B,.pbChr7C,.pbChr7D,.pbChr7E,
    .pbChr32a,.pbChr67a,.pbChr69a,.pbChr6Aa,.pbChr6Ba,.pbChrCS { // pbLCD 限定の場合、この大量のクラスは不要
        @extend %PBChrBase;
    }
} @else {
    [class^=pbChr] { @extend %PBChrBase; }
}

/*  high-contrast IE10~11, EdgeHTML, Chromium Edge, Firefox, Goanna, IE8~9
--------------------------------------------------------------------------------------*/
@if( $UA_Modern ){
    // IE10~11, EdgeHTML
    @media only screen and (-ms-high-contrast : white-on-black) {
        [class^=pbChr]:before {
            content  : "";
            position : absolute;
            outline  : 35px solid invert; // 21 + 14
            width    : 0;
        }
        .pbLCD b:before {
            outline : 0;
        }
    }
    @media only screen and (-ms-high-contrast : black-on-white) {
        [class^=pbChr] {
            border-style : double;
        }
    }

    // Chromium Edge
    @media only screen and (forced-colors:active) {
        [class^=pbChr] {
            border-style : double;
            filter       : invert(1);
        }
    }

    // Firefox, Goanna
    .jsHcmBow [class^=pbChr]:after {
        filter : invert(1);
    }
}

// IE8~9
@if( $IS_IE8_OR_9 ){
    .jsHcmWob [class^=pbChr]:before {
        content  : "";
        position : absolute;
        outline  : 35px solid invert; // 21 + 14
        width    : 0;
    }
    .jsHcmWob .pbLCD [class^=pbChr]:before {
        content  : url(#{ $ASSET_PATH_PBLCD + 'x3.gif' });
        outline  : 0;
        width    : 1582px;
    }
    .jsHcmBow [class^=pbChr] {
        border-style : double;
    }
}