

/*  pbChr common
--------------------------------------------------------------------------------------*/

/*  Fill for image-disabled print media
--------------------------------------------------------------------------------------*/
/* //_{#can-content */
    [class^=pbChr]:before {
        display           : block;
        position          : absolute;
        width             : 14px;
        height            : 0;
        border-top        : 25px solid $COLOR_PB_LCD_DARK;
        top               : -2px;
        left              : -2px;
    }
/* //_}#can-content */

/*  main
--------------------------------------------------------------------------------------*/
    /* //_{@ie5mac,@ie5win,@ie55,@ie6,@modern */
.pbChr00,.pbChr01,.pbChr02,.pbChr03,.pbChr04,.pbChr05,.pbChr06,.pbChr07,.pbChr08,.pbChr09,.pbChr0A,.pbChr0B,.pbChr0C,.pbChr0D,.pbChr0E,.pbChr0F,
.pbChr10,.pbChr11,.pbChr12,.pbChr13,.pbChr14,.pbChr15,.pbChr16,.pbChr17,.pbChr18,.pbChr19,.pbChr1A,.pbChr1B,.pbChr1C,.pbChr1D,.pbChr1E,.pbChr1F,
.pbChr20,.pbChr21,.pbChr22,.pbChr23,.pbChr24,.pbChr25,.pbChr26,.pbChr27,.pbChr28,.pbChr29,.pbChr2A,.pbChr2B,.pbChr2C,.pbChr2D,.pbChr2E,.pbChr2F,
.pbChr30,.pbChr31,.pbChr32,.pbChr33,.pbChr34,.pbChr35,.pbChr36,.pbChr37,.pbChr38,.pbChr39,
.pbChr40,.pbChr41,.pbChr42,.pbChr43,.pbChr44,.pbChr45,.pbChr46,.pbChr47,.pbChr48,.pbChr49,.pbChr4A,.pbChr4B,.pbChr4C,.pbChr4D,.pbChr4E,.pbChr4F,
.pbChr50,.pbChr51,.pbChr52,.pbChr53,.pbChr54,.pbChr55,.pbChr56,.pbChr57,.pbChr58,.pbChr59,.pbChr5C,.pbChr5D,.pbChr5E,.pbChr5F,
.pbChr60,.pbChr61,.pbChr62,.pbChr63,.pbChr64,.pbChr65,.pbChr66,.pbChr67,.pbChr68,.pbChr69,.pbChr6A,.pbChr6B,.pbChr6C,.pbChr6D,.pbChr6E,.pbChr6F,
.pbChr70,.pbChr71,.pbChr72,.pbChr73,.pbChr74,.pbChr75,.pbChr76,.pbChr77,.pbChr78,.pbChr79,.pbChr7A,.pbChr7B,
.pbChr32a,.pbChr67a,.pbChr69a,.pbChr6Aa,.pbChr6Ba,.pbChrCS
    /* //_}@ie5mac,@ie5win,@ie55,@ie6,@modern */
    /* //_{ */,
    /* //_} */
    /* //_{@ie7,@ie8,@ie9 */
        [class^=pbChr]
    /* //_}@ie7,@ie8,@ie9 */
    {
        /* //_{#can-inline-block */
        display           : inline-block;
        /* //_}#can-inline-block */
        /* //_{#can-content */
        position          : relative;
        visibility        : visible !important; /* https://twitter.com/pbrocky/status/1223672870749949952 */
        /* //_}#can-content */

        padding           : 0;
        width             : 10px;
        height            : 21px;
        overflow          : hidden;
        font-size         : 21px;
        line-height       : 1;
        font-family       : monospace;
        font-style        : normal;

        /* //_{@ie5win,@ie55 */
        @include lineHeight( 21px, 0 );
        width             : 14px;
        height            : 27px;
        /* //_}@ie5win,@ie55 */
    
        /* //_{^#ie7-win */
        text-indent       : 21px;
        /* //_}^#ie7-win */
        /* //_{#ie7-win */
        text-indent       : -42px;
        /* //_}#ie7-win */
        
        /* //_{@ie7,@ie6 */
        zoom              : 1; /*　この指定が無いと ie6 は横幅が文字のサイズで拡大する */
        /* //_}@ie7,@ie6 */

        /* //_{@ie9,@modern */
        &:after {
            position    : absolute;
            text-indent : 0;
            @include createPbChrUrl( 'x3.gif', 26px, 1793px );
        }
        /* //_}@ie9,@modern */
        /* //_{@ie8 */
        &:after {
            position    : absolute;
            text-indent : 0;
            @include createPbChrUrl( 'x3_x10.png', 190px, 3720px );
        }
        /* //_}@ie8 */
        /* //_{@ie7 */
        @include createPbChrUrl( 'x3_x10.png', 190px, 3720px );
        /* //_}@ie7 */
        /* //_{@ie5win,@ie55,@ie6 */
        @include createPbChrUrl( 'x3_x10_8.png', 190px, 3720px );
        /* //_}@ie5win,@ie55,@ie6 */
        /* //_{@ie5mac */
        @include createPbChrUrl( 'x3.gif', 26px, 1793px );
        /* //_}@ie5mac */

/*  bg colors
--------------------------------------------------------------------------------------*/
        background-color  : $COLOR_PB_LCD_DARK;

        margin            : 0 0.2em;
        border-style      : solid;
        border-color      : $COLOR_PB_LCD_LIGHT;
        border-width      : 3px 2px;
    }

/* //_{@modern */
    /* IE10~11, EdgeHTML
    --------------------------------------------------------------------------------------*/
    @media only screen and (-ms-high-contrast : black-on-white) {
        [class^=pbChr]:before {
            content  : "";
            position : absolute;
            outline  : 21px solid invert;
            top      : 0;
            left     : 0;
            width    : 0;
            height   : 0;
            z-index  : 1;
        }
    }

    /* Firefox, Goanna
    --------------------------------------------------------------------------------------*/
    .jsHcmBow [class^=pbChr]:after {
        filter : invert(1);
    }
/* //_}@modern */

/*  IE8~9
--------------------------------------------------------------------------------------*/
/* //_{@ie8,@ie9 */
    .jsHcmBow [class^=pbChr]:before {
        content  : "";
        position : absolute;
        outline  : 21px solid invert;
        top      : 0;
        left     : 0;
        width    : 0;
        height   : 0;
        z-index  : 1;
    }
/* //_}@ie8,@ie9 */