@if( $OPTION_USE_PBFONT ){
    @if( $COMMON_WEBFONT__CLASSNAME_TEST_RENDERING != "" ){
        .#{$COMMON_WEBFONT__CLASSNAME_TEST_RENDERING} {
            @include web-font-detector;
        }    
    }

    @include web-font-face($COMMON_WEBFONT__FONT_NAME, $ASSET_PATH_WEBFONT + $COMMON_WEBFONT__FILE_STEM, $COMMON_WEBFONT__SVG_FONT_ID, $COMMON_WEBFONT__TEST_ID_AND_CLASSNAME);

    .pbFont {
        @include web-font($COMMON_WEBFONT__FONT_NAME, 'monospace, san-serif !important');
        @if( $MAYBE_CAN_USE_WEBFONT and $Option_is_webdocbase_website == false ){
            font-style     : normal;
            font-weight    : normal;
            font-variant   : normal;
            text-transform : none;
            @if( $UA_Modern ){
                /* Better Font Rendering =========== */
                 -webkit-font-smoothing : antialiased;
                -moz-osx-font-smoothing : grayscale;
            }
        }
        font-size : 1.1em;
    }
}