.pbList {
/* //_{@modern */
    -webkit-line-break : anywhere;
            line-break : anywhere;
    /* //_{^+is-web-doc-base-website */
        @include pre-wrap;
    /* //_}^+is-web-doc-base-website */
/* //_}@modern */

    @include floatLayout{
    /* //_{@ie8,@ie9,#ie10to11 */
        white-space : pre; /* pre-wrap ではなく pre だと改行位置が正しい */
    /* //_}@ie8,@ie9,#ie10to11 */
    /* //_{@ie5win,@ie55,@ie6,@ie7 */
        /* text-autospace : none; */
    /* //_}@ie5win,@ie55,@ie6,@ie7 */
/* //_{^+is-web-doc-base-website */
    /* //_{@ie55,@ie6,@ie7,@ie8,@ie9 */
        word-wrap   : break-word;    /* word-break:break-all で充分の筈が何故か必要 */
    /* //_}@ie55,@ie6,@ie7,@ie8,@ie9 */
    /* //_{#ie8-win,@ie9 */
        word-break  : break-all;
    /* //_}#ie8-win,@ie9 */
/* //_}^+is-web-doc-base-website */
    }
}

/* for ie11-
--------------------------------------------------------------------------------------*/
@include floatLayout{
    .pbRow {
    /* //_{#can-inline-block */
        display  : inline-block; /* pre 下なので block ではなく inline-block, inline-block が clearfix になっているので @include clearfix; が不要 */
        /* //_{@ie8,@ie9,#ie10to11 */
        width    : 100%; /* white-space:pre と 100% で途中の改行が解消する */
        /* //_}@ie8,@ie9,#ie10to11 */
    /* //_}#can-inline-block */
    /* //_{^#can-inline-block */
        display  : block;
        @include clearfix;
    /* //_}^#can-inline-block */
        @include unbreak-inside;
    }
        .pbLine {
            float       : left;
            display     : block;
            /* //_{^@ie5win */
            width       : 2.5em;
            /* //_}^@ie5win */
            /* //_{@ie5win */
            width       : 2em;
            /* //_}@ie5win */
            text-align  : right;
            /* //_{@ie8,@ie9,#ie10to11 */
            font {
                line-height : 1.38;
            }
            /* //_}@ie8,@ie9,#ie10to11 */
        }
        .pbCmd {
            display     : block;
            margin-left : 2.5em;
            /* //_{@ie5win,@ie55,@ie6 */
            text-indent : -3px; /* ie5(ie11のエミュレーション)で行頭が右にズレるのを調教
                                   https://twitter.com/pbrocky/status/1216045530326810624 */
            /* //_}@ie5win,@ie55,@ie6 */
        }
    /* //_{@ie55,@ie6 */
        .pbList font {
            zoom         : 1; /* space が部分的に欠落するのを回避。IE11 IE5 mode では確認できず。*/
            width        : .4em;
            padding-left : 3px; /* text-indent : -3px; のズレを戻す */
        }
        /* //_{^+nouse-webfont-fallback */
        .pbList-noWebFont .pbLine font {
            padding-left : 0;
        }
        /* //_}^+nouse-webfont-fallback */
    /* //_}@ie55,@ie6 */
}

/* for modern
 *   上記 float layout では Edge で コピペ時に不要な改行が入るため text-indent でレイアウトする。
 *   https://twitter.com/pbrocky/status/1215967323229577216
--------------------------------------------------------------------------------------*/
/* //_{^#use-float-for-layout */
    .pbRow {
        /* //_{@modern */
        display       : -moz-inline-box;
        display       : inline-table;
        /* //_}@modern */
        display       : inline-block; /* pre 下なので block ではなく inline-block */
        padding-left  : 2.5em;
        text-indent   : -2.5em;
        @include unbreak-inside;
    }
        .pbLine {
            /* //_{@modern */
            display      : -moz-inline-box;
            display      : inline-table;
            /* //_}@modern */
            display        : inline-block;
            vertical-align : top;
            width          : 2.5em;
            text-align     : right;
        }
        .pbCmd {
            /* //_{@modern */
            display      : -moz-inline-box;
            display      : inline-table;
            /* //_}@modern */
            display     : inline-block;
            text-indent : 0;
        }
    @include floatLayout{ // override for ie10~11
        .pbRow {
            padding-left : 0;
            text-indent  : 0;
        }
    }
/* //_}^#use-float-for-layout */