.pbList {
    @if( $UA_Modern ){
        -webkit-line-break : anywhere;
                line-break : anywhere;
    }
    @if( $IS_NOT_IE ){
        @if( $Option_is_webdocbase_website == false ){
            @include pre-wrap;
        }
    }

    @include floatLayout{
        @if( $UA_Modern or $IS_IE8_OR_9 ){
            white-space : pre; /* pre-wrap ではなく pre だと改行位置が正しい */
        }
    /* //_{@ie5win,@ie55,@ie6,@ie7 */
        /* text-autospace : none; */
    /* //_}@ie5win,@ie55,@ie6,@ie7 */
        @if( $Option_is_webdocbase_website == false ){
            @if( $IS_IE8_OR_9 or $UA_IE7 or $UA_IE6 or $UA_IE55 ){
                word-wrap   : break-word;    /* word-break:break-all で充分の筈が何故か必要 */
            }
            @if( $UA_IE9 or $IS_LTE_WIN_IE8 ){
                word-break  : break-all;
            }
        }
    }

    @if( $UA_Gck-097 ){
        // @include clearfix; // Gecko 0.9.4 で発生する行間の回避 https://twitter.com/pbrocky/status/1450727116090208256
        & + * {
            clear : both;
        }
    }
}

.pbRow {
    @include unbreak-column-inside;
    @include unbreak-page-inside;
}

/* for ie11-
--------------------------------------------------------------------------------------*/
@if( $USE_FLOAT_FOR_LAYOUT or $IS_IE10_TO_11 ){
    @include floatLayout{
        .pbRow {
            @if( $CANUSE_DISPLAY_INLINE_BLOCK ){
                @include inline-block;
                /* display  : inline-block; pre 下なので block ではなく inline-block, inline-block が clearfix になっているので @include clearfix; が不要 */
                @if( $UA_Modern or $IS_IE8_OR_9 ){
                    width : 100%; /* white-space:pre と 100% で途中の改行が解消する */
                }
            } @else {
                display : block;
                @include clearfix;
            }
        }
            .pbLine {
                float       : left;
                display     : block;
                width       : 2.5em;
                text-align  : right;
                @if( $IS_IE10_TO_11 or $IS_IE8_OR_9 ){
                    font {
                        line-height : 1.18;
                    }
                }
            }
            .pbCmd {
                display     : block;
                margin-left : 2.5em;
                @if( $IS_LTE_WIN_IE6 ){
                    text-indent : -3px; /* ie5(ie11のエミュレーション)で行頭が右にズレるのを調教
                                        https://twitter.com/pbrocky/status/1216045530326810624 */
                }
            }
            @if( $UA_IE55 or $UA_IE6 ){
                .pbList font {
                    zoom         : 1; /* space が部分的に欠落するのを回避。IE11 IE5 mode では確認できず。*/
                    width        : .4em;
                    padding-left : 3px; /* text-indent : -3px; のズレを戻す */
                }
                .pbList-noWebFont .pbList font {
                    @if( $UA_IE6 ){
                        padding : 0;
                    }
                }
            }
    }
}
/* for modern
 *   上記 float layout では Edge で コピペ時に不要な改行が入るため text-indent でレイアウトする。
 *   https://twitter.com/pbrocky/status/1215967323229577216
--------------------------------------------------------------------------------------*/
@if( $USE_FLOAT_FOR_LAYOUT == false and $MAYBE_CAN_USE_WEBFONT ){
    .pbRow {
        @include inline-block; /* pre 下なので block ではなく inline-block */
        padding-left  : 2.5em;
        text-indent   : -2.5em;
    }
        .pbLine {
            @include inline-block;
            vertical-align : top;
            width          : 2.5em;
            text-align     : right;
        }
        .pbCmd {
            @include inline-block;
            text-indent : 0;
        }
    @include floatLayout{ // override for ie10~11
        .pbRow {
            padding-left : 0;
            text-indent  : 0;
        }
    }
}