/* Fallback for WebFont disabled
--------------------------------------------------------------------------------------*/
/* //_{^+nouse-webfont-fallback */

    /* //_{#can-inline-block */
    .pbList-noWebFont .pbList {
        white-space : normal;
        /* //_{@ie8,@ie9 */
        line-height : 0; // 行間の解消 https://twitter.com/pbrocky/status/1445069954974248960
        /* //_}@ie8,@ie9 */
    }
    /* //_}#can-inline-block */

    /* //_{^#use-float-for-layout */
    .pbList-noWebFont .pbRow {
        display      : block;
        @include clearfix;
        width        : 100%;
        padding-left : 0;
        text-indent  : 0;
    }
    /* //_}^#use-float-for-layout */

        .pbList-noWebFont .pbLine {
            width : 60px;
            /* //_{^#use-float-for-layout */
            float : left;
            /* //_}^#use-float-for-layout */
            /* //_{@legacy */
            position : relative;
            /* //_}@legacy */
        }
        .pbList-noWebFont .pbCmd {
            margin-left : 60px;
            /* //_{^#use-float-for-layout */
            display     : block;
            /* //_}^#use-float-for-layout */
        }

            .pbList-noWebFont .pbList font {
            /* //_{^+nouse-pbchr */
                border-width     : 0;
            /* //_}^+nouse-pbchr */
                width            : 10px;
                height           : 21px;
                font-size        : 21px;
                line-height      : 1;
                /* //_{@modern,@ie9,@ie8 */
                margin           : 5px 1px;
                /* //_}@modern,@ie9,@ie8 */
                /* //_{#ie7-win,@legacy,@ie5mac */ /* 行間の補正は Gecko 0.9.6 にも有効, mac ie5 は不明 */
                margin           : 10px 1px 0;     /* 行間の補正 https://twitter.com/pbrocky/status/1445079494746796041 */
                /* //_}#ie7-win,@legacy,@ie5mac */
                overflow         : hidden;
                visibility       : hidden; /* https://twitter.com/pbrocky/status/1223672870749949952 */

                @include inline-block;
            /* //_{@modern */
                vertical-align   : top; /* 3DS 行がズレる */
            /* //_}@modern */
            /* //_{@legacy */
                background-image : url(pbFont/x3mask.png) !important;
            /* //_}@legacy */
            /* //_{#ie7-win */
                text-align       : left; /* 親の text-align:right で text-indent:-21px 出来ないテキストを消す */
                vertical-align   : top;  /* この指定が無いと下にズレる */
            /* //_}#ie7-win */
            }
            .pbList-noWebFont .pbCmd font
            /* //_{^#can-inline-block */
            , .pbList-noWebFont .pbList-area
            /* //_}^#can-inline-block */
            {
                display : block;
                float   : left;
            }
/* //_}^+nouse-webfont-fallback */