
.pbList-area {
    color : deeppink;
}
.pbList-line {
    color : purple;
}
.pbList-str {
    color : red;
}
.pbList-cmd {
    color : blue;
}
.pbList-fnc {
    color : green;
}
.pbList-syb {
    color : brown;
}
.pbList-strsp {
    background-color : #fcc;
    @if( $UA_IE5 == false ){
        @if( $IS_OLD_GECKO == false or $UA_Gecko19 ){
            @include inline-block;
        }
        @if( $IS_NOT_IE or $IS_IE8_OR_9 ){
            height      : .9em;
            line-height : .9;
        }
    }
}

@if( $OPTION_USE_WEBFONT_FALLBACK ){
    .pbList-fallback-img {
        background-color : #fff;
        .pbList-area {
            background-color : deeppink;
        }
        .pbList-line {
            background-color : purple;
        }
        .pbList-str {
            background-color : red;
        }
        .pbList-cmd {
            background-color : blue;
        }
        .pbList-fnc {
            background-color : green;
        }
        .pbList-syb {
            background-color : brown;
        }
        font {
            background-color : black;
        }
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@mixin dark-theme {
    .pbList-area {
        color : #C487A0;
    }
    .pbList-line {
        color : #C586C0;
    }
    .pbList-str {
        color : #CE9178;
    }
    .pbList-cmd {
        color : #569CD6;
    }
    .pbList-fnc {
        color : #6A9955;
    }
    .pbList-syb {
        color : #d8ae14;
    }
    .pbList-strsp {
        background-color : #443838;
    }

    @if( $OPTION_USE_WEBFONT_FALLBACK ){
        .pbList-fallback-img {
            background-color : #000;
            .pbList-area {
                background-color : #C487A0;
            }
            .pbList-line {
                background-color : #C586C0;
            }
            .pbList-str {
                background-color : #CE9178;
            }
            .pbList-cmd {
                background-color : #569CD6;
            }
            .pbList-fnc {
                background-color : #6A9955;
            }
            .pbList-syb {
                background-color : #d8ae14;
            }
            font {
                background-color : white;
            }
            font:after {
                filter : invert(1); // A
            }
        }
    }
}
@if( $UA_Modern ){
    @include forced-colors(native_or_fallback){
        .pbList-fallback-img {
            font:after {
                filter : invert(0); // Overide A
            }
        }
    }
    @include forced-colors(native_white_on_dark){
        _:lang(x)::-internal-media-controls-overlay-cast-button, .pbList-fallback-img font:after {
            filter : invert(1);  // for Chrome 124
        }
    }
}

@if( $Option_is_webdocbase_website ){ /* web-doc-base サイトに埋め込む場合は dark_theme を使用するが、単独で使用する場合は不適 */
    @include media(dark_theme) {
        @include dark-theme;
    }
} @else {
    @if( $UA_Modern ){
        @media only screen and (prefers-color-scheme:dark) {
            @include dark-theme;
        }
    }
}