
.pbList-area {
    color : deeppink;
}
.pbList-line {
    color : purple;
}
.pbList-str {
    color : red;
}
.pbList-cmd {
    color : blue;
}
.pbList-fnc {
    color : green;
}
.pbList-syb {
    color : brown;
}
.pbList-strsp {
    background-color : #fcc;
/* //_{^@ie5win */
    /* //_{#can-inline-block */
    /* //_{@modern */
    display          : -moz-inline-box;
    display          : inline-table;
    /* //_}@modern */
    display          : inline-block;
    /* //_}#can-inline-block */
    height           : 1em;
    position         : relative;
    /* //_{@modern,@ie9,@ie8 */
    top              : .1em;
    /* //_}@modern,@ie9,@ie8 */
    /* //_{@ie7,@ie6,@ie55 */
    top              : -.2em;
    /* //_}@ie7,@ie6,@ie55 */
/* //_}^@ie5win */
}

/* //_{^+nouse-webfont-fallback */
.pbList-noWebFont .pbList {
    background-color : #fff;

    font {
        background-color : black;
    }
    .pbList-area {
        background-color : deeppink;
    }
    .pbList-line {
        background-color : purple;
    }
    .pbList-str {
        background-color : red;
    }
    .pbList-cmd {
        background-color : blue;
    }
    .pbList-fnc {
        background-color : green;
    }
    .pbList-syb {
        background-color : brown;
    } 
}
/* //_}^+nouse-webfont-fallback */

/*  Dark theme
--------------------------------------------------------------------------------------*/
/* //_{@modern */
/* //_{+is-web-doc-base-website */ /* web-doc-base サイトに埋め込む場合は dark_theme を使用するが、単独で使用する場合は不適 */
@include media(dark_theme) {
/* //_}+is-web-doc-base-website */
    /* //_{^+is-web-doc-base-website */
    @media only screen and (prefers-color-scheme:dark) {
    /* //_}^+is-web-doc-base-website */
        .pbList-area {
            color : #C487A0;
        }
        .pbList-line {
            color : #C586C0;
        }
        .pbList-str {
            color : #CE9178;
        }
        .pbList-cmd {
            color : #569CD6;
        }
        .pbList-fnc {
            color : #6A9955;
        }
        .pbList-syb {
            color : #d8ae14;
        }
        .pbList-strsp {
            background-color : #443838;
        }

        /* //_{^+nouse-webfont-fallback */
        .pbList-noWebFont .pbList {
            background-color : #000;
            font {
                background-color : white;
            }
            font:after {
                filter           : invert(1);
            }
            .pbList-area {
                background-color : #C487A0;
            }
            .pbList-line {
                background-color : #C586C0;
            }
            .pbList-str {
                background-color : #CE9178;
            }
            .pbList-cmd {
                background-color : #569CD6;
            }
            .pbList-fnc {
                background-color : #6A9955;
            }
            .pbList-syb {
                background-color : #d8ae14;
            } 
        }
        /* //_}^+nouse-webfont-fallback */
    }
/* //_{ */
}
/* //_} */
/* //_}@modern */