@if( $OPTION_USE_WEBFONT_FALLBACK ){
    @include forced-colors(native_or_ms) {
        .pbList-noWebFont .pbList font {
            text-indent : 21px;
        }
    }

/*  IE10~11, EdgeHTML
--------------------------------------------------------------------------------------*/
    // IE10~11, EdgeHTML
    @include forced-colors(ms) {
        .pbList-noWebFont .pbList font:after {
            content : url(#{ $ASSET_PATH_PBLCD + 'x3.anime.svg' });
        }
    }

/*  Windows10 + Chromium Edge
--------------------------------------------------------------------------------------*/
/* Override for Windows10 + Chromium Edge
*   https://twitter.com/pbrocky/status/1299745911170449411?s=20
*/
        @include forced-colors(native) {
            .pbList-noWebFont .pbList font:after {
                content : ""; // mask で描画
            }
        }

/*  Firefox, Goanna
--------------------------------------------------------------------------------------*/
    @if( $UA_Modern or $UA_IE9 ){
        @include forced-colors(fallback) {
            &.pbList-noWebFont .pbList font {
                text-indent : 21px;
            }
            &.pbList-noWebFont .pbList font:after {
                content : url(#{ $ASSET_PATH_PBLCD + 'x3.svg' });
            }
        }
    }

/*  IE8
--------------------------------------------------------------------------------------*/
    @if( $UA_IE8 ){
        @include forced-colors(fallback, dol) {
            &.pbList-noWebFont .pbList font:after {
                content : url(#{ $ASSET_PATH_PBLCD + 'x3_x10.png' });
            }
        }
        @include forced-colors(fallback, lod) {
            &.pbList-noWebFont .pbList font:before {
                border-width : 25px;
            }
        }
    }
}