@if( $Option_nouse-webfont-fallback == false ){
/*  IE10~11, EdgeHTML
--------------------------------------------------------------------------------------*/
    // IE10~11, EdgeHTML
    @include media(forced_colors_ms) {
        .pbList-noWebFont .pbList font {
            text-indent : 21px;
        }
        .pbList-noWebFont .pbList font:after {
            content : url(#{ $ASSET_PATH_PBLCD + 'x3.anime.svg' });
        }
    }

/*  Windows10 + Chromium Edge
--------------------------------------------------------------------------------------*/
/* Override for Windows10 + Chromium Edge
*   https://twitter.com/pbrocky/status/1299745911170449411?s=20
*/
        @include media(forced_colors_native) {
            .pbList-noWebFont .pbList font {
                text-indent : 21px;
            }
            .pbList-noWebFont .pbList font:after {
                filter : invert(0);
            }
        }

/*  Firefox, Goanna
--------------------------------------------------------------------------------------*/
    @if( $UA_Modern or $UA_IE9 ){
        [forced-colors] {
            &.pbList-noWebFont .pbList font {
                text-indent : 21px;
            }
            &.pbList-noWebFont .pbList font:after {
                filter  : invert(0);
                content : url(#{ $ASSET_PATH_PBLCD + 'x3.svg' });
            }
        }
    }

/*  IE8
--------------------------------------------------------------------------------------*/
    @if( $UA_IE8 ){
        [forced-colors=dol] {
            &.pbList-noWebFont .pbList font:after {
                content : url(#{ $ASSET_PATH_PBLCD + 'x3_x10.png' });
            }
        }
        [forced-colors=lob] {
            &.pbList-noWebFont .pbList font:before {
                border-width : 25px;
            }
        }
    }
}