/* //_{^+nouse-webfont-fallback */
/* //_{@modern */

/*  IE10~11, EdgeHTML
--------------------------------------------------------------------------------------*/
    @media only screen and (-ms-high-contrast : active) {
        _:-ms-lang(x), .pbList-noWebFont .pbList font {
            text-indent : 21px;
        }
        _:-ms-lang(x), .pbList-noWebFont .pbList font:before {
            z-index : 1;
        }
    }
    @media only screen and (-ms-high-contrast : black-on-white) {
        _:-ms-lang(x), .pbList-noWebFont .pbList font:before {
            outline : 0;
        }
        _:-ms-lang(x), .pbList-noWebFont .pbList font:after {
            content : url(pbLCD/x3.gif);
        }
    }

/*  Windows10 + Chromium Edge
--------------------------------------------------------------------------------------*/
/* Override for Windows10 + Chromium Edge
 *   https://twitter.com/pbrocky/status/1299745911170449411?s=20
 */
    @media only screen and (-ms-high-contrast : black-on-white) and (prefers-color-scheme:light) {
        .pbList-noWebFont .pbList font {
            text-indent : 21px;
        }
        .pbList-noWebFont .pbList font:after {
            filter : invert(1);
        }
    }
    @media only screen and (-ms-high-contrast : white-on-black) and (prefers-color-scheme : dark) {
        .pbList-noWebFont .pbList font {
            filter      : invert(1);
            text-indent : 21px;
        }
        .pbList-noWebFont .pbList font:after {
            filter : invert(0);
        }
    }

/*  Firefox, Goanna
--------------------------------------------------------------------------------------*/
        .jsHcm.pbList-noWebFont    .pbList font,
        .jsHcmWob.pbList-noWebFont .pbList font {
            filter : invert(1);
        }
        .jsHcmBow.pbList-noWebFont .pbList font:after {
            content : url(pbLCD/x3.gif);
        }
        .jsHcmBow.pbList-noWebFont .pbList font:after {
            filter : invert(0);
        }
/* //_}@modern */

/*  IE8~9
--------------------------------------------------------------------------------------*/
/* //_{@ie8,@ie9 */
        .jsHcm.pbList-noWebFont    .pbList font,
        .jsHcmWob.pbList-noWebFont .pbList font,
        .jsHcmBow.pbList-noWebFont .pbList font {
            text-indent : 21px;
        }
        .jsHcm.pbList-noWebFont    .pbList font:before,
        .jsHcmWob.pbList-noWebFont .pbList font:before,
        .jsHcmBow.pbList-noWebFont .pbList font:before {
            z-index : 1;
        }
        .jsHcmBow.pbList-noWebFont .pbList font:before {
            outline : 0;
        }

        /* //_{@ie9 */
        .jsHcmBow.pbList-noWebFont .pbList font:after {
            content : url(pbLCD/x3.gif);
        }
        /* //_}@ie9 */
        /* //_{@ie8 */
        .jsHcmBow.pbList-noWebFont .pbList font:after {
            content : url(pbLCD/x3_x10.png);
        }
        /* //_}@ie8 */
/* //_}@ie8,@ie9 */

/* //_}^+nouse-webfont-fallback */