@mixin createPbChrUrl( $url, $width, $height, $pbLCD:0 ){
    @if( $CANUSE_GOOD_CSS_GENERATED_BLOCK or $pbLCD == 1 and $CANUSE_CSS_GENERATED_BLOCK ){
        content : url(#{ $ASSET_PATH_PBLCD + $url });
        width   : $width;
        height  : $height;
    } @else {
        background-image : url(#{ $ASSET_PATH_PBLCD + $url });
    }

    @if( $IS_IE8_OR_9 ){
        // data uri で x1 フォントを埋め込む
        // -ms-interpolation-mode : nearest-neighbor; /* ie7+ */
    }
}