samp.pbFont {
    background : #b0c86e;
    color      : #000;
    padding    : .1em .4em;
    margin     : 0 .1em;
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    samp.pbFont {
        border-width : 1px;
        border-color : #b0c86e;
    }
}