/* //_{^+weak-reset */
.pbList, .pbCmd {
    @include pre-wrap;
}
/* //_}^+weak-reset */

    .pbLine, .pbList-noWebFont .pbList {
        @include clearfix;
    }

    .pbLine {
    /* //_{#can-inline-block */
        display  : inline-block; /* clearfix の変形, pre 下なので block ではなく inline-block */
        /* //_{@modern,@ie9 */  
        width    : 100%;         /* ie8では不要, Firefox 必要 */
        /* //_}@modern,@ie9 */ 
        overflow : hidden;
    /* //_}#can-inline-block */
    }
        .pbLineNum {
            float       : left;
            display     : block;
            /* //_{^@ie5win */
            width       : 2.5em;
            /* //_}^@ie5win */
            /* //_{@ie5win */
            width       : 2em;
            /* //_}@ie5win */
            text-align  : right;
        }
        .pbCmd {
            display     : block;
            margin-left : 2.5em;
        }

/* Edge18 で確認, float layout ではテキストのコピペ時に不要な改行が入るため text-indent でレイアウトする */
@supports (-ms-ime-align: auto) {
    .pbLine {
        width         : auto;
        padding-left  : 2.5em;
        text-indent   : -2.5em;
    }
        .pbLineNum {
            float          : none;
            display        : inline-block;
            vertical-align : top;
        }
        .pbCmd {
            display     : inline-block;
            margin-left : 0;
            text-indent : 0;
        }
}