/* //_{^+weak-reset */
.pbList, .pbCmd {
    /* //_{@modern */
        white-space : pre;           /* CSS 2.0 */
        white-space : -pre-wrap;     /* Opera 4-6 */
        white-space : -o-pre-wrap;   /* Opera 7 */
        white-space : -moz-pre-wrap; /* Firefox 1.0-2.0 */
        white-space : -webkit-pre-wrap; /* Chrome, Safari */
    /* //_}@modern */

    /* //_{@ie8,@ie9,@modern */        
        white-space : pre-wrap;      /* CSS 2.1, ie8+ */
    /* //_}@ie8,@ie9,@modern */

    /* //_{@ie55,@ie6,@ie7,@ie8,@ie9,@modern */
        word-wrap   : break-word;    /* IE 5.5+, Firefox3.5, Safari 1, Opera 10.5 */
    /* //_}@ie55,@ie6,@ie7,@ie8,@ie9,@modern */

    /* //_{#ie8-win,@ie9,@modern */
        word-break  : break-all;     /* IE 5+ */
    /* //_}#ie8-win,@ie9,@modern */
}
/* //_}^+weak-reset */

    .pbLine {
    /* //_{#can-inline-block */
        display  : inline-block; /* clearfix の変形, pre 下なので block ではなく inline-block */
        /* //_{@modern,@ie9 */  
        width    : 100%;         /* ie8では不要, Firefox 必要 */
        /* //_}@modern,@ie9 */ 
        overflow : hidden;
    /* //_}#can-inline-block */
    }

    .pbLine, .pbList-noWebFont .pbList {
    /* //_{@ie7 */
        display  : block;
        overflow : hidden;
    /* //_}@ie7 */

    /* //_{#ie6-win */
        display  : block;
        height   : 1%;
        overflow : visible;
    /* //_}#ie6-win */

    /* //_{@ie5mac */
        display  : inline-block;
    /* //_}@ie5mac */

    /* //_{#can-content */
        &:after {
            content     : ".";
            speak       : none;
            display     : block;
            visibility  : hidden;   
            height      : 0.1px;   
            font-size   : 0.1em;   
            line-height : 0;
            clear       : both;
        }
    /* //_}#can-content */
    }
        .pbLineNum {
            float       : left;
            display     : block;
            width       : 2.5em;
            text-align  : right;
        }
        .pbCmd {
            display     : block;
            margin-left : 2.5em;
        }