/* //_{^+weak-reset */
.pbList {
/* //_{^#use-float-for-layout */
    @include pre-wrap;
/* //_}^#use-float-for-layout */

/* //_{#use-float-for-layout */
    /* //_{#can-inline-block */
        white-space : pre; /* pre-wrap ではなく pre だと改行位置が正しい */
    /* //_}#can-inline-block */
    /* //_{@ie55,@ie6,@ie7,@ie8,@ie9 */
        word-wrap   : break-word;
    /* //_}@ie55,@ie6,@ie7,@ie8,@ie9 */
        word-break  : break-all;
/* //_}#use-float-for-layout */
}
/* //_}^+weak-reset */

/* for ie9-
--------------------------------------------------------------------------------------*/
/* //_{#use-float-for-layout */
    .pbLine {
    /* //_{#can-inline-block */
        display  : inline-block; /* pre 下なので block ではなく inline-block, inline-block が clearfix になっているので @include clearfix; が不要 */
        width    : 100%; /* white-space:pre と 100% で途中の改行が解消する */
    /* //_}#can-inline-block */
    /* //_{^#can-inline-block */
        @include clearfix;
    /* //_}^#can-inline-block */
        @include unbreak-inside;
    }
        .pbLineNum {
            float       : left;
            display     : block;
            /* //_{^@ie5win */
            width       : 2.5em;
            /* //_}^@ie5win */
            /* //_{@ie5win */
            width       : 2em;
            /* //_}@ie5win */
            text-align  : right;
        }
        .pbCmd {
            display     : block;
            margin-left : 2.5em;
            /* //_{@ie5win */
            text-indent : -3px; /* ie5(ie11のエミュレーション)で行頭が右にズレるのを調教
                                   https://twitter.com/pbrocky/status/1216045530326810624 */
            /* //_}@ie5win */
        }
/* //_}#use-float-for-layout */

/* for modern
 *   上記 float layout では Edge で コピペ時に不要な改行が入るため text-indent でレイアウトする。
 *   https://twitter.com/pbrocky/status/1215967323229577216
--------------------------------------------------------------------------------------*/
/* //_{^#use-float-for-layout */
    .pbLine {
        display       : inline-block; /* pre 下なので block ではなく inline-block */
        padding-left  : 2.5em;
        text-indent   : -2.5em;
        @include unbreak-inside;
    }
        .pbLineNum {
            display        : inline-block;
            vertical-align : top;
            width          : 2.5em;
            text-align     : right;
        }
        .pbCmd {
            display     : inline-block;
            text-indent : 0;
        }
/* //_}^#use-float-for-layout */