
.pbList-noWebFont .pbList span {
/* clearfix */
    /* //_{@modern,@ie9,@ie8,@ie7 */
        display  : block;
        overflow : hidden;
    /* //_}@modern,@ie9,@ie8,@ie7 */

    /* //_{#ie6-win */
        display  : block;
        height   : 1%;
        overflow : visible;
    /* //_}#ie6-win */

    /* //_{@ie5mac */
        display  : inline-block;
    /* //_}@ie5mac */

        /* //_{#can-content */
            &:after {
                content     : ".";   
                display     : block;
                visibility  : hidden;   
                height      : 0.1px;   
                font-size   : 0.1em;   
                line-height : 0;
                clear       : both;
            }
        /* //_}#can-content */
}
.pbList-noWebFont .pbList {
    white-space : normal;
}

.pbList-noWebFont .pbList font {
    display          : block;
    border-color     : white;
    background-color : black;
    border-width     : 0;
    /* //_{@ie5win,@ie55 */
    width            : 10px;
	height           : 21px;
    /* //_}@ie5win,@ie55 */
    margin           : 5px 2px;
    float            : left;
}

/* //_{@ie5win,@ie55,@ie6,@ie7 */
.pbList-noWebFont .pbList span * {
	text-indent   : -9999px;
}
/* //_}@ie5win,@ie55,@ie6,@ie7 */