/* //_{#can-inline-block */
.pbList-noWebFont .pbList {
    white-space : normal;
}
/* //_}#can-inline-block */

    .pbList-noWebFont .pbLineNum {
        width : 60px;
    }
    .pbList-noWebFont .pbCmd {
        margin-left : 60px;
    }

        .pbList-noWebFont .pbList font {
            border-color     : white;
            background-color : black;
            border-width     : 0;
            width            : 10px;
            height           : 21px;
            font-size        : 21px;
            line-height      : 1;
            margin           : 5px 1px;
        }
        .pbList-noWebFont .pbLineNum font {
        /* //_{#can-inline-block */
            display  : inline-block;
        /* //_}#can-inline-block */
        /* //_{@ie7 */
            color    : transparent;
        /* //_}@ie7 */
        }
        .pbList-noWebFont .pbCmd font
        /* //_{#ie7-win */
        ,.pbList-noWebFont .pbList-area
        /* //_}#ie7-win */
        {
            display          : block;
            float            : left;
        }