/* //_{#can-inline-block */
.pbList-noWebFont .pbList {
    white-space : normal;
}
/* //_}#can-inline-block */

    .pbList-noWebFont .pbLineNum {
        width : 60px;
    }
    .pbList-noWebFont .pbCmd {
        margin-left : 60px;
    }

        .pbList-noWebFont .pbList font {
            border-width     : 0;
            width            : 10px;
            height           : 21px;
            font-size        : 21px;
            line-height      : 1;
            margin           : 5px 1px;
        }
        .pbList-noWebFont .pbLineNum font {
        /* //_{#can-inline-block */
            display        : inline-block;
            /* //_{@modern */
            vertical-align : top; /* 3DS 行がズレる */
            /* //_}@modern */
        /* //_}#can-inline-block */

        /* 親の text-align:right で text-indent:-21px 出来ないテキストを消す */
        /* //_{#ie7-win */
            text-align     : left;
        /* //_}#ie7-win */
        }
        .pbList-noWebFont .pbCmd font
        /* //_{#ie7-win */
        ,.pbList-noWebFont .pbList-area
        /* //_}#ie7-win */
        {
            display          : block;
            float            : left;
        }