
.pbList-area {
    color : deeppink;
}
.pbList-line {
    color : purple;
}
.pbList-str {
    color : red;
}
.pbList-cmd {
    color : blue;
}
.pbList-fnc {
    color : green;
}
.pbList-syb {
    color : orange;
}