
.pbList-area {
    color : deeppink;
}
.pbList-line {
    color : purple;
}
.pbList-str {
    color : red;
}
.pbList-cmd {
    color : blue;
}
.pbList-fnc {
    color : green;
}
.pbList-syb {
    color : brown;
}
.pbList-strsp {
    background-color : #fcc;
/* //_{^@ie5win */
    /* //_{#can-inline-block */
    display          : inline-block;
    /* //_}#can-inline-block */
    height           : 1em;
    position         : relative;
    /* //_{^@ie7 */
    top              : .1em;
    /* //_}^@ie7 */
    /* //_{@ie7 */
    top              : -.2em;
    /* //_}@ie7 */
/* //_}^@ie5win */
}

.pbList-noWebFont .pbList {
    background-color : #fff;

    font {
        background-color : black;
    }
    .pbList-area {
        background-color : deeppink;
    }
    .pbList-line {
        background-color : purple;
    }
    .pbList-str {
        background-color : red;
    }
    .pbList-cmd {
        background-color : blue;
    }
    .pbList-fnc {
        background-color : green;
    }
    .pbList-syb {
        background-color : brown;
    } 
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    .pbList-area {
        color : #C487A0;
    }
    .pbList-line {
        color : #C586C0;
    }
    .pbList-str {
        color : #CE9178;
    }
    .pbList-cmd {
        color : #569CD6;
    }
    .pbList-fnc {
        color : #6A9955;
    }
    .pbList-syb {
        color : #DCDCAA;
    }
    .pbList-strsp {
        background-color : #443838;
    }
    
    .pbList-noWebFont .pbList {
        background-color : #000;

        font {
            background-color : white;
        }
        .pbList-area {
            background-color : #C487A0;
        }
        .pbList-line {
            background-color : #C586C0;
        }
        .pbList-str {
            background-color : #CE9178;
        }
        .pbList-cmd {
            background-color : #569CD6;
        }
        .pbList-fnc {
            background-color : #6A9955;
        }
        .pbList-syb {
            background-color : #DCDCAA;
        } 
    }
}