
.pbList-area {
    color : deeppink;
}
.pbList-line {
    color : purple;
}
.pbList-str {
    color : red;
}
.pbList-cmd {
    color : blue;
}
.pbList-fnc {
    color : green;
}
.pbList-syb {
    color : brown;
}
.pbList-strsp {
    background-color : #fcc;
/* //_{^@ie5win */
    /* //_{#can-inline-block */
    display          : inline-block;
    /* //_}#can-inline-block */
    height           : 1em;
    position         : relative;
    /* //_{^@ie7 */
    top              : .1em;
    /* //_}^@ie7 */
    /* //_{@ie7 */
    top              : -.2em;
    /* //_}@ie7 */
/* //_}^@ie5win */
}

.pbList-noWebFont .pbList {
    .pbList-area {
        background-color : deeppink;
    }
    .pbList-line {
        background-color : purple;
    }
    .pbList-str {
        background-color : red;
    }
    .pbList-cmd {
        background-color : blue;
    }
    .pbList-fnc {
        background-color : green;
    }
    .pbList-syb {
        background-color : brown;
    } 
}