@charset "UTF-8";
.pbCmd,
.pbLCD b,
.pbLine,
.pbRow,
pre samp.pbFont {
  display: block
}
.pbLine,
.pbList-noWebFont .pbCmd font,
.pbList-noWebFont .pbList-area {
  float: left
}
.pbChr00,
.pbChr01,
.pbChr02,
.pbChr03,
.pbChr04,
.pbChr05,
.pbChr06,
.pbChr07,
.pbChr08,
.pbChr09,
.pbChr0A,
.pbChr0B,
.pbChr0C,
.pbChr0D,
.pbChr0E,
.pbChr0F,
.pbChr10,
.pbChr11,
.pbChr12,
.pbChr13,
.pbChr14,
.pbChr15,
.pbChr16,
.pbChr17,
.pbChr18,
.pbChr19,
.pbChr1A,
.pbChr1B,
.pbChr1C,
.pbChr1D,
.pbChr1E,
.pbChr1F,
.pbChr20,
.pbChr21,
.pbChr22,
.pbChr23,
.pbChr24,
.pbChr25,
.pbChr26,
.pbChr27,
.pbChr28,
.pbChr29,
.pbChr2A,
.pbChr2B,
.pbChr2C,
.pbChr2D,
.pbChr2E,
.pbChr2F,
.pbChr30,
.pbChr31,
.pbChr32,
.pbChr32a,
.pbChr33,
.pbChr34,
.pbChr35,
.pbChr36,
.pbChr37,
.pbChr38,
.pbChr39,
.pbChr3A,
.pbChr3B,
.pbChr3C,
.pbChr3D,
.pbChr3E,
.pbChr3F,
.pbChr40,
.pbChr41,
.pbChr42,
.pbChr43,
.pbChr44,
.pbChr45,
.pbChr46,
.pbChr47,
.pbChr48,
.pbChr49,
.pbChr4A,
.pbChr4B,
.pbChr4C,
.pbChr4D,
.pbChr4E,
.pbChr4F,
.pbChr50,
.pbChr51,
.pbChr52,
.pbChr53,
.pbChr54,
.pbChr55,
.pbChr56,
.pbChr57,
.pbChr58,
.pbChr59,
.pbChr5C,
.pbChr5D,
.pbChr5E,
.pbChr5F,
.pbChr60,
.pbChr61,
.pbChr62,
.pbChr63,
.pbChr64,
.pbChr65,
.pbChr66,
.pbChr67,
.pbChr67a,
.pbChr68,
.pbChr69,
.pbChr69a,
.pbChr6A,
.pbChr6Aa,
.pbChr6B,
.pbChr6Ba,
.pbChr6C,
.pbChr6D,
.pbChr6E,
.pbChr6F,
.pbChr70,
.pbChr71,
.pbChr72,
.pbChr73,
.pbChr74,
.pbChr75,
.pbChr76,
.pbChr77,
.pbChr78,
.pbChr79,
.pbChr7A,
.pbChr7B,
.pbChr7C,
.pbChr7D,
.pbChr7E,
.pbChrCS {
  font-family: monospace;
  padding: 0;
  overflow: hidden;
  font-size: 21px;
  font-style: normal;
  width: 14px;
  height: 27px;
  text-indent: -42px;
  background-image: url(pbLCD/x3_x10_8.png);
  background-repeat: no-repeat;
  background-color: #90b068;
  margin: 0 .2em;
  border-style: solid;
  border-color: #b0c86e;
  border-width: 3px 2px;
  line-height: 21px;
  vertical-align: text-bottom
}
kbd.pbKey,
kbd.pbKeyBlk,
kbd.pbKeyF,
kbd.pbKeyRed,
kbd.pbKeyS {
  margin: .5em .3em 0;
  top: -.2em;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid;
  cursor: pointer;
  letter-spacing: -1px;
  padding: 0 1em;
  height: 2.4em;
  line-height: 2.4
}
.pbFont,
.pbList code {
  font-family: PB-100,monospace,san-serif!important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none
}
kbd.pbKey,
kbd.pbKeyF,
kbd.pbKeyS {
  background: #f7f5ea;
  border-color: #c3b5ab #755e4e #59483b #c7b9b0
}
kbd.pbKey {
  color: #111
}
kbd.pbKey sub {
  font-size: 1em;
  line-height: 3
}
kbd.pbKeyS {
  color: #c00
}
kbd.pbKeyF {
  color: #029
}
kbd.pbKeyRed {
  color: #fff;
  border-color: #f70 #930 #930 #f60;
  background: #f24e1b
}
kbd.pbKeyBlk {
  color: #fff;
  border-color: #6c6c6c #000 #000 #676767;
  background: #232323
}
.pbChr00 {
  background-position: 12px 0
}
.pbChr01,
.pbChrCS,
.pbEXT {
  background-position: 0 0
}
.pbChr02 {
  background-position: -12px 0
}
.pbChr03 {
  background-position: -24px 0
}
.pbChr04 {
  background-position: -36px 0
}
.pbChr05 {
  background-position: -48px 0
}
.pbChr06 {
  background-position: -60px 0
}
.pbChr07 {
  background-position: -72px 0
}
.pbChr08 {
  background-position: -84px 0
}
.pbChr09 {
  background-position: -96px 0
}
.pbChr0A {
  background-position: -108px 0
}
.pbChr0B {
  background-position: -120px 0
}
.pbChr0C {
  background-position: -132px 0
}
.pbChr0D {
  background-position: -144px 0
}
.pbChr0E {
  background-position: -156px 0
}
.pbChr0F {
  background-position: -168px 0
}
.pbChr10 {
  background-position: -180px 0
}
.pbChr11 {
  background-position: -192px 0
}
.pbChr12 {
  background-position: -204px 0
}
.pbChr13 {
  background-position: -216px 0
}
.pbChr14 {
  background-position: -228px 0
}
.pbChr15 {
  background-position: -240px 0
}
.pbChr16 {
  background-position: -252px 0
}
.pbChr17 {
  background-position: -264px 0
}
.pbChr18 {
  background-position: -276px 0
}
.pbChr19 {
  background-position: -288px 0
}
.pbChr1A {
  background-position: -300px 0
}
.pbChr1B {
  background-position: -312px 0
}
.pbChr1C {
  background-position: -324px 0
}
.pbChr1D {
  background-position: -336px 0
}
.pbChr1E {
  background-position: -348px 0
}
.pbChr1F {
  background-position: -360px 0
}
.pbChr20 {
  background-position: -372px 0
}
.pbChr21 {
  background-position: -384px 0
}
.pbChr22 {
  background-position: -396px 0
}
.pbChr23 {
  background-position: -408px 0
}
.pbChr24 {
  background-position: -420px 0
}
.pbChr25 {
  background-position: -432px 0
}
.pbChr26 {
  background-position: -444px 0
}
.pbChr27 {
  background-position: -456px 0
}
.pbChr28 {
  background-position: -468px 0
}
.pbChr29 {
  background-position: -480px 0
}
.pbChr2A {
  background-position: -492px 0
}
.pbChr2B {
  background-position: -504px 0
}
.pbChr2C {
  background-position: -516px 0
}
.pbChr2D {
  background-position: -528px 0
}
.pbChr2E {
  background-position: -540px 0
}
.pbChr2F {
  background-position: -552px 0
}
.pbChr30 {
  background-position: -564px 0
}
.pbChr31 {
  background-position: -576px 0
}
.pbChr32 {
  background-position: -588px 0
}
.pbChr33 {
  background-position: -600px 0
}
.pbChr34 {
  background-position: -612px 0
}
.pbChr35 {
  background-position: -624px 0
}
.pbChr36 {
  background-position: -636px 0
}
.pbChr37 {
  background-position: -648px 0
}
.pbChr38 {
  background-position: -660px 0
}
.pbChr39 {
  background-position: -672px 0
}
.pbChr3A {
  background-position: -684px 0
}
.pbChr3B {
  background-position: -696px 0
}
.pbChr3C {
  background-position: -708px 0
}
.pbChr3D {
  background-position: -720px 0
}
.pbChr3E {
  background-position: -732px 0
}
.pbChr3F {
  background-position: -744px 0
}
.pbChr40 {
  background-position: -756px 0
}
.pbChr41 {
  background-position: -768px 0
}
.pbChr42 {
  background-position: -780px 0
}
.pbChr43 {
  background-position: -792px 0
}
.pbChr44 {
  background-position: -804px 0
}
.pbChr45 {
  background-position: -816px 0
}
.pbChr46 {
  background-position: -828px 0
}
.pbChr47 {
  background-position: -840px 0
}
.pbChr48 {
  background-position: -852px 0
}
.pbChr49 {
  background-position: -864px 0
}
.pbChr4A {
  background-position: -876px 0
}
.pbChr4B {
  background-position: -888px 0
}
.pbChr4C {
  background-position: -900px 0
}
.pbChr4D {
  background-position: -912px 0
}
.pbChr4E {
  background-position: -924px 0
}
.pbChr4F {
  background-position: -936px 0
}
.pbChr50 {
  background-position: -948px 0
}
.pbChr51 {
  background-position: -960px 0
}
.pbChr52 {
  background-position: -972px 0
}
.pbChr53 {
  background-position: -984px 0
}
.pbChr54 {
  background-position: -996px 0
}
.pbChr55 {
  background-position: -1008px 0
}
.pbChr56 {
  background-position: -1020px 0
}
.pbChr57 {
  background-position: -1032px 0
}
.pbChr58 {
  background-position: -1044px 0
}
.pbChr59 {
  background-position: -1056px 0
}
.pbChr5A {
  background-position: -1068px 0
}
.pbChr5B {
  background-position: -1080px 0
}
.pbChr5C {
  background-position: -1092px 0
}
.pbChr5D {
  background-position: -1104px 0
}
.pbChr5E {
  background-position: -1116px 0
}
.pbChr5F {
  background-position: -1128px 0
}
.pbChr60 {
  background-position: -1140px 0
}
.pbChr61 {
  background-position: -1152px 0
}
.pbChr62 {
  background-position: -1164px 0
}
.pbChr63 {
  background-position: -1176px 0
}
.pbChr64 {
  background-position: -1188px 0
}
.pbChr65 {
  background-position: -1200px 0
}
.pbChr66 {
  background-position: -1212px 0
}
.pbChr67 {
  background-position: -1224px 0
}
.pbChr68 {
  background-position: -1236px 0
}
.pbChr69 {
  background-position: -1248px 0
}
.pbChr6A {
  background-position: -1260px 0
}
.pbChr6B {
  background-position: -1272px 0
}
.pbChr6C {
  background-position: -1284px 0
}
.pbChr6D {
  background-position: -1296px 0
}
.pbChr6E {
  background-position: -1308px 0
}
.pbChr6F {
  background-position: -1320px 0
}
.pbChr70 {
  background-position: -1332px 0
}
.pbChr71 {
  background-position: -1344px 0
}
.pbChr72 {
  background-position: -1356px 0
}
.pbChr73 {
  background-position: -1368px 0
}
.pbChr74 {
  background-position: -1380px 0
}
.pbChr75 {
  background-position: -1392px 0
}
.pbChr76 {
  background-position: -1404px 0
}
.pbChr77 {
  background-position: -1416px 0
}
.pbChr78 {
  background-position: -1428px 0
}
.pbChr79 {
  background-position: -1440px 0
}
.pbChr7A {
  background-position: -1452px 0
}
.pbChr7B {
  background-position: -1464px 0
}
.pbChr7C {
  background-position: -1476px 0
}
.pbChr7D {
  background-position: -1488px 0
}
.pbChr7E {
  background-position: -1500px 0
}
.FX-795P .pbChr67,
.PB-120 .pbChr67,
.pbChr67a {
  background-position: -1512px 0
}
.FX-795P .pbChr32,
.PB-120 .pbChr32,
.pbChr32a {
  background-position: -1524px 0
}
.FX-795P .pbChr69,
.PB-120 .pbChr69,
.pbChr69a {
  background-position: -1536px 0
}
.FX-795P .pbChr6A,
.PB-120 .pbChr6A,
.pbChr6Aa {
  background-position: -1548px 0
}
.FX-795P .pbChr6B,
.PB-120 .pbChr6B,
.pbChr6Ba {
  background-position: -1560px 0
}
.pbChrCS {
  background-image: url(pbLCD/x3_csr.gif)
}
.pbLCD samp,
.pbLCD small * {
  background-image: url(pbLCD/bg.png);
  background-repeat: no-repeat
}
.pbLCD :link,
.pbLCD :visited,
.pbLCD samp,
.pbLCD small,
.pbLCD small * {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  border-width: 0
}
.pbLCD {
  white-space: pre!important;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 200px;
  position: relative;
  height: 70px;
  background-color: #030d31
}
.pbLCD b,
.pbLCD div {
  position: absolute
}
.pbLCD :link,
.pbLCD :visited {
  text-decoration: none!important
}
.pbLCD samp {
  width: 100%;
  left: 0;
  background-position: 8px -19px;
  top: 9px;
  height: 52px
}
.forced-colors .pbLCD {
  border: 1px solid red
}
.pbLCD a {
  top: 24px;
  height: 25px;
  border-style: solid;
  cursor: pointer
}
.pbLCD a b {
  top: 2px
}
.pbLCD b {
  top: 26px;
  width: 10px;
  height: 21px;
  margin: 0;
  border-width: 0;
  background-color: transparent
}
.pbLCD small,
.pbLCD small * {
  height: 13px;
  overflow: hidden
}
.pbCsr0 {
  left: 18px
}
.pbCsr1 {
  left: 32px
}
.pbCsr2 {
  left: 46px
}
.pbCsr3 {
  left: 60px
}
.pbCsr4 {
  left: 74px
}
.pbCsr5 {
  left: 88px
}
.pbCsr6 {
  left: 102px
}
.pbCsr7 {
  left: 116px
}
.pbCsr8 {
  left: 130px
}
.pbCsr9 {
  left: 144px
}
.pbCsrA {
  left: 158px
}
.pbCsrB {
  left: 172px
}
.pbLCD small {
  width: 100%;
  left: 0;
  top: 6px;
  line-height: 0
}
.pbLCD small * {
  text-indent: 20px;
  top: 0
}
.pbEXT {
  width: 11px;
  left: 14px
}
.pbFNC,
.pbShift {
  width: 7px;
  left: 27px
}
.pbShift {
  background-position: -13px 0
}
.pbFNC {
  background-position: -23px 0
}
.pbRUN,
.pbWRT {
  width: 14px;
  left: 34px
}
.pbRUN {
  background-position: -31px 0
}
.pbWRT {
  background-position: -47px 0
}
.pbDEG,
.pbGRA,
.pbRAD {
  width: 13px
}
.pbDEG {
  background-position: -63px 0;
  left: 50px
}
.pbRAD {
  background-position: -75px 0;
  left: 62px
}
.pbGRA {
  background-position: -93px 0;
  left: 74px
}
.pbTR {
  background-position: -108px 0;
  width: 8px;
  left: 89px
}
.pbPRT {
  background-position: -118px 0;
  width: 12px;
  left: 143px
}
.pbSTOP {
  background-position: -132px 0;
  width: 17px;
  left: 159px
}
.pbAlp1 {
  background-position-y: -216px
}
.pbLCD-AX .pbAlp1 {
  filter: alpha(opacity=10)
}
.pbAlp2 {
  background-position-y: -192px
}
.pbLCD-AX .pbAlp2 {
  filter: alpha(opacity=20)
}
.pbAlp3 {
  background-position-y: -168px
}
.pbLCD-AX .pbAlp3 {
  filter: alpha(opacity=30)
}
.pbAlp4 {
  background-position-y: -144px
}
.pbLCD-AX .pbAlp4 {
  filter: alpha(opacity=40)
}
.pbAlp6 {
  background-position-y: -96px
}
.pbLCD-AX .pbAlp6 {
  filter: alpha(opacity=60)
}
.pbAlp7 {
  background-position-y: -72px
}
.pbLCD-AX .pbAlp7 {
  filter: alpha(opacity=70)
}
.pbAlp8 {
  background-position-y: -48px
}
.pbLCD-AX .pbAlp8 {
  filter: alpha(opacity=80)
}
.pbAlp9 {
  background-position-y: -24px
}
.pbLCD-AX .pbAlp9 {
  filter: alpha(opacity=90)
}
.pbAlp6,
.pbAlp7,
.pbAlp8,
.pbAlp9 {
  z-index: 1
}
.pbLCD-AX .pbLCD b {
  background-position-y: 0
}
.pbLCD :hover {
  z-index: 999
}
.pbLCD :active {
  z-index: 998
}
.pbTip,
.pbTipBtm {
  font-size: 12px;
  line-height: 1;
  text-align: center;
  padding: 7px 5px;
  background: #ccc;
  color: #111;
  border: 1px solid #999
}
.pbTip div,
.pbTipBtm div {
  left: 7px;
  width: 8px;
  height: 5px;
  overflow: hidden;
  border-style: solid;
  border-color: #999 #030d31
}
.pbTip div {
  border-width: 5px 4px 0;
  bottom: -6px
}
.pbTipBtm div {
  border-width: 0 4px 5px;
  top: -6px
}
.pbTip {
  bottom: 57px
}
:active .pbTip {
  bottom: 56px
}
:hover .pbTip {
  bottom: 55px
}
.pbTipBtm {
  top: 36px
}
:active .pbTipBtm {
  top: 35px
}
:hover .pbTipBtm {
  top: 34px
}
.pbColor0,
.pbColor1,
.pbColor2,
.pbColor3,
.pbColor4,
.pbColor5,
.pbColor6,
.pbColor7,
.pbColor8,
.pbColor9,
.pbColorA,
.pbColorB {
  border-width: 0 0 2px!important;
  height: 27px!important
}
.pbLCD :active,
.pbLCD :hover {
  background: #ccc
}
:hover .pbTip,
:hover .pbTipBtm {
  background: #fff
}
.pbTip:active,
.pbTipBtm:active {
  color: #111;
  background: #eee
}
.pbColor1 {
  border-color: #666
}
.pbColor1 .pbTip,
.pbColor1 .pbTipBtm {
  background: #666;
  border-color: #555;
  color: #fff
}
.pbColor1:hover {
  background: #666
}
.pbColor1:hover .pbTip,
.pbColor1:hover .pbTipBtm {
  background: #888
}
.pbColor1:active {
  background: #666;
  border-color: #777
}
.pbColor1:active .pbTip,
.pbColor1:active .pbTipBtm {
  background: #777;
  color: #fff
}
.pbColor1 .pbTip div,
.pbColor1 .pbTipBtm div {
  border-color: #555 #030d31
}
.pbColor2 {
  border-color: #f66
}
.pbColor2 .pbTip,
.pbColor2 .pbTipBtm {
  background: #f66;
  border-color: #c33;
  color: #fff
}
.pbColor2:hover {
  background: #f66
}
.pbColor2:hover .pbTip,
.pbColor2:hover .pbTipBtm {
  background: #f44
}
.pbColor2:active {
  background: #f66;
  border-color: #f22
}
.pbColor2:active .pbTip,
.pbColor2:active .pbTipBtm {
  background: #f22;
  color: #fff
}
.pbColor2 .pbTip div,
.pbColor2 .pbTipBtm div {
  border-color: #c33 #030d31
}
.pbColor3 {
  border-color: #6c6
}
.pbColor3 .pbTip,
.pbColor3 .pbTipBtm {
  background: #6c6;
  border-color: #3a3;
  color: #fff
}
.pbColor3:hover {
  background: #6c6
}
.pbColor3:hover .pbTip,
.pbColor3:hover .pbTipBtm {
  background: #4c4
}
.pbColor3:active {
  background: #6c6;
  border-color: #2c2
}
.pbColor3:active .pbTip,
.pbColor3:active .pbTipBtm {
  background: #2c2;
  color: #fff
}
.pbColor3 .pbTip div,
.pbColor3 .pbTipBtm div {
  border-color: #3a3 #030d31
}
.pbColor4 {
  border-color: #08f
}
.pbColor4 .pbTip,
.pbColor4 .pbTipBtm {
  background: #08f;
  border-color: #04c;
  color: #fff
}
.pbColor4:hover {
  background: #08f
}
.pbColor4:hover .pbTip,
.pbColor4:hover .pbTipBtm {
  background: #06f
}
.pbColor4:active {
  background: #08f;
  border-color: #04f
}
.pbColor4:active .pbTip,
.pbColor4:active .pbTipBtm {
  background: #04f;
  color: #fff
}
.pbColor4 .pbTip div,
.pbColor4 .pbTipBtm div {
  border-color: #04c #030d31
}
.pbColor5 {
  border-color: #f8f
}
.pbColor5 .pbTip,
.pbColor5 .pbTipBtm {
  background: #f8f;
  border-color: #c4c;
  color: #fff
}
.pbColor5:hover {
  background: #f8f
}
.pbColor5:hover .pbTip,
.pbColor5:hover .pbTipBtm {
  background: #f6f
}
.pbColor5:active {
  background: #f8f;
  border-color: #f4f
}
.pbColor5:active .pbTip,
.pbColor5:active .pbTipBtm {
  background: #f4f;
  color: #fff
}
.pbColor5 .pbTip div,
.pbColor5 .pbTipBtm div {
  border-color: #c4c #030d31
}
.pbColor6 {
  border-color: #aa8
}
.pbColor6 .pbTip,
.pbColor6 .pbTipBtm {
  background: #aa8;
  border-color: #884;
  color: #fff
}
.pbColor6:hover {
  background: #aa8
}
.pbColor6:hover .pbTip,
.pbColor6:hover .pbTipBtm {
  background: #aa6
}
.pbColor6:active {
  background: #aa8;
  border-color: #aa4
}
.pbColor6:active .pbTip,
.pbColor6:active .pbTipBtm {
  background: #aa4;
  color: #fff
}
.pbColor6 .pbTip div,
.pbColor6 .pbTipBtm div {
  border-color: #884 #030d31
}
.pbColor7 {
  border-color: #f80
}
.pbColor7 .pbTip,
.pbColor7 .pbTipBtm {
  background: #f80;
  border-color: #c80;
  color: #fff
}
.pbColor7:hover {
  background: #f80
}
.pbColor7:hover .pbTip,
.pbColor7:hover .pbTipBtm {
  background: #f60
}
.pbColor7:active {
  background: #f80;
  border-color: #f70
}
.pbColor7:active .pbTip,
.pbColor7:active .pbTipBtm {
  background: #f70;
  color: #fff
}
.pbColor7 .pbTip div,
.pbColor7 .pbTipBtm div {
  border-color: #c80 #030d31
}
.pbColor8 {
  border-color: #80f
}
.pbColor8 .pbTip,
.pbColor8 .pbTipBtm {
  background: #80f;
  border-color: #80c;
  color: #fff
}
.pbColor8:hover {
  background: #80f
}
.pbColor8:hover .pbTip,
.pbColor8:hover .pbTipBtm {
  background: #40b
}
.pbColor8:active {
  background: #80f;
  border-color: #60d
}
.pbColor8:active .pbTip,
.pbColor8:active .pbTipBtm {
  background: #60d;
  color: #fff
}
.pbColor8 .pbTip div,
.pbColor8 .pbTipBtm div {
  border-color: #80c #030d31
}
.pbColor9 {
  border-color: #4a0
}
.pbColor9 .pbTip,
.pbColor9 .pbTipBtm {
  background: #4a0;
  border-color: #480;
  color: #fff
}
.pbColor9:hover {
  background: #4a0
}
.pbColor9:hover .pbTip,
.pbColor9:hover .pbTipBtm {
  background: #0a0
}
.pbColor9:active {
  background: #4a0;
  border-color: #2a0
}
.pbColor9:active .pbTip,
.pbColor9:active .pbTipBtm {
  background: #2a0;
  color: #fff
}
.pbColor9 .pbTip div,
.pbColor9 .pbTipBtm div {
  border-color: #480 #030d31
}
.pbColorA {
  border-color: #555
}
.pbColorA .pbTip,
.pbColorA .pbTipBtm {
  background: #555;
  border-color: #222;
  color: #fff
}
.pbColorA:hover {
  background: #555
}
.pbColorA:hover .pbTip,
.pbColorA:hover .pbTipBtm {
  background: #333
}
.pbColorA:active {
  background: #555;
  border-color: #444
}
.pbColorA:active .pbTip,
.pbColorA:active .pbTipBtm {
  background: #444;
  color: #fff
}
.pbColorA .pbTip div,
.pbColorA .pbTipBtm div {
  border-color: #222 #030d31
}
.pbColorB {
  border-color: #8ff
}
.pbColorB .pbTip,
.pbColorB .pbTipBtm {
  background: #8ff;
  border-color: #2ff;
  color: #fff
}
.pbColorB:hover {
  background: #8ff
}
.pbColorB:hover .pbTip,
.pbColorB:hover .pbTipBtm {
  background: #4ff
}
.pbColorB:active {
  background: #8ff;
  border-color: #6ff
}
.pbColorB:active .pbTip,
.pbColorB:active .pbTipBtm {
  background: #6ff;
  color: #fff
}
.pbColorB .pbTip div,
.pbColorB .pbTipBtm div {
  border-color: #2ff #030d31
}
.pbRng0,
.pbRng0-1,
.pbRng0-1 .pbCsr1,
.pbRng0-2,
.pbRng0-2 .pbCsr1,
.pbRng0-3,
.pbRng0-3 .pbCsr1,
.pbRng0-4,
.pbRng0-4 .pbCsr1,
.pbRng0-5,
.pbRng0-5 .pbCsr1,
.pbRng0-6,
.pbRng0-6 .pbCsr1,
.pbRng0-7,
.pbRng0-7 .pbCsr1,
.pbRng0-8,
.pbRng0-8 .pbCsr1,
.pbRng0-9,
.pbRng0-9 .pbCsr1,
.pbRng0-A,
.pbRng0-A .pbCsr1,
.pbRng0-B,
.pbRng0-B .pbCsr1,
.pbRng1-2 .pbCsr2,
.pbRng1-3 .pbCsr2,
.pbRng1-4 .pbCsr2,
.pbRng1-5 .pbCsr2,
.pbRng1-6 .pbCsr2,
.pbRng1-7 .pbCsr2,
.pbRng1-8 .pbCsr2,
.pbRng1-9 .pbCsr2,
.pbRng1-A .pbCsr2,
.pbRng1-B .pbCsr2,
.pbRng2-3 .pbCsr3,
.pbRng2-4 .pbCsr3,
.pbRng2-5 .pbCsr3,
.pbRng2-6 .pbCsr3,
.pbRng2-7 .pbCsr3,
.pbRng2-8 .pbCsr3,
.pbRng2-9 .pbCsr3,
.pbRng2-A .pbCsr3,
.pbRng2-B .pbCsr3,
.pbRng3-4 .pbCsr4,
.pbRng3-5 .pbCsr4,
.pbRng3-6 .pbCsr4,
.pbRng3-7 .pbCsr4,
.pbRng3-8 .pbCsr4,
.pbRng3-9 .pbCsr4,
.pbRng3-A .pbCsr4,
.pbRng3-B .pbCsr4,
.pbRng4-5 .pbCsr5,
.pbRng4-6 .pbCsr5,
.pbRng4-7 .pbCsr5,
.pbRng4-8 .pbCsr5,
.pbRng4-9 .pbCsr5,
.pbRng4-A .pbCsr5,
.pbRng4-B .pbCsr5,
.pbRng5-6 .pbCsr6,
.pbRng5-7 .pbCsr6,
.pbRng5-8 .pbCsr6,
.pbRng5-9 .pbCsr6,
.pbRng5-A .pbCsr6,
.pbRng5-B .pbCsr6,
.pbRng6-7 .pbCsr7,
.pbRng6-8 .pbCsr7,
.pbRng6-9 .pbCsr7,
.pbRng6-A .pbCsr7,
.pbRng6-B .pbCsr7,
.pbRng7-8 .pbCsr8,
.pbRng7-9 .pbCsr8,
.pbRng7-A .pbCsr8,
.pbRng7-B .pbCsr8,
.pbRng8-9 .pbCsr9,
.pbRng8-A .pbCsr9,
.pbRng8-B .pbCsr9,
.pbRng9-A .pbCsrA,
.pbRng9-B .pbCsrA,
.pbRngA-B .pbCsrB {
  left: 16px
}
.pbRng0 .pbCsr0,
.pbRng0-1 .pbCsr0,
.pbRng0-2 .pbCsr0,
.pbRng0-3 .pbCsr0,
.pbRng0-4 .pbCsr0,
.pbRng0-5 .pbCsr0,
.pbRng0-6 .pbCsr0,
.pbRng0-7 .pbCsr0,
.pbRng0-8 .pbCsr0,
.pbRng0-9 .pbCsr0,
.pbRng0-A .pbCsr0,
.pbRng0-B .pbCsr0,
.pbRng1 .pbCsr1,
.pbRng1-2 .pbCsr1,
.pbRng1-3 .pbCsr1,
.pbRng1-4 .pbCsr1,
.pbRng1-5 .pbCsr1,
.pbRng1-6 .pbCsr1,
.pbRng1-7 .pbCsr1,
.pbRng1-8 .pbCsr1,
.pbRng1-9 .pbCsr1,
.pbRng1-A .pbCsr1,
.pbRng1-B .pbCsr1,
.pbRng2 .pbCsr2,
.pbRng2-3 .pbCsr2,
.pbRng2-4 .pbCsr2,
.pbRng2-5 .pbCsr2,
.pbRng2-6 .pbCsr2,
.pbRng2-7 .pbCsr2,
.pbRng2-8 .pbCsr2,
.pbRng2-9 .pbCsr2,
.pbRng2-A .pbCsr2,
.pbRng2-B .pbCsr2,
.pbRng3 .pbCsr3,
.pbRng3-4 .pbCsr3,
.pbRng3-5 .pbCsr3,
.pbRng3-6 .pbCsr3,
.pbRng3-7 .pbCsr3,
.pbRng3-8 .pbCsr3,
.pbRng3-9 .pbCsr3,
.pbRng3-A .pbCsr3,
.pbRng3-B .pbCsr3,
.pbRng4 .pbCsr4,
.pbRng4-5 .pbCsr4,
.pbRng4-6 .pbCsr4,
.pbRng4-7 .pbCsr4,
.pbRng4-8 .pbCsr4,
.pbRng4-9 .pbCsr4,
.pbRng4-A .pbCsr4,
.pbRng4-B .pbCsr4,
.pbRng5 .pbCsr5,
.pbRng5-6 .pbCsr5,
.pbRng5-7 .pbCsr5,
.pbRng5-8 .pbCsr5,
.pbRng5-9 .pbCsr5,
.pbRng5-A .pbCsr5,
.pbRng5-B .pbCsr5,
.pbRng6 .pbCsr6,
.pbRng6-7 .pbCsr6,
.pbRng6-8 .pbCsr6,
.pbRng6-9 .pbCsr6,
.pbRng6-A .pbCsr6,
.pbRng6-B .pbCsr6,
.pbRng7 .pbCsr7,
.pbRng7-8 .pbCsr7,
.pbRng7-9 .pbCsr7,
.pbRng7-A .pbCsr7,
.pbRng7-B .pbCsr7,
.pbRng8 .pbCsr8,
.pbRng8-9 .pbCsr8,
.pbRng8-A .pbCsr8,
.pbRng8-B .pbCsr8,
.pbRng9 .pbCsr9,
.pbRng9-A .pbCsr9,
.pbRng9-B .pbCsr9,
.pbRngA .pbCsrA,
.pbRngA-B .pbCsrA,
.pbRngB .pbCsrB {
  left: 2px
}
.pbRng0-2 .pbCsr2,
.pbRng0-3 .pbCsr2,
.pbRng0-4 .pbCsr2,
.pbRng0-5 .pbCsr2,
.pbRng0-6 .pbCsr2,
.pbRng0-7 .pbCsr2,
.pbRng0-8 .pbCsr2,
.pbRng0-9 .pbCsr2,
.pbRng0-A .pbCsr2,
.pbRng0-B .pbCsr2,
.pbRng1,
.pbRng1-2,
.pbRng1-3,
.pbRng1-3 .pbCsr3,
.pbRng1-4,
.pbRng1-4 .pbCsr3,
.pbRng1-5,
.pbRng1-5 .pbCsr3,
.pbRng1-6,
.pbRng1-6 .pbCsr3,
.pbRng1-7,
.pbRng1-7 .pbCsr3,
.pbRng1-8,
.pbRng1-8 .pbCsr3,
.pbRng1-9,
.pbRng1-9 .pbCsr3,
.pbRng1-A,
.pbRng1-A .pbCsr3,
.pbRng1-B,
.pbRng1-B .pbCsr3,
.pbRng2-4 .pbCsr4,
.pbRng2-5 .pbCsr4,
.pbRng2-6 .pbCsr4,
.pbRng2-7 .pbCsr4,
.pbRng2-8 .pbCsr4,
.pbRng2-9 .pbCsr4,
.pbRng2-A .pbCsr4,
.pbRng2-B .pbCsr4,
.pbRng3-5 .pbCsr5,
.pbRng3-6 .pbCsr5,
.pbRng3-7 .pbCsr5,
.pbRng3-8 .pbCsr5,
.pbRng3-9 .pbCsr5,
.pbRng3-A .pbCsr5,
.pbRng3-B .pbCsr5,
.pbRng4-6 .pbCsr6,
.pbRng4-7 .pbCsr6,
.pbRng4-8 .pbCsr6,
.pbRng4-9 .pbCsr6,
.pbRng4-A .pbCsr6,
.pbRng4-B .pbCsr6,
.pbRng5-7 .pbCsr7,
.pbRng5-8 .pbCsr7,
.pbRng5-9 .pbCsr7,
.pbRng5-A .pbCsr7,
.pbRng5-B .pbCsr7,
.pbRng6-8 .pbCsr8,
.pbRng6-9 .pbCsr8,
.pbRng6-A .pbCsr8,
.pbRng6-B .pbCsr8,
.pbRng7-9 .pbCsr9,
.pbRng7-A .pbCsr9,
.pbRng7-B .pbCsr9,
.pbRng8-A .pbCsrA,
.pbRng8-B .pbCsrA,
.pbRng9-B .pbCsrB {
  left: 30px
}
.pbRng0-3 .pbCsr3,
.pbRng0-4 .pbCsr3,
.pbRng0-5 .pbCsr3,
.pbRng0-6 .pbCsr3,
.pbRng0-7 .pbCsr3,
.pbRng0-8 .pbCsr3,
.pbRng0-9 .pbCsr3,
.pbRng0-A .pbCsr3,
.pbRng0-B .pbCsr3,
.pbRng1-4 .pbCsr4,
.pbRng1-5 .pbCsr4,
.pbRng1-6 .pbCsr4,
.pbRng1-7 .pbCsr4,
.pbRng1-8 .pbCsr4,
.pbRng1-9 .pbCsr4,
.pbRng1-A .pbCsr4,
.pbRng1-B .pbCsr4,
.pbRng2,
.pbRng2-3,
.pbRng2-4,
.pbRng2-5,
.pbRng2-5 .pbCsr5,
.pbRng2-6,
.pbRng2-6 .pbCsr5,
.pbRng2-7,
.pbRng2-7 .pbCsr5,
.pbRng2-8,
.pbRng2-8 .pbCsr5,
.pbRng2-9,
.pbRng2-9 .pbCsr5,
.pbRng2-A,
.pbRng2-A .pbCsr5,
.pbRng2-B,
.pbRng2-B .pbCsr5,
.pbRng3-6 .pbCsr6,
.pbRng3-7 .pbCsr6,
.pbRng3-8 .pbCsr6,
.pbRng3-9 .pbCsr6,
.pbRng3-A .pbCsr6,
.pbRng3-B .pbCsr6,
.pbRng4-7 .pbCsr7,
.pbRng4-8 .pbCsr7,
.pbRng4-9 .pbCsr7,
.pbRng4-A .pbCsr7,
.pbRng4-B .pbCsr7,
.pbRng5-8 .pbCsr8,
.pbRng5-9 .pbCsr8,
.pbRng5-A .pbCsr8,
.pbRng5-B .pbCsr8,
.pbRng6-9 .pbCsr9,
.pbRng6-A .pbCsr9,
.pbRng6-B .pbCsr9,
.pbRng7-A .pbCsrA,
.pbRng7-B .pbCsrA,
.pbRng8-B .pbCsrB {
  left: 44px
}
.pbRng0-4 .pbCsr4,
.pbRng0-5 .pbCsr4,
.pbRng0-6 .pbCsr4,
.pbRng0-7 .pbCsr4,
.pbRng0-8 .pbCsr4,
.pbRng0-9 .pbCsr4,
.pbRng0-A .pbCsr4,
.pbRng0-B .pbCsr4,
.pbRng1-5 .pbCsr5,
.pbRng1-6 .pbCsr5,
.pbRng1-7 .pbCsr5,
.pbRng1-8 .pbCsr5,
.pbRng1-9 .pbCsr5,
.pbRng1-A .pbCsr5,
.pbRng1-B .pbCsr5,
.pbRng2-6 .pbCsr6,
.pbRng2-7 .pbCsr6,
.pbRng2-8 .pbCsr6,
.pbRng2-9 .pbCsr6,
.pbRng2-A .pbCsr6,
.pbRng2-B .pbCsr6,
.pbRng3,
.pbRng3-4,
.pbRng3-5,
.pbRng3-6,
.pbRng3-7,
.pbRng3-7 .pbCsr7,
.pbRng3-8,
.pbRng3-8 .pbCsr7,
.pbRng3-9,
.pbRng3-9 .pbCsr7,
.pbRng3-A,
.pbRng3-A .pbCsr7,
.pbRng3-B,
.pbRng3-B .pbCsr7,
.pbRng4-8 .pbCsr8,
.pbRng4-9 .pbCsr8,
.pbRng4-A .pbCsr8,
.pbRng4-B .pbCsr8,
.pbRng5-9 .pbCsr9,
.pbRng5-A .pbCsr9,
.pbRng5-B .pbCsr9,
.pbRng6-A .pbCsrA,
.pbRng6-B .pbCsrA,
.pbRng7-B .pbCsrB {
  left: 58px
}
.pbRng0-5 .pbCsr5,
.pbRng0-6 .pbCsr5,
.pbRng0-7 .pbCsr5,
.pbRng0-8 .pbCsr5,
.pbRng0-9 .pbCsr5,
.pbRng0-A .pbCsr5,
.pbRng0-B .pbCsr5,
.pbRng1-6 .pbCsr6,
.pbRng1-7 .pbCsr6,
.pbRng1-8 .pbCsr6,
.pbRng1-9 .pbCsr6,
.pbRng1-A .pbCsr6,
.pbRng1-B .pbCsr6,
.pbRng2-7 .pbCsr7,
.pbRng2-8 .pbCsr7,
.pbRng2-9 .pbCsr7,
.pbRng2-A .pbCsr7,
.pbRng2-B .pbCsr7,
.pbRng3-8 .pbCsr8,
.pbRng3-9 .pbCsr8,
.pbRng3-A .pbCsr8,
.pbRng3-B .pbCsr8,
.pbRng4,
.pbRng4-5,
.pbRng4-6,
.pbRng4-7,
.pbRng4-8,
.pbRng4-9,
.pbRng4-9 .pbCsr9,
.pbRng4-A,
.pbRng4-A .pbCsr9,
.pbRng4-B,
.pbRng4-B .pbCsr9,
.pbRng5-A .pbCsrA,
.pbRng5-B .pbCsrA,
.pbRng6-B .pbCsrB {
  left: 72px
}
.pbRng0-6 .pbCsr6,
.pbRng0-7 .pbCsr6,
.pbRng0-8 .pbCsr6,
.pbRng0-9 .pbCsr6,
.pbRng0-A .pbCsr6,
.pbRng0-B .pbCsr6,
.pbRng1-7 .pbCsr7,
.pbRng1-8 .pbCsr7,
.pbRng1-9 .pbCsr7,
.pbRng1-A .pbCsr7,
.pbRng1-B .pbCsr7,
.pbRng2-8 .pbCsr8,
.pbRng2-9 .pbCsr8,
.pbRng2-A .pbCsr8,
.pbRng2-B .pbCsr8,
.pbRng3-9 .pbCsr9,
.pbRng3-A .pbCsr9,
.pbRng3-B .pbCsr9,
.pbRng4-A .pbCsrA,
.pbRng4-B .pbCsrA,
.pbRng5,
.pbRng5-6,
.pbRng5-7,
.pbRng5-8,
.pbRng5-9,
.pbRng5-A,
.pbRng5-B,
.pbRng5-B .pbCsrB {
  left: 86px
}
.pbRng0-7 .pbCsr7,
.pbRng0-8 .pbCsr7,
.pbRng0-9 .pbCsr7,
.pbRng0-A .pbCsr7,
.pbRng0-B .pbCsr7,
.pbRng1-8 .pbCsr8,
.pbRng1-9 .pbCsr8,
.pbRng1-A .pbCsr8,
.pbRng1-B .pbCsr8,
.pbRng2-9 .pbCsr9,
.pbRng2-A .pbCsr9,
.pbRng2-B .pbCsr9,
.pbRng3-A .pbCsrA,
.pbRng3-B .pbCsrA,
.pbRng4-B .pbCsrB,
.pbRng6,
.pbRng6-7,
.pbRng6-8,
.pbRng6-9,
.pbRng6-A,
.pbRng6-B {
  left: 100px
}
.pbRng0-8 .pbCsr8,
.pbRng0-9 .pbCsr8,
.pbRng0-A .pbCsr8,
.pbRng0-B .pbCsr8,
.pbRng1-9 .pbCsr9,
.pbRng1-A .pbCsr9,
.pbRng1-B .pbCsr9,
.pbRng2-A .pbCsrA,
.pbRng2-B .pbCsrA,
.pbRng3-B .pbCsrB,
.pbRng7,
.pbRng7-8,
.pbRng7-9,
.pbRng7-A,
.pbRng7-B {
  left: 114px
}
.pbRng0-9 .pbCsr9,
.pbRng0-A .pbCsr9,
.pbRng0-B .pbCsr9,
.pbRng1-A .pbCsrA,
.pbRng1-B .pbCsrA,
.pbRng2-B .pbCsrB,
.pbRng8,
.pbRng8-9,
.pbRng8-A,
.pbRng8-B {
  left: 128px
}
.pbRng0-A .pbCsrA,
.pbRng0-B .pbCsrA,
.pbRng1-B .pbCsrB,
.pbRng9,
.pbRng9-A,
.pbRng9-B {
  left: 142px
}
.pbRng0-B .pbCsrB,
.pbRngA,
.pbRngA-B {
  left: 156px
}
.pbRngB {
  left: 170px
}
.pbRng0,
.pbRng1,
.pbRng2,
.pbRng3,
.pbRng4,
.pbRng5,
.pbRng6,
.pbRng7,
.pbRng8,
.pbRng9,
.pbRngA,
.pbRngB {
  width: 14px
}
.pbRng0-1,
.pbRng1-2,
.pbRng2-3,
.pbRng3-4,
.pbRng4-5,
.pbRng5-6,
.pbRng6-7,
.pbRng7-8,
.pbRng8-9,
.pbRng9-A,
.pbRngA-B {
  width: 28px
}
.pbRng0-2,
.pbRng1-3,
.pbRng2-4,
.pbRng3-5,
.pbRng4-6,
.pbRng5-7,
.pbRng6-8,
.pbRng7-9,
.pbRng8-A,
.pbRng9-B {
  width: 42px
}
.pbRng0-3,
.pbRng1-4,
.pbRng2-5,
.pbRng3-6,
.pbRng4-7,
.pbRng5-8,
.pbRng6-9,
.pbRng7-A,
.pbRng8-B {
  width: 56px
}
.pbRng0-4,
.pbRng1-5,
.pbRng2-6,
.pbRng3-7,
.pbRng4-8,
.pbRng5-9,
.pbRng6-A,
.pbRng7-B {
  width: 70px
}
.pbRng0-5,
.pbRng1-6,
.pbRng2-7,
.pbRng3-8,
.pbRng4-9,
.pbRng5-A,
.pbRng6-B {
  width: 84px
}
.pbRng0-6,
.pbRng1-7,
.pbRng2-8,
.pbRng3-9,
.pbRng4-A,
.pbRng5-B {
  width: 98px
}
.pbRng0-7,
.pbRng1-8,
.pbRng2-9,
.pbRng3-A,
.pbRng4-B {
  width: 112px
}
.pbRng0-8,
.pbRng1-9,
.pbRng2-A,
.pbRng3-B {
  width: 126px
}
.pbRng0-9,
.pbRng1-A,
.pbRng2-B {
  width: 140px
}
.pbRng0-A,
.pbRng1-B {
  width: 154px
}
.pbRng0-B {
  width: 168px
}
.jsCanRotate .pbTip div,
.jsCanRotate .pbTipBtm div {
  background: red;
  width: 3px;
  height: 3px;
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M22=1, M12=1, M21=-1, sizingMethod="auto expand")
}
.jsCanRotate .pbTip div {
  border-width: 0 0 1px 1px
}
.jsCanRotate .pbTipBtm div {
  border-width: 1px 1px 0 0
}
.js-myIconFont-testRendering {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 72px;
  visibility: hidden
}
@font-face {
  font-family: PB-100;
  font-weight: 400;
  font-style: normal;
  src: url(pbFont/PB-100.eot?rw1juc)
}
.pbFont {
  font-size: 1.1em
}
samp.pbFont {
  background: #b0c86e;
  color: #000;
  padding: .1em .4em;
  margin: 0 .1em
}
pre samp.pbFont {
  padding: 0;
  margin: 0
}
.pbList {
  font-size: 1.6em;
  line-height: 1.2;
  word-wrap: break-word;
  word-break: break-all
}
.pbList font {
  font-size: 1em;
  zoom: 1;
  width: .4em;
  padding-left: 3px
}
.pbRow {
  zoom: 1
}
.pbLine {
  text-align: right;
  width: 2.5em
}
.pbCmd {
  margin-left: 2.5em;
  text-indent: -3px
}
.pbList-noWebFont .pbList font {
  border-width: 0;
  background-image: url(pbFont/x3mask.png);
  width: 10px;
  height: 21px;
  font-size: 21px;
  line-height: 1;
  overflow: hidden;
  margin: 10px 1px 0;
  text-align: left;
  vertical-align: top;
  background-color: #000
}
.pbList-noWebFont .pbLine {
  width: 60px
}
.pbList-noWebFont .pbCmd {
  margin-left: 60px
}
.pbList-area {
  color: #ff1493
}
.pbList-line {
  color: purple
}
.pbList-str {
  color: red
}
.pbList-cmd {
  color: #00f
}
.pbList-fnc {
  color: green
}
.pbList-syb {
  color: brown
}
.pbList-strsp {
  background-color: #fcc
}
.pbList-noWebFont .pbList {
  background-color: #fff
}
.pbList-noWebFont .pbList .pbList-area {
  background-color: #ff1493
}
.pbList-noWebFont .pbList .pbList-line {
  background-color: purple
}
.pbList-noWebFont .pbList .pbList-str {
  background-color: red
}
.pbList-noWebFont .pbList .pbList-cmd {
  background-color: #00f
}
.pbList-noWebFont .pbList .pbList-fnc {
  background-color: green
}
.pbList-noWebFont .pbList .pbList-syb {
  background-color: brown
}
@media print {
  .pbChrCS {
    background-position: -1392px 0
  }
  samp.pbFont {
    border-width: 1px;
    border-color: #90b068
  }
  pre samp.pbFont {
    border-width: 0
  }
}