@charset "UTF-8";
.pbList font,
kbd.pbKey sub {
  font-size: 1em
}
.pbLCD,
.pbRow {
  page-break-inside: avoid
}
.pbLCD small,
[class^=pbChr] {
  overflow: hidden;
  line-height: 1
}
.pbLine,
.pbList-noWebFont .pbCmd font,
.pbList-noWebFont .pbList-area {
  display: block;
  float: left
}
@font-face {
  font-family: PB-100;
  src: url(pbFont/PB-100.eot?rw1juc);
  font-weight: 400;
  font-style: normal
}
.pbFont,
.pbList code {
  font-family: PB-100,monospace,sans-serif!important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none
}
kbd.pbKey,
kbd.pbKeyBlk,
kbd.pbKeyF,
kbd.pbKeyRed,
kbd.pbKeyS {
  margin: .5em .3em 0;
  top: -.2em;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid;
  cursor: pointer;
  letter-spacing: -1;
  padding: 0 1em;
  height: 2.4em;
  line-height: 2.4;
  zoom: 1;
  vertical-align: baseline
}
kbd.pbKey:hover,
kbd.pbKeyBlk:hover,
kbd.pbKeyF:hover,
kbd.pbKeyRed:hover,
kbd.pbKeyS:hover {
  position: relative;
  top: -.1em
}
kbd.pbKey,
kbd.pbKeyF,
kbd.pbKeyS {
  background: #f7f5ea;
  border-color: #c3b5ab #755e4e #59483b #c7b9b0
}
kbd.pbKey {
  color: #111
}
kbd.pbKey sub {
  line-height: 3
}
kbd.pbKeyS {
  color: #c00
}
kbd.pbKeyF {
  color: #029
}
kbd.pbKeyRed {
  color: #fff;
  border-color: #f70 #930 #930 #f60;
  background: #f24e1b
}
kbd.pbKeyBlk {
  color: #fff;
  border-color: #6c6c6c #000 #000 #676767;
  background: #232323
}
[class^=pbChr] {
  padding: 0;
  width: 10px;
  height: 21px;
  font-size: 21px;
  font-family: monospace;
  font-style: normal;
  text-indent: -42px;
  zoom: 1;
  background-image: url(pbLCD/x3_x10.png);
  background-repeat: no-repeat;
  background-color: #90b068;
  margin: 0 .2em;
  border-style: solid;
  border-color: #b0c86e;
  border-width: 3px 2px
}
.pbChr00 {
  background-position: 0 0
}
.pbChr01 {
  background-position: 0 -30px
}
.pbChr02 {
  background-position: 0 -60px
}
.pbChr03 {
  background-position: 0 -90px
}
.pbChr04 {
  background-position: 0 -120px
}
.pbChr05 {
  background-position: 0 -150px
}
.pbChr06 {
  background-position: 0 -180px
}
.pbChr07 {
  background-position: 0 -210px
}
.pbChr08 {
  background-position: 0 -240px
}
.pbChr09 {
  background-position: 0 -270px
}
.pbChr0A {
  background-position: 0 -300px
}
.pbChr0B {
  background-position: 0 -330px
}
.pbChr0C {
  background-position: 0 -360px
}
.pbChr0D {
  background-position: 0 -390px
}
.pbChr0E {
  background-position: 0 -420px
}
.pbChr0F {
  background-position: 0 -450px
}
.pbChr10 {
  background-position: 0 -480px
}
.pbChr11 {
  background-position: 0 -510px
}
.pbChr12 {
  background-position: 0 -540px
}
.pbChr13 {
  background-position: 0 -570px
}
.pbChr14 {
  background-position: 0 -600px
}
.pbChr15 {
  background-position: 0 -630px
}
.pbChr16 {
  background-position: 0 -660px
}
.pbChr17 {
  background-position: 0 -690px
}
.pbChr18 {
  background-position: 0 -720px
}
.pbChr19 {
  background-position: 0 -750px
}
.pbChr1A {
  background-position: 0 -780px
}
.pbChr1B {
  background-position: 0 -810px
}
.pbChr1C {
  background-position: 0 -840px
}
.pbChr1D {
  background-position: 0 -870px
}
.pbChr1E {
  background-position: 0 -900px
}
.pbChr1F {
  background-position: 0 -930px
}
.pbChr20 {
  background-position: 0 -960px
}
.pbChr21 {
  background-position: 0 -990px
}
.pbChr22 {
  background-position: 0 -1020px
}
.pbChr23 {
  background-position: 0 -1050px
}
.pbChr24 {
  background-position: 0 -1080px
}
.pbChr25 {
  background-position: 0 -1110px
}
.pbChr26 {
  background-position: 0 -1140px
}
.pbChr27 {
  background-position: 0 -1170px
}
.pbChr28 {
  background-position: 0 -1200px
}
.pbChr29 {
  background-position: 0 -1230px
}
.pbChr2A {
  background-position: 0 -1260px
}
.pbChr2B {
  background-position: 0 -1290px
}
.pbChr2C {
  background-position: 0 -1320px
}
.pbChr2D {
  background-position: 0 -1350px
}
.pbChr2E {
  background-position: 0 -1380px
}
.pbChr2F {
  background-position: 0 -1410px
}
.pbChr30 {
  background-position: 0 -1440px
}
.pbChr31 {
  background-position: 0 -1470px
}
.pbChr32 {
  background-position: 0 -1500px
}
.pbChr33 {
  background-position: 0 -1530px
}
.pbChr34 {
  background-position: 0 -1560px
}
.pbChr35 {
  background-position: 0 -1590px
}
.pbChr36 {
  background-position: 0 -1620px
}
.pbChr37 {
  background-position: 0 -1650px
}
.pbChr38 {
  background-position: 0 -1680px
}
.pbChr39 {
  background-position: 0 -1710px
}
.pbChr40 {
  background-position: 0 -1920px
}
.pbChr41 {
  background-position: 0 -1950px
}
.pbChr42 {
  background-position: 0 -1980px
}
.pbChr43 {
  background-position: 0 -2010px
}
.pbChr44 {
  background-position: 0 -2040px
}
.pbChr45 {
  background-position: 0 -2070px
}
.pbChr46 {
  background-position: 0 -2100px
}
.pbChr47 {
  background-position: 0 -2130px
}
.pbChr48 {
  background-position: 0 -2160px
}
.pbChr49 {
  background-position: 0 -2190px
}
.pbChr4A {
  background-position: 0 -2220px
}
.pbChr4B {
  background-position: 0 -2250px
}
.pbChr4C {
  background-position: 0 -2280px
}
.pbChr4D {
  background-position: 0 -2310px
}
.pbChr4E {
  background-position: 0 -2340px
}
.pbChr4F {
  background-position: 0 -2370px
}
.pbChr50 {
  background-position: 0 -2400px
}
.pbChr51 {
  background-position: 0 -2430px
}
.pbChr52 {
  background-position: 0 -2460px
}
.pbChr53 {
  background-position: 0 -2490px
}
.pbChr54 {
  background-position: 0 -2520px
}
.pbChr55 {
  background-position: 0 -2550px
}
.pbChr56 {
  background-position: 0 -2580px
}
.pbChr57 {
  background-position: 0 -2610px
}
.pbChr58 {
  background-position: 0 -2640px
}
.pbChr59 {
  background-position: 0 -2670px
}
.pbChr5C {
  background-position: 0 -2760px
}
.pbChr5D {
  background-position: 0 -2790px
}
.pbChr5E {
  background-position: 0 -2820px
}
.pbChr5F {
  background-position: 0 -2850px
}
.pbChr60 {
  background-position: 0 -2880px
}
.pbChr61 {
  background-position: 0 -2910px
}
.pbChr62 {
  background-position: 0 -2940px
}
.pbChr63 {
  background-position: 0 -2970px
}
.pbChr64 {
  background-position: 0 -3000px
}
.pbChr65 {
  background-position: 0 -3030px
}
.pbChr66 {
  background-position: 0 -3060px
}
.pbChr67 {
  background-position: 0 -3090px
}
.pbChr68 {
  background-position: 0 -3120px
}
.pbChr69 {
  background-position: 0 -3150px
}
.pbChr6A {
  background-position: 0 -3180px
}
.pbChr6B {
  background-position: 0 -3210px
}
.pbChr6C {
  background-position: 0 -3240px
}
.pbChr6D {
  background-position: 0 -3270px
}
.pbChr6E {
  background-position: 0 -3300px
}
.pbChr6F {
  background-position: 0 -3330px
}
.pbChr70 {
  background-position: 0 -3360px
}
.pbChr71 {
  background-position: 0 -3390px
}
.pbChr72 {
  background-position: 0 -3420px
}
.pbChr73 {
  background-position: 0 -3450px
}
.pbChr74 {
  background-position: 0 -3480px
}
.pbChr75 {
  background-position: 0 -3510px
}
.pbChr76 {
  background-position: 0 -3540px
}
.pbChr77 {
  background-position: 0 -3570px
}
.pbChr78 {
  background-position: 0 -3600px
}
.pbChr79 {
  background-position: 0 -3630px
}
.pbChr7A {
  background-position: 0 -3660px
}
.pbChr7B {
  background-position: 0 -3690px
}
.FX-795P .pbChr32,
.PB-120 .pbChr32,
.pbChr32a {
  background-position: 0 -1770px
}
.FX-795P .pbChr67,
.PB-120 .pbChr67,
.pbChr67a {
  background-position: 0 -1800px
}
.FX-795P .pbChr69,
.PB-120 .pbChr69,
.pbChr69a {
  background-position: 0 -1830px
}
.FX-795P .pbChr6A,
.PB-120 .pbChr6A,
.pbChr6Aa {
  background-position: 0 -1860px
}
.FX-795P .pbChr6B,
.PB-120 .pbChr6B,
.pbChr6Ba {
  background-position: 0 -1890px
}
.pbChrCS {
  background-image: url(pbLCD/x3_csr.gif);
  background-repeat: no-repeat;
  background-position: 0 18px
}
.pbLCD {
  white-space: pre!important;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 200px;
  height: 70px;
  position: relative;
  background-color: #030d31
}
.pbLCD :link,
.pbLCD :visited {
  outline: 0!important;
  text-decoration: none!important
}
.pbLCD a,
.pbLCD samp,
.pbLCD small,
.pbLCD small * {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  border-width: 0;
  background-repeat: no-repeat
}
.pbLCD samp {
  width: 100%;
  height: 52px;
  background-position: 8px -19px;
  top: 9px;
  left: 0
}
.pbLCD samp,
.pbLCD small * {
  background-image: url(pbLCD/bg.png)
}
.pbLCD a {
  top: 23px;
  height: 27px;
  border-style: solid
}
.pbLCD b {
  position: absolute;
  top: 26px;
  display: block;
  margin: 0;
  border-width: 0;
  background-color: transparent;
  z-index: 2
}
.pbLCD a b {
  top: 3px
}
.pbLCD .pbChrCS {
  z-index: -1
}
.pbCsr0 {
  left: 18px
}
.pbCsr1 {
  left: 32px
}
.pbCsr2 {
  left: 46px
}
.pbCsr3 {
  left: 60px
}
.pbCsr4 {
  left: 74px
}
.pbCsr5 {
  left: 88px
}
.pbCsr6 {
  left: 102px
}
.pbCsr7 {
  left: 116px
}
.pbCsr8 {
  left: 130px
}
.pbCsr9 {
  left: 144px
}
.pbCsrA {
  left: 158px
}
.pbCsrB {
  left: 172px
}
.pbLCD small {
  width: 100%;
  text-indent: -200px;
  height: 13px;
  top: 6px;
  left: 0
}
.pbDEG,
.pbEXT,
.pbFNC,
.pbGRA,
.pbPRT,
.pbRAD,
.pbRUN,
.pbSTOP,
.pbShift,
.pbTR,
.pbWRT {
  display: block;
  height: 13px;
  line-height: 1;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  top: 0
}
.pbEXT {
  width: 11px;
  left: 15px;
  background-position: 0 0
}
.pbFNC,
.pbShift {
  width: 7px;
  left: 28px
}
.pbShift {
  background-position: -13px 0
}
.pbFNC {
  background-position: -23px 0
}
.pbRUN,
.pbWRT {
  width: 14px;
  left: 35px
}
.pbRUN {
  background-position: -31px 0
}
.pbWRT {
  background-position: -47px 0
}
.pbDEG,
.pbGRA,
.pbRAD {
  width: 13px
}
.pbDEG {
  background-position: -63px 0;
  left: 51px
}
.pbRAD {
  background-position: -75px 0;
  left: 63px
}
.pbGRA {
  background-position: -93px 0;
  left: 75px
}
.pbTR {
  width: 8px;
  background-position: -108px 0;
  left: 90px
}
.pbPRT {
  width: 12px;
  background-position: -118px 0;
  left: 144px
}
.pbSTOP {
  width: 17px;
  background-position: -132px 0;
  left: 160px
}
.pbLCD div {
  position: absolute
}
.pbLCD :active {
  z-index: 998
}
.pbLCD a:hover {
  z-index: 999
}
.pbTip,
.pbTipBtm {
  font-size: 12px;
  line-height: 1em;
  padding: 7px 5px;
  text-align: center;
  background: #ccc;
  color: #111;
  border: 1px solid #999
}
[pbTip] {
  cursor: pointer
}
.pbTail,
.pbTailBtm {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #999 transparent
}
.pbTail {
  border-width: 5px 4px 0
}
.pbTip {
  bottom: 59px
}
:active .pbTip {
  bottom: 60px
}
a:hover .pbTip {
  bottom: 61px
}
.pbTipBtm {
  top: 38px
}
:active .pbTipBtm {
  top: 39px
}
a:hover .pbTipBtm {
  top: 40px
}
.pbTail {
  bottom: 55px
}
:active .pbTail {
  bottom: 56px
}
a:hover .pbTail {
  bottom: 57px
}
.pbTailBtm {
  border-width: 0 4px 5px;
  top: 34px
}
:active .pbTailBtm {
  top: 35px
}
a:hover .pbTailBtm {
  top: 36px
}
.pbTipPosA .pbTip,
.pbTipPosA .pbTipBtm {
  left: -5px
}
.pbRng0 .pbCsr0,
.pbRng01 .pbCsr0,
.pbRng02 .pbCsr0,
.pbRng03 .pbCsr0,
.pbRng04 .pbCsr0,
.pbRng05 .pbCsr0,
.pbRng06 .pbCsr0,
.pbRng07 .pbCsr0,
.pbRng08 .pbCsr0,
.pbRng09 .pbCsr0,
.pbRng0A .pbCsr0,
.pbRng0B .pbCsr0,
.pbRng1 .pbCsr1,
.pbRng12 .pbCsr1,
.pbRng13 .pbCsr1,
.pbRng14 .pbCsr1,
.pbRng15 .pbCsr1,
.pbRng16 .pbCsr1,
.pbRng17 .pbCsr1,
.pbRng18 .pbCsr1,
.pbRng19 .pbCsr1,
.pbRng1A .pbCsr1,
.pbRng1B .pbCsr1,
.pbRng2 .pbCsr2,
.pbRng23 .pbCsr2,
.pbRng24 .pbCsr2,
.pbRng25 .pbCsr2,
.pbRng26 .pbCsr2,
.pbRng27 .pbCsr2,
.pbRng28 .pbCsr2,
.pbRng29 .pbCsr2,
.pbRng2A .pbCsr2,
.pbRng2B .pbCsr2,
.pbRng3 .pbCsr3,
.pbRng34 .pbCsr3,
.pbRng35 .pbCsr3,
.pbRng36 .pbCsr3,
.pbRng37 .pbCsr3,
.pbRng38 .pbCsr3,
.pbRng39 .pbCsr3,
.pbRng3A .pbCsr3,
.pbRng3B .pbCsr3,
.pbRng4 .pbCsr4,
.pbRng45 .pbCsr4,
.pbRng46 .pbCsr4,
.pbRng47 .pbCsr4,
.pbRng48 .pbCsr4,
.pbRng49 .pbCsr4,
.pbRng4A .pbCsr4,
.pbRng4B .pbCsr4,
.pbRng5 .pbCsr5,
.pbRng56 .pbCsr5,
.pbRng57 .pbCsr5,
.pbRng58 .pbCsr5,
.pbRng59 .pbCsr5,
.pbRng5A .pbCsr5,
.pbRng5B .pbCsr5,
.pbRng6 .pbCsr6,
.pbRng67 .pbCsr6,
.pbRng68 .pbCsr6,
.pbRng69 .pbCsr6,
.pbRng6A .pbCsr6,
.pbRng6B .pbCsr6,
.pbRng7 .pbCsr7,
.pbRng78 .pbCsr7,
.pbRng79 .pbCsr7,
.pbRng7A .pbCsr7,
.pbRng7B .pbCsr7,
.pbRng8 .pbCsr8,
.pbRng89 .pbCsr8,
.pbRng8A .pbCsr8,
.pbRng8B .pbCsr8,
.pbRng9 .pbCsr9,
.pbRng9A .pbCsr9,
.pbRng9B .pbCsr9,
.pbRngA .pbCsrA,
.pbRngAB .pbCsrA,
.pbRngB .pbCsrB,
.pbTipPosB .pbTip,
.pbTipPosB .pbTipBtm {
  left: 2px
}
.pbTipPosC .pbTip,
.pbTipPosC .pbTipBtm {
  left: 9px
}
.pbRng0,
.pbRng01,
.pbRng01 .pbCsr1,
.pbRng02,
.pbRng02 .pbCsr1,
.pbRng03,
.pbRng03 .pbCsr1,
.pbRng04,
.pbRng04 .pbCsr1,
.pbRng05,
.pbRng05 .pbCsr1,
.pbRng06,
.pbRng06 .pbCsr1,
.pbRng07,
.pbRng07 .pbCsr1,
.pbRng08,
.pbRng08 .pbCsr1,
.pbRng09,
.pbRng09 .pbCsr1,
.pbRng0A,
.pbRng0A .pbCsr1,
.pbRng0B,
.pbRng0B .pbCsr1,
.pbRng12 .pbCsr2,
.pbRng13 .pbCsr2,
.pbRng14 .pbCsr2,
.pbRng15 .pbCsr2,
.pbRng16 .pbCsr2,
.pbRng17 .pbCsr2,
.pbRng18 .pbCsr2,
.pbRng19 .pbCsr2,
.pbRng1A .pbCsr2,
.pbRng1B .pbCsr2,
.pbRng23 .pbCsr3,
.pbRng24 .pbCsr3,
.pbRng25 .pbCsr3,
.pbRng26 .pbCsr3,
.pbRng27 .pbCsr3,
.pbRng28 .pbCsr3,
.pbRng29 .pbCsr3,
.pbRng2A .pbCsr3,
.pbRng2B .pbCsr3,
.pbRng34 .pbCsr4,
.pbRng35 .pbCsr4,
.pbRng36 .pbCsr4,
.pbRng37 .pbCsr4,
.pbRng38 .pbCsr4,
.pbRng39 .pbCsr4,
.pbRng3A .pbCsr4,
.pbRng3B .pbCsr4,
.pbRng45 .pbCsr5,
.pbRng46 .pbCsr5,
.pbRng47 .pbCsr5,
.pbRng48 .pbCsr5,
.pbRng49 .pbCsr5,
.pbRng4A .pbCsr5,
.pbRng4B .pbCsr5,
.pbRng56 .pbCsr6,
.pbRng57 .pbCsr6,
.pbRng58 .pbCsr6,
.pbRng59 .pbCsr6,
.pbRng5A .pbCsr6,
.pbRng5B .pbCsr6,
.pbRng67 .pbCsr7,
.pbRng68 .pbCsr7,
.pbRng69 .pbCsr7,
.pbRng6A .pbCsr7,
.pbRng6B .pbCsr7,
.pbRng78 .pbCsr8,
.pbRng79 .pbCsr8,
.pbRng7A .pbCsr8,
.pbRng7B .pbCsr8,
.pbRng89 .pbCsr9,
.pbRng8A .pbCsr9,
.pbRng8B .pbCsr9,
.pbRng9A .pbCsrA,
.pbRng9B .pbCsrA,
.pbRngAB .pbCsrB,
.pbTipPosD .pbTip,
.pbTipPosD .pbTipBtm {
  left: 16px
}
.pbTipPosE .pbTip,
.pbTipPosE .pbTipBtm {
  left: 23px
}
.pbRng02 .pbCsr2,
.pbRng03 .pbCsr2,
.pbRng04 .pbCsr2,
.pbRng05 .pbCsr2,
.pbRng06 .pbCsr2,
.pbRng07 .pbCsr2,
.pbRng08 .pbCsr2,
.pbRng09 .pbCsr2,
.pbRng0A .pbCsr2,
.pbRng0B .pbCsr2,
.pbRng1,
.pbRng12,
.pbRng13,
.pbRng13 .pbCsr3,
.pbRng14,
.pbRng14 .pbCsr3,
.pbRng15,
.pbRng15 .pbCsr3,
.pbRng16,
.pbRng16 .pbCsr3,
.pbRng17,
.pbRng17 .pbCsr3,
.pbRng18,
.pbRng18 .pbCsr3,
.pbRng19,
.pbRng19 .pbCsr3,
.pbRng1A,
.pbRng1A .pbCsr3,
.pbRng1B,
.pbRng1B .pbCsr3,
.pbRng24 .pbCsr4,
.pbRng25 .pbCsr4,
.pbRng26 .pbCsr4,
.pbRng27 .pbCsr4,
.pbRng28 .pbCsr4,
.pbRng29 .pbCsr4,
.pbRng2A .pbCsr4,
.pbRng2B .pbCsr4,
.pbRng35 .pbCsr5,
.pbRng36 .pbCsr5,
.pbRng37 .pbCsr5,
.pbRng38 .pbCsr5,
.pbRng39 .pbCsr5,
.pbRng3A .pbCsr5,
.pbRng3B .pbCsr5,
.pbRng46 .pbCsr6,
.pbRng47 .pbCsr6,
.pbRng48 .pbCsr6,
.pbRng49 .pbCsr6,
.pbRng4A .pbCsr6,
.pbRng4B .pbCsr6,
.pbRng57 .pbCsr7,
.pbRng58 .pbCsr7,
.pbRng59 .pbCsr7,
.pbRng5A .pbCsr7,
.pbRng5B .pbCsr7,
.pbRng68 .pbCsr8,
.pbRng69 .pbCsr8,
.pbRng6A .pbCsr8,
.pbRng6B .pbCsr8,
.pbRng79 .pbCsr9,
.pbRng7A .pbCsr9,
.pbRng7B .pbCsr9,
.pbRng8A .pbCsrA,
.pbRng8B .pbCsrA,
.pbRng9B .pbCsrB,
.pbTipPosF .pbTip,
.pbTipPosF .pbTipBtm {
  left: 30px
}
.pbTipPosG .pbTip,
.pbTipPosG .pbTipBtm {
  left: 37px
}
.pbRng03 .pbCsr3,
.pbRng04 .pbCsr3,
.pbRng05 .pbCsr3,
.pbRng06 .pbCsr3,
.pbRng07 .pbCsr3,
.pbRng08 .pbCsr3,
.pbRng09 .pbCsr3,
.pbRng0A .pbCsr3,
.pbRng0B .pbCsr3,
.pbRng14 .pbCsr4,
.pbRng15 .pbCsr4,
.pbRng16 .pbCsr4,
.pbRng17 .pbCsr4,
.pbRng18 .pbCsr4,
.pbRng19 .pbCsr4,
.pbRng1A .pbCsr4,
.pbRng1B .pbCsr4,
.pbRng2,
.pbRng23,
.pbRng24,
.pbRng25,
.pbRng25 .pbCsr5,
.pbRng26,
.pbRng26 .pbCsr5,
.pbRng27,
.pbRng27 .pbCsr5,
.pbRng28,
.pbRng28 .pbCsr5,
.pbRng29,
.pbRng29 .pbCsr5,
.pbRng2A,
.pbRng2A .pbCsr5,
.pbRng2B,
.pbRng2B .pbCsr5,
.pbRng36 .pbCsr6,
.pbRng37 .pbCsr6,
.pbRng38 .pbCsr6,
.pbRng39 .pbCsr6,
.pbRng3A .pbCsr6,
.pbRng3B .pbCsr6,
.pbRng47 .pbCsr7,
.pbRng48 .pbCsr7,
.pbRng49 .pbCsr7,
.pbRng4A .pbCsr7,
.pbRng4B .pbCsr7,
.pbRng58 .pbCsr8,
.pbRng59 .pbCsr8,
.pbRng5A .pbCsr8,
.pbRng5B .pbCsr8,
.pbRng69 .pbCsr9,
.pbRng6A .pbCsr9,
.pbRng6B .pbCsr9,
.pbRng7A .pbCsrA,
.pbRng7B .pbCsrA,
.pbRng8B .pbCsrB,
.pbTipPosH .pbTip,
.pbTipPosH .pbTipBtm {
  left: 44px
}
.pbTipPosI .pbTip,
.pbTipPosI .pbTipBtm {
  left: 51px
}
.pbRng04 .pbCsr4,
.pbRng05 .pbCsr4,
.pbRng06 .pbCsr4,
.pbRng07 .pbCsr4,
.pbRng08 .pbCsr4,
.pbRng09 .pbCsr4,
.pbRng0A .pbCsr4,
.pbRng0B .pbCsr4,
.pbRng15 .pbCsr5,
.pbRng16 .pbCsr5,
.pbRng17 .pbCsr5,
.pbRng18 .pbCsr5,
.pbRng19 .pbCsr5,
.pbRng1A .pbCsr5,
.pbRng1B .pbCsr5,
.pbRng26 .pbCsr6,
.pbRng27 .pbCsr6,
.pbRng28 .pbCsr6,
.pbRng29 .pbCsr6,
.pbRng2A .pbCsr6,
.pbRng2B .pbCsr6,
.pbRng3,
.pbRng34,
.pbRng35,
.pbRng36,
.pbRng37,
.pbRng37 .pbCsr7,
.pbRng38,
.pbRng38 .pbCsr7,
.pbRng39,
.pbRng39 .pbCsr7,
.pbRng3A,
.pbRng3A .pbCsr7,
.pbRng3B,
.pbRng3B .pbCsr7,
.pbRng48 .pbCsr8,
.pbRng49 .pbCsr8,
.pbRng4A .pbCsr8,
.pbRng4B .pbCsr8,
.pbRng59 .pbCsr9,
.pbRng5A .pbCsr9,
.pbRng5B .pbCsr9,
.pbRng6A .pbCsrA,
.pbRng6B .pbCsrA,
.pbRng7B .pbCsrB,
.pbTipPosJ .pbTip,
.pbTipPosJ .pbTipBtm {
  left: 58px
}
.pbTipPosK .pbTip,
.pbTipPosK .pbTipBtm {
  left: 65px
}
.pbRng05 .pbCsr5,
.pbRng06 .pbCsr5,
.pbRng07 .pbCsr5,
.pbRng08 .pbCsr5,
.pbRng09 .pbCsr5,
.pbRng0A .pbCsr5,
.pbRng0B .pbCsr5,
.pbRng16 .pbCsr6,
.pbRng17 .pbCsr6,
.pbRng18 .pbCsr6,
.pbRng19 .pbCsr6,
.pbRng1A .pbCsr6,
.pbRng1B .pbCsr6,
.pbRng27 .pbCsr7,
.pbRng28 .pbCsr7,
.pbRng29 .pbCsr7,
.pbRng2A .pbCsr7,
.pbRng2B .pbCsr7,
.pbRng38 .pbCsr8,
.pbRng39 .pbCsr8,
.pbRng3A .pbCsr8,
.pbRng3B .pbCsr8,
.pbRng4,
.pbRng45,
.pbRng46,
.pbRng47,
.pbRng48,
.pbRng49,
.pbRng49 .pbCsr9,
.pbRng4A,
.pbRng4A .pbCsr9,
.pbRng4B,
.pbRng4B .pbCsr9,
.pbRng5A .pbCsrA,
.pbRng5B .pbCsrA,
.pbRng6B .pbCsrB,
.pbTipPosL .pbTip,
.pbTipPosL .pbTipBtm {
  left: 72px
}
.pbTipPosM .pbTip,
.pbTipPosM .pbTipBtm {
  left: 79px
}
.pbRng06 .pbCsr6,
.pbRng07 .pbCsr6,
.pbRng08 .pbCsr6,
.pbRng09 .pbCsr6,
.pbRng0A .pbCsr6,
.pbRng0B .pbCsr6,
.pbRng17 .pbCsr7,
.pbRng18 .pbCsr7,
.pbRng19 .pbCsr7,
.pbRng1A .pbCsr7,
.pbRng1B .pbCsr7,
.pbRng28 .pbCsr8,
.pbRng29 .pbCsr8,
.pbRng2A .pbCsr8,
.pbRng2B .pbCsr8,
.pbRng39 .pbCsr9,
.pbRng3A .pbCsr9,
.pbRng3B .pbCsr9,
.pbRng4A .pbCsrA,
.pbRng4B .pbCsrA,
.pbRng5,
.pbRng56,
.pbRng57,
.pbRng58,
.pbRng59,
.pbRng5A,
.pbRng5B,
.pbRng5B .pbCsrB,
.pbTipPosN .pbTip,
.pbTipPosN .pbTipBtm {
  left: 86px
}
.pbTipPosO .pbTip,
.pbTipPosO .pbTipBtm {
  left: 93px
}
.pbRng07 .pbCsr7,
.pbRng08 .pbCsr7,
.pbRng09 .pbCsr7,
.pbRng0A .pbCsr7,
.pbRng0B .pbCsr7,
.pbRng18 .pbCsr8,
.pbRng19 .pbCsr8,
.pbRng1A .pbCsr8,
.pbRng1B .pbCsr8,
.pbRng29 .pbCsr9,
.pbRng2A .pbCsr9,
.pbRng2B .pbCsr9,
.pbRng3A .pbCsrA,
.pbRng3B .pbCsrA,
.pbRng4B .pbCsrB,
.pbRng6,
.pbRng67,
.pbRng68,
.pbRng69,
.pbRng6A,
.pbRng6B,
.pbTipPosP .pbTip,
.pbTipPosP .pbTipBtm {
  left: 100px
}
.pbTipPosQ .pbTip,
.pbTipPosQ .pbTipBtm {
  left: 107px
}
.pbRng08 .pbCsr8,
.pbRng09 .pbCsr8,
.pbRng0A .pbCsr8,
.pbRng0B .pbCsr8,
.pbRng19 .pbCsr9,
.pbRng1A .pbCsr9,
.pbRng1B .pbCsr9,
.pbRng2A .pbCsrA,
.pbRng2B .pbCsrA,
.pbRng3B .pbCsrB,
.pbRng7,
.pbRng78,
.pbRng79,
.pbRng7A,
.pbRng7B,
.pbTipPosR .pbTip,
.pbTipPosR .pbTipBtm {
  left: 114px
}
.pbTipPosS .pbTip,
.pbTipPosS .pbTipBtm {
  left: 121px
}
.pbRng09 .pbCsr9,
.pbRng0A .pbCsr9,
.pbRng0B .pbCsr9,
.pbRng1A .pbCsrA,
.pbRng1B .pbCsrA,
.pbRng2B .pbCsrB,
.pbRng8,
.pbRng89,
.pbRng8A,
.pbRng8B,
.pbTipPosT .pbTip,
.pbTipPosT .pbTipBtm {
  left: 128px
}
.pbTipPosU .pbTip,
.pbTipPosU .pbTipBtm {
  left: 135px
}
.pbRng0A .pbCsrA,
.pbRng0B .pbCsrA,
.pbRng1B .pbCsrB,
.pbRng9,
.pbRng9A,
.pbRng9B,
.pbTipPosV .pbTip,
.pbTipPosV .pbTipBtm {
  left: 142px
}
.pbTipPosW .pbTip,
.pbTipPosW .pbTipBtm {
  left: 149px
}
.pbTipPosA .pbTail,
.pbTipPosA .pbTailBtm {
  left: 3px
}
.pbTipPosB .pbTail,
.pbTipPosB .pbTailBtm {
  left: 10px
}
.pbTipPosC .pbTail,
.pbTipPosC .pbTailBtm {
  left: 17px
}
.pbTipPosD .pbTail,
.pbTipPosD .pbTailBtm {
  left: 24px
}
.pbTipPosG .pbTail,
.pbTipPosG .pbTailBtm {
  left: 45px
}
.pbTipPosF .pbTail,
.pbTipPosF .pbTailBtm {
  left: 52px
}
.pbTipPosI .pbTail,
.pbTipPosI .pbTailBtm {
  left: 59px
}
.pbTipPosJ .pbTail,
.pbTipPosJ .pbTailBtm {
  left: 66px
}
.pbTipPosK .pbTail,
.pbTipPosK .pbTailBtm {
  left: 73px
}
.pbTipPosL .pbTail,
.pbTipPosL .pbTailBtm {
  left: 80px
}
.pbTipPosM .pbTail,
.pbTipPosM .pbTailBtm {
  left: 87px
}
.pbTipPosN .pbTail,
.pbTipPosN .pbTailBtm {
  left: 94px
}
.pbTipPosO .pbTail,
.pbTipPosO .pbTailBtm {
  left: 101px
}
.pbTipPosP .pbTail,
.pbTipPosP .pbTailBtm {
  left: 108px
}
.pbTipPosQ .pbTail,
.pbTipPosQ .pbTailBtm {
  left: 115px
}
.pbTipPosR .pbTail,
.pbTipPosR .pbTailBtm {
  left: 122px
}
.pbTipPosS .pbTail,
.pbTipPosS .pbTailBtm {
  left: 129px
}
.pbTipPosT .pbTail,
.pbTipPosT .pbTailBtm {
  left: 136px
}
.pbTipPosU .pbTail,
.pbTipPosU .pbTailBtm {
  left: 143px
}
.pbTipPosV .pbTail,
.pbTipPosV .pbTailBtm {
  left: 150px
}
.pbTipPosW .pbTail,
.pbTipPosW .pbTailBtm {
  left: 157px
}
.pbColor0,
.pbColor1,
.pbColor2,
.pbColor3,
.pbColor4,
.pbColor5,
.pbColor6,
.pbColor7,
.pbColor8,
.pbColor9,
.pbColorA,
.pbColorB {
  border-width: 0 0 2px!important;
  height: 25px!important
}
a:active .pbTip,
a:active .pbTipBtm {
  background: #eee
}
[pbTip]:active,
[pbTip]:hover {
  background: #ccc
}
a:hover .pbTip,
a:hover .pbTipBtm {
  background: #fff
}
.pbColor1 {
  border-color: #666
}
.pbColor1 .pbTip,
.pbColor1 .pbTipBtm {
  background: #666;
  border-color: #555;
  color: #fff
}
.pbColor1 .pbTail,
.pbColor1 .pbTailBtm {
  border-color: #555 transparent
}
.pbColor1:active {
  background: #666;
  border-color: #777
}
.pbColor1:active .pbTip,
.pbColor1:active .pbTipBtm {
  background: #777;
  color: #fff
}
.pbColor1:hover {
  background: #666
}
.pbColor1:hover .pbTip,
.pbColor1:hover .pbTipBtm {
  background: #888
}
.pbColor2 {
  border-color: #f66
}
.pbColor2 .pbTip,
.pbColor2 .pbTipBtm {
  background: #f66;
  border-color: #c33;
  color: #fff
}
.pbColor2 .pbTail,
.pbColor2 .pbTailBtm {
  border-color: #c33 transparent
}
.pbColor2:active {
  background: #f66;
  border-color: #f22
}
.pbColor2:active .pbTip,
.pbColor2:active .pbTipBtm {
  background: #f22;
  color: #fff
}
.pbColor2:hover {
  background: #f66
}
.pbColor2:hover .pbTip,
.pbColor2:hover .pbTipBtm {
  background: #f44
}
.pbColor3 {
  border-color: #6c6
}
.pbColor3 .pbTip,
.pbColor3 .pbTipBtm {
  background: #6c6;
  border-color: #3a3;
  color: #fff
}
.pbColor3 .pbTail,
.pbColor3 .pbTailBtm {
  border-color: #3a3 transparent
}
.pbColor3:active {
  background: #6c6;
  border-color: #2c2
}
.pbColor3:active .pbTip,
.pbColor3:active .pbTipBtm {
  background: #2c2;
  color: #fff
}
.pbColor3:hover {
  background: #6c6
}
.pbColor3:hover .pbTip,
.pbColor3:hover .pbTipBtm {
  background: #4c4
}
.pbColor4 {
  border-color: #08f
}
.pbColor4 .pbTip,
.pbColor4 .pbTipBtm {
  background: #08f;
  border-color: #04c;
  color: #fff
}
.pbColor4 .pbTail,
.pbColor4 .pbTailBtm {
  border-color: #04c transparent
}
.pbColor4:active {
  background: #08f;
  border-color: #04f
}
.pbColor4:active .pbTip,
.pbColor4:active .pbTipBtm {
  background: #04f;
  color: #fff
}
.pbColor4:hover {
  background: #08f
}
.pbColor4:hover .pbTip,
.pbColor4:hover .pbTipBtm {
  background: #06f
}
.pbColor5 {
  border-color: #f8f
}
.pbColor5 .pbTip,
.pbColor5 .pbTipBtm {
  background: #f8f;
  border-color: #c4c;
  color: #fff
}
.pbColor5 .pbTail,
.pbColor5 .pbTailBtm {
  border-color: #c4c transparent
}
.pbColor5:active {
  background: #f8f;
  border-color: #f4f
}
.pbColor5:active .pbTip,
.pbColor5:active .pbTipBtm {
  background: #f4f;
  color: #fff
}
.pbColor5:hover {
  background: #f8f
}
.pbColor5:hover .pbTip,
.pbColor5:hover .pbTipBtm {
  background: #f6f
}
.pbColor6 {
  border-color: #aa8
}
.pbColor6 .pbTip,
.pbColor6 .pbTipBtm {
  background: #aa8;
  border-color: #884;
  color: #fff
}
.pbColor6 .pbTail,
.pbColor6 .pbTailBtm {
  border-color: #884 transparent
}
.pbColor6:active {
  background: #aa8;
  border-color: #aa4
}
.pbColor6:active .pbTip,
.pbColor6:active .pbTipBtm {
  background: #aa4;
  color: #fff
}
.pbColor6:hover {
  background: #aa8
}
.pbColor6:hover .pbTip,
.pbColor6:hover .pbTipBtm {
  background: #aa6
}
.pbColor7 {
  border-color: #f80
}
.pbColor7 .pbTip,
.pbColor7 .pbTipBtm {
  background: #f80;
  border-color: #c80;
  color: #fff
}
.pbColor7 .pbTail,
.pbColor7 .pbTailBtm {
  border-color: #c80 transparent
}
.pbColor7:active {
  background: #f80;
  border-color: #f70
}
.pbColor7:active .pbTip,
.pbColor7:active .pbTipBtm {
  background: #f70;
  color: #fff
}
.pbColor7:hover {
  background: #f80
}
.pbColor7:hover .pbTip,
.pbColor7:hover .pbTipBtm {
  background: #f60
}
.pbColor8 {
  border-color: #80f
}
.pbColor8 .pbTip,
.pbColor8 .pbTipBtm {
  background: #80f;
  border-color: #80c;
  color: #fff
}
.pbColor8 .pbTail,
.pbColor8 .pbTailBtm {
  border-color: #80c transparent
}
.pbColor8:active {
  background: #80f;
  border-color: #60d
}
.pbColor8:active .pbTip,
.pbColor8:active .pbTipBtm {
  background: #60d;
  color: #fff
}
.pbColor8:hover {
  background: #80f
}
.pbColor8:hover .pbTip,
.pbColor8:hover .pbTipBtm {
  background: #40b
}
.pbColor9 {
  border-color: #4a0
}
.pbColor9 .pbTip,
.pbColor9 .pbTipBtm {
  background: #4a0;
  border-color: #480;
  color: #fff
}
.pbColor9 .pbTail,
.pbColor9 .pbTailBtm {
  border-color: #480 transparent
}
.pbColor9:active {
  background: #4a0;
  border-color: #2a0
}
.pbColor9:active .pbTip,
.pbColor9:active .pbTipBtm {
  background: #2a0;
  color: #fff
}
.pbColor9:hover {
  background: #4a0
}
.pbColor9:hover .pbTip,
.pbColor9:hover .pbTipBtm {
  background: #0a0
}
.pbColorA {
  border-color: #555
}
.pbColorA .pbTip,
.pbColorA .pbTipBtm {
  background: #555;
  border-color: #222;
  color: #fff
}
.pbColorA .pbTail,
.pbColorA .pbTailBtm {
  border-color: #222 transparent
}
.pbColorA:active {
  background: #555;
  border-color: #444
}
.pbColorA:active .pbTip,
.pbColorA:active .pbTipBtm {
  background: #444;
  color: #fff
}
.pbColorA:hover {
  background: #555
}
.pbColorA:hover .pbTip,
.pbColorA:hover .pbTipBtm {
  background: #333
}
.pbColorB {
  border-color: #8ff
}
.pbColorB .pbTip,
.pbColorB .pbTipBtm {
  background: #8ff;
  border-color: #2ff;
  color: #fff
}
.pbColorB .pbTail,
.pbColorB .pbTailBtm {
  border-color: #2ff transparent
}
.pbColorB:active {
  background: #8ff;
  border-color: #6ff
}
.pbColorB:active .pbTip,
.pbColorB:active .pbTipBtm {
  background: #6ff;
  color: #fff
}
.pbColorB:hover {
  background: #8ff
}
.pbColorB:hover .pbTip,
.pbColorB:hover .pbTipBtm {
  background: #4ff
}
.pbRng0B .pbCsrB,
.pbRngA,
.pbRngAB {
  left: 156px
}
.pbRngB {
  left: 170px
}
.pbRng0,
.pbRng1,
.pbRng2,
.pbRng3,
.pbRng4,
.pbRng5,
.pbRng6,
.pbRng7,
.pbRng8,
.pbRng9,
.pbRngA,
.pbRngB {
  width: 14px
}
.pbRng01,
.pbRng12,
.pbRng23,
.pbRng34,
.pbRng45,
.pbRng56,
.pbRng67,
.pbRng78,
.pbRng89,
.pbRng9A,
.pbRngAB {
  width: 28px
}
.pbRng02,
.pbRng13,
.pbRng24,
.pbRng35,
.pbRng46,
.pbRng57,
.pbRng68,
.pbRng79,
.pbRng8A,
.pbRng9B {
  width: 42px
}
.pbRng03,
.pbRng14,
.pbRng25,
.pbRng36,
.pbRng47,
.pbRng58,
.pbRng69,
.pbRng7A,
.pbRng8B {
  width: 56px
}
.pbRng04,
.pbRng15,
.pbRng26,
.pbRng37,
.pbRng48,
.pbRng59,
.pbRng6A,
.pbRng7B {
  width: 70px
}
.pbRng05,
.pbRng16,
.pbRng27,
.pbRng38,
.pbRng49,
.pbRng5A,
.pbRng6B {
  width: 84px
}
.pbRng06,
.pbRng17,
.pbRng28,
.pbRng39,
.pbRng4A,
.pbRng5B {
  width: 98px
}
.pbRng07,
.pbRng18,
.pbRng29,
.pbRng3A,
.pbRng4B {
  width: 112px
}
.pbRng08,
.pbRng19,
.pbRng2A,
.pbRng3B {
  width: 126px
}
.pbRng09,
.pbRng1A,
.pbRng2B {
  width: 140px
}
.pbRng0A,
.pbRng1B {
  width: 154px
}
.pbRng0B {
  width: 168px
}
.pbAlp1 {
  background-position-x: -180px
}
.pbAlp2 {
  background-position-x: -160px
}
.pbAlp3 {
  background-position-x: -140px
}
.pbAlp4 {
  background-position-x: -120px
}
.pbAlp5 {
  background-position-x: -100px
}
.pbAlp6 {
  background-position-x: -80px
}
.pbAlp7 {
  background-position-x: -60px
}
.pbAlp8 {
  background-position-x: -40px
}
.pbAlp9 {
  background-position-x: -20px
}
.jsCanRotate .pbTail {
  width: 4px;
  height: 4px;
  border-width: 0 0 1px 1px
}
.jsCanRotate .pbTailBtm {
  width: 4px;
  height: 4px;
  border-width: 1px 1px 0 0
}
.jsCanRotate .pbTail,
.jsCanRotate .pbTailBtm {
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M22=1, M12=1, M21=-1, sizingMethod="auto expand")
}
.jsCanRotate [pbTip]:active,
.jsCanRotate [pbTip]:hover {
  background-color: transparent!important;
  outline: 0
}
.jsCanRotate [pbTip]:active b,
.jsCanRotate [pbTip]:hover b {
  outline: solid 2px
}
.pbFont {
  font-size: 1.1em
}
samp.pbFont {
  background: #b0c86e;
  color: #000;
  padding: .1em .4em;
  margin: 0 .1em
}
.pbList {
  font-size: 1.6em;
  line-height: 1.2;
  word-wrap: break-word;
  word-break: break-all
}
.pbRow {
  display: block;
  overflow: hidden
}
.pbLine {
  width: 2.5em;
  text-align: right
}
.pbCmd {
  display: block;
  margin-left: 2.5em
}
.pbList-noWebFont .pbLine {
  width: 60px
}
.pbList-noWebFont .pbCmd {
  margin-left: 60px
}
.pbList-noWebFont .pbList font {
  border-width: 0;
  width: 10px;
  height: 21px;
  font-size: 21px;
  line-height: 1;
  margin: 5px 1px;
  overflow: hidden;
  text-align: left;
  vertical-align: top;
  background-color: #000
}
.pbList-area {
  color: #ff1493
}
.pbList-line {
  color: purple
}
.pbList-str {
  color: red
}
.pbList-cmd {
  color: #00f
}
.pbList-fnc {
  color: green
}
.pbList-syb {
  color: brown
}
.pbList-strsp {
  background-color: #fcc;
  height: 1em;
  position: relative;
  top: -.2em
}
.pbList-noWebFont .pbList {
  background-color: #fff
}
.pbList-noWebFont .pbList .pbList-area {
  background-color: #ff1493
}
.pbList-noWebFont .pbList .pbList-line {
  background-color: purple
}
.pbList-noWebFont .pbList .pbList-str {
  background-color: red
}
.pbList-noWebFont .pbList .pbList-cmd {
  background-color: #00f
}
.pbList-noWebFont .pbList .pbList-fnc {
  background-color: green
}
.pbList-noWebFont .pbList .pbList-syb {
  background-color: brown
}
@media print {
  .pbChrCS {
    background-position: 0 -3510px
  }
  samp.pbFont {
    border-width: 1px;
    border-color: #90b068
  }
}