/**
 * Edge 18, 最適化したアニメーション gif がリピートしない, https://twitter.com/pbrocky/status/1510174642925088768
 *
 *  1. CSS でアニメーションする
 *  2. forced-colors では pbChr のみ、アニメーションを切る
 *     -> pbChr は x3.animate.svg で強制カラーモード対応とアニメーションを行う
 */

@if( $OPTION_USE_PBCHR ){
    .pbChrCS:after {
        @include css-hack(onlyEdgeHTML) {
            animation : cs .8s infinite; // 1.
        }
    }
}
@if( $OPTION_USE_PBLCD ){
    .pbLCD .pbChrCS:after, [pbGhst=CS]:before {
        @include css-hack(onlyEdgeHTML) {
            animation : cs .8s infinite; // 1.
        }
    }
}

@if( $OPTION_USE_PBCHR or $OPTION_USE_PBLCD ){
    @if( $UA_Modern ){
        @keyframes cs{
            0%   { opacity:1; }
            50%  { opacity:1; }
            51%  { opacity:0; }
            100% { opacity:0; }
        }
    }

    @include forced-colors(ms) {
        .pbChrCS:after {
            @include css-hack(onlyEdgeHTML) {
                animation : none; // 2.
            }
        }
    }
}