/*  gif である cursol を奥へ
--------------------------------------------------------------------------------------*/
/* //_{@ie7,@ie8 */
    .pbLCD b {
        z-index : 2;
    }
    .pbLCD .pbChrCS {
        /* //_{@ie8 */
        z-index : 0;
        /* //_}@ie8 */
        /* //_{@ie7 */
        z-index : -1;
        /* //_}@ie7 */
    }

/*  Opacity
--------------------------------------------------------------------------------------*/
/* //_{@ie8 */
    .pbAlp1:after, .pbAlp9[pbGhos]:before {
        left : -180px;
    }
    .pbAlp2:after, .pbAlp8[pbGhos]:before {
        left : -160px;
    }
    .pbAlp3:after, .pbAlp7[pbGhos]:before {
        left : -140px;
    }
    .pbAlp4:after, .pbAlp6[pbGhos]:before {
        left : -120px;
    }
    .pbAlp5:after {
        left : -100px;
    }
    .pbAlp6:after {
        left : -80px;
    }
    .pbAlp7:after {
        left : -60px;
    }
    .pbAlp8:after {
        left : -40px;
    }
    .pbAlp9:after {
        left : -20px;
    }
/* //_}@ie8 */

/* //_{@ie7 */
    .pbAlp1 {
        background-position-x : -180px;
    }
    .pbAlp2 {
        background-position-x : -160px;
    }
    .pbAlp3 {
        background-position-x : -140px;
    }
    .pbAlp4 {
        background-position-x : -120px;
    }
    .pbAlp5 {
        background-position-x : -100px;
    }
    .pbAlp6 {
        background-position-x : -80px;
    }
    .pbAlp7 {
        background-position-x : -60px;
    }
    .pbAlp8 {
        background-position-x : -40px;
    }
    .pbAlp9 {
        background-position-x : -20px;
    }
/* //_}@ie7 */

/* //_}@ie7,@ie8 */